# HW3: Netflix Data Analysis

In this homework assignment, you will analyze the netflix prize data. The data consist of 100,480,50 movie ratings on a scale from 0 to 5 stars. The reveiws are distributed across 17,770 movies and 480,189. We have provided the training data as a sparse matrix where the row corresponds to the movie ID and the column corresponds to the user ID. A seperate file contains the title and year of release for each movie. The original, raw data consists of multiple lists of tuples; each list is a separate movie and each tuple is User ID, Rating, and Rating Year. 
The original data can be downloaded here: https://archive.org/download/nf_prize_dataset.tar
Further information about the netflix prize is available online: 
https://en.wikipedia.org/wiki/Netflix_Prize
https://www.netflixprize.com/

In [2]:
import time
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
import scipy.sparse
from scipy import stats
from sklearn import metrics
from sklearn.cluster import KMeans, MiniBatchKMeans, DBSCAN, SpectralClustering, AgglomerativeClustering
from sklearn.decomposition import TruncatedSVD
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score
from sklearn.model_selection import train_test_split

In [3]:
# This file consists of titles and release years associated with each ID
movie_titles = pd.read_csv('movie_titles.txt', header = None, names = ['ID','Year','Name'], encoding='latin-1')
print(movie_titles.head())
print(movie_titles.shape)

movie_by_id = {}
for id, name, year in zip(movie_titles['ID'], movie_titles['Name'], movie_titles['Year']):
    if not (np.isnan(year)):
        year = str(int(year))
    else:
        year = 'NaN'
    movie_by_id[id] = name + ' ' + '(' + year + ')'

   ID    Year                          Name
0   1  2003.0               Dinosaur Planet
1   2  2004.0    Isle of Man TT 2004 Review
2   3  1997.0                     Character
3   4  1994.0  Paula Abdul's Get Up & Dance
4   5  2004.0      The Rise and Fall of ECW
(17770, 3)

In [4]:
# This file is a sparse matrix of movies by user, with each element a rating (1-5) or nonresponse (0)
ratings_csr = scipy.sparse.load_npz('netflix_full_csr.npz')
print(ratings_csr.shape)

(17771, 2649430)

To avoid memory overflow errors we have randomly subsampled the data. Some computers can handle the full dataset (e.g. 2017 Macbook Pro can perform SVD on the full dataset). Older computers likely need to subsample the data. You can consider using Princeton computing resources and clusters to perform more computationally expensive analysis.

In [5]:
#n_samples = 5000
#n_viewers = 500000
#random_sample_movies = np.random.choice(17771, size = n_samples)
#random_sample_viewers = np.random.choice(2649430, size = n_viewers)
#ratings_small = ratings_csr[:,random_sample_viewers]

In [80]:
# Filter the matrix to remove rows with NO REVIEWS
start = time.time()
ratings_csc = ratings_csr.T
print('before removing users with no reviews: ', ratings_csc.shape)
non_zero_users_csc = ratings_csc[(ratings_csc.getnnz(axis=1) != 0)]
print(non_zero_users_csc.shape)

finish = time.time()
print('finished reduction in %.2f seconds' % (finish - start))
ratings_small = non_zero_users_csc

before removing users with no reviews:  (2649430, 17771)
(480189, 17771)
finished reduction in 23.21 seconds
(480189, 10)
finished svd in 19.60 seconds

In [144]:
start = time.time()
svd = TruncatedSVD(n_components = 15, algorithm="arpack", random_state=0)
all_users_small = svd.fit_transform(ratings_small)
finish = time.time()
print(all_users_small.shape)
print('finished svd in %.2f seconds' % (finish - start))

(480189, 15)
finished svd in 29.56 seconds

In [145]:
start = time.time()
kmeans_all_users = KMeans(n_clusters = 20 , random_state=0, algorithm="full")
kmeans_all_users.fit(all_users_small)
finish = time.time()
print('finished clustering in %.2f seconds' % (finish - start))
clusters_all_users = kmeans_all_users.labels_
clusters, counts = np.unique(clusters_all_users, return_counts=True)
print(counts)

finished clustering in 254.06 seconds
[  6760 160940   6160   5905  16404   2944  21565   7315   4781  18507
  11498  44379  13283   7477  13423  27054  62848   2864  34190  11892]

A common methods for analyzing large datasets is dimension reduction. Here we perform a truncated SVD suited for sparse datasets and analyze which movies are associated with different latent dimensions

In [149]:
y_pred_mode = []
y_pred_mean = []
y_test_all = []
for id in range(1777):
    movie_id = id
    num_reviews = ratings_small[:,movie_id].count_nonzero()
    movie_name = movie_titles[movie_titles['ID'] == movie_id]['Name']
    print ('Movie #%s, %s, average rating: %.2f in %i reviews' % (
        movie_id,
        movie_name,
        np.sum(ratings_small[:,movie_id]) / num_reviews,
        int(num_reviews)
    ))
    
    start = time.time()
    filter_by = np.ravel((ratings_small[:,movie_id] != 0.0).toarray())
    filtered_clusters = clusters_all_users[filter_by]
    filtered_ratings = ratings_small[filter_by,:]
    
    movie_mask = np.ravel(np.full((filtered_ratings.shape[1], 1), True))
    movie_mask[movie_id] = False
    X = filtered_ratings[:,movie_mask]
    y = filtered_ratings[:,movie_id].toarray()

    
    #y_and_c = np.transpose(np.vstack([np.ravel(y), filtered_clusters]))
    print(X.shape)
    print(y.shape)
    #print(y_and_c.shape)
    
    X_train, X_test, y_train, y_test, c_train, c_test = train_test_split(X, y, filtered_clusters, test_size=0.2, random_state=0)
    
    for (cluster, review) in zip(c_test, y_test):
        y_test_all.append(review)
        cluster_reviews = y_train[c_train == cluster]
        mode, _ = stats.mode(y_train, axis =None)
        mode_all = mode[0]
        mean_all = np.mean(y_train)
        
        if len(cluster_reviews) != 0:
            mode, _ = stats.mode(cluster_reviews, axis =None)
            y_pred_mode.append(mode[0])
            y_pred_mean.append(np.mean(cluster_reviews))
        else:
            mode, _ = stats.mode(y_train, axis =None)
            y_pred_mode.append(mode_all)
            y_pred_mean.append(mean_all)
    
print('Variance score mean: %.2f' % r2_score(y_test_all, y_pred_mean))
print('Variance score mode: %.2f' % r2_score(y_test_all, y_pred_mode))
print('MSE mean: %.2f' % mean_squared_error(y_test_all, y_pred_mean))
print('MSE mode: %.2f' % mean_squared_error(y_test_all, y_pred_mode))
print()

/Users/Cat/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: RuntimeWarning: invalid value encountered in true_divide
  # This is added back by InteractiveShellApp.init_path()

Movie #0, Series([], Name: Name, dtype: object), average rating: nan in 0 reviews
(0, 17770)
(0, 1)
Movie #1, 0    Dinosaur Planet
Name: Name, dtype: object, average rating: 3.75 in 547 reviews
(547, 17770)
(547, 1)
Movie #2, 1    Isle of Man TT 2004 Review
Name: Name, dtype: object, average rating: 3.56 in 145 reviews
(145, 17770)
(145, 1)
Movie #3, 2    Character
Name: Name, dtype: object, average rating: 3.64 in 2012 reviews
(2012, 17770)
(2012, 1)
Movie #4, 3    Paula Abdul's Get Up & Dance
Name: Name, dtype: object, average rating: 2.74 in 142 reviews
(142, 17770)
(142, 1)
Movie #5, 4    The Rise and Fall of ECW
Name: Name, dtype: object, average rating: 3.92 in 1140 reviews
(1140, 17770)
(1140, 1)
Movie #6, 5    Sick
Name: Name, dtype: object, average rating: 3.08 in 1019 reviews
(1019, 17770)
(1019, 1)
Movie #7, 6    8 Man
Name: Name, dtype: object, average rating: 2.13 in 93 reviews
(93, 17770)
(93, 1)
Movie #8, 7    What the #$*! Do We Know!?
Name: Name, dtype: object, average rating: 3.19 in 14910 reviews
(14910, 17770)
(14910, 1)
Movie #9, 8    Class of Nuke 'Em High 2
Name: Name, dtype: object, average rating: 2.62 in 95 reviews
(95, 17770)
(95, 1)
Movie #10, 9    Fighter
Name: Name, dtype: object, average rating: 3.18 in 249 reviews
(249, 17770)
(249, 1)
Movie #11, 10    Full Frame: Documentary Shorts
Name: Name, dtype: object, average rating: 3.03 in 198 reviews
(198, 17770)
(198, 1)
Movie #12, 11    My Favorite Brunette
Name: Name, dtype: object, average rating: 3.42 in 546 reviews
(546, 17770)
(546, 1)
Movie #13, 12    Lord of the Rings: The Return of the King: Ext...
Name: Name, dtype: object, average rating: 4.55 in 125 reviews
(125, 17770)
(125, 1)
Movie #14, 13    Nature: Antarctica
Name: Name, dtype: object, average rating: 3.03 in 118 reviews
(118, 17770)
(118, 1)
Movie #15, 14    Neil Diamond: Greatest Hits Live
Name: Name, dtype: object, average rating: 3.29 in 290 reviews
(290, 17770)
(290, 1)
Movie #16, 15    Screamers
Name: Name, dtype: object, average rating: 3.10 in 2699 reviews
(2699, 17770)
(2699, 1)
Movie #17, 16    7 Seconds
Name: Name, dtype: object, average rating: 2.90 in 7108 reviews
(7108, 17770)
(7108, 1)
Movie #18, 17    Immortal Beloved
Name: Name, dtype: object, average rating: 3.78 in 10722 reviews
(10722, 17770)
(10722, 1)
Movie #19, 18    By Dawn's Early Light
Name: Name, dtype: object, average rating: 3.32 in 539 reviews
(539, 17770)
(539, 1)
Movie #20, 19    Seeta Aur Geeta
Name: Name, dtype: object, average rating: 3.15 in 116 reviews
(116, 17770)
(116, 1)
Movie #21, 20    Strange Relations
Name: Name, dtype: object, average rating: 3.46 in 218 reviews
(218, 17770)
(218, 1)
Movie #22, 21    Chump Change
Name: Name, dtype: object, average rating: 2.25 in 203 reviews
(203, 17770)
(203, 1)
Movie #23, 22    Clifford: Clifford Saves the Day! / Clifford's...
Name: Name, dtype: object, average rating: 3.56 in 615 reviews
(615, 17770)
(615, 1)
Movie #24, 23    My Bloody Valentine
Name: Name, dtype: object, average rating: 2.99 in 1333 reviews
(1333, 17770)
(1333, 1)
Movie #25, 24    Inspector Morse 31: Death Is Now My Neighbour
Name: Name, dtype: object, average rating: 3.97 in 1207 reviews
(1207, 17770)
(1207, 1)
Movie #26, 25    Never Die Alone
Name: Name, dtype: object, average rating: 2.79 in 5861 reviews
(5861, 17770)
(5861, 1)
Movie #27, 26    Sesame Street: Elmo's World: The Street We Liv...
Name: Name, dtype: object, average rating: 3.53 in 273 reviews
(273, 17770)
(273, 1)
Movie #28, 27    Lilo and Stitch
Name: Name, dtype: object, average rating: 3.82 in 39752 reviews
(39752, 17770)
(39752, 1)
Movie #29, 28    Boycott
Name: Name, dtype: object, average rating: 3.60 in 523 reviews
(523, 17770)
(523, 1)
Movie #30, 29    Something's Gotta Give
Name: Name, dtype: object, average rating: 3.76 in 118413 reviews
(118413, 17770)
(118413, 1)
Movie #31, 30    Classic Albums: Meat Loaf: Bat Out of Hell
Name: Name, dtype: object, average rating: 3.05 in 221 reviews
(221, 17770)
(221, 1)
Movie #32, 31    ABC Primetime: Mel Gibson's The Passion of the...
Name: Name, dtype: object, average rating: 4.07 in 1854 reviews
(1854, 17770)
(1854, 1)
Movie #33, 32    Aqua Teen Hunger Force: Vol. 1
Name: Name, dtype: object, average rating: 4.17 in 6890 reviews
(6890, 17770)
(6890, 1)
Movie #34, 33    Ashtanga Yoga: Beginner's Practice with Nicki ...
Name: Name, dtype: object, average rating: 2.71 in 108 reviews
(108, 17770)
(108, 1)
Movie #35, 34    Ferngully 2: The Magical Rescue
Name: Name, dtype: object, average rating: 3.15 in 839 reviews
(839, 17770)
(839, 1)
Movie #36, 35    Lady Chatterley
Name: Name, dtype: object, average rating: 3.02 in 939 reviews
(939, 17770)
(939, 1)
Movie #37, 36    Zatoichi's Conspiracy
Name: Name, dtype: object, average rating: 3.99 in 281 reviews
(281, 17770)
(281, 1)
Movie #38, 37    Daydream Obsession
Name: Name, dtype: object, average rating: 2.05 in 802 reviews
(802, 17770)
(802, 1)
Movie #39, 38    Love Reinvented
Name: Name, dtype: object, average rating: 2.44 in 752 reviews
(752, 17770)
(752, 1)
Movie #40, 39    Pitcher and the Pin-Up
Name: Name, dtype: object, average rating: 2.92 in 491 reviews
(491, 17770)
(491, 1)
Movie #41, 40    Horror Vision
Name: Name, dtype: object, average rating: 1.63 in 93 reviews
(93, 17770)
(93, 1)
Movie #42, 41    Searching for Paradise
Name: Name, dtype: object, average rating: 2.33 in 128 reviews
(128, 17770)
(128, 1)
Movie #43, 42    Silent Service
Name: Name, dtype: object, average rating: 2.57 in 105 reviews
(105, 17770)
(105, 1)
Movie #44, 43    Spitfire Grill
Name: Name, dtype: object, average rating: 3.68 in 8501 reviews
(8501, 17770)
(8501, 1)
Movie #45, 44    The Love Letter
Name: Name, dtype: object, average rating: 2.97 in 2619 reviews
(2619, 17770)
(2619, 1)
Movie #46, 45    Rudolph the Red-Nosed Reindeer
Name: Name, dtype: object, average rating: 3.81 in 6558 reviews
(6558, 17770)
(6558, 1)
Movie #47, 46    The Bad and the Beautiful
Name: Name, dtype: object, average rating: 3.27 in 2350 reviews
(2350, 17770)
(2350, 1)
Movie #48, 47    Justice League
Name: Name, dtype: object, average rating: 3.71 in 3591 reviews
(3591, 17770)
(3591, 1)
Movie #49, 48    Devo: The Complete Truth About De-evolution
Name: Name, dtype: object, average rating: 3.67 in 231 reviews
(231, 17770)
(231, 1)
Movie #50, 49    A Yank in the R.A.F.
Name: Name, dtype: object, average rating: 3.03 in 328 reviews
(328, 17770)
(328, 1)
Movie #51, 50    Jonah: A VeggieTales Movie: Bonus Material
Name: Name, dtype: object, average rating: 3.57 in 90 reviews
(90, 17770)
(90, 1)
Movie #52, 51    The Weather Underground
Name: Name, dtype: object, average rating: 3.76 in 5147 reviews
(5147, 17770)
(5147, 1)
Movie #53, 52    The Bonesetter
Name: Name, dtype: object, average rating: 1.68 in 114 reviews
(114, 17770)
(114, 1)
Movie #54, 53    We're Not Married
Name: Name, dtype: object, average rating: 2.99 in 159 reviews
(159, 17770)
(159, 1)
Movie #55, 54    Jade
Name: Name, dtype: object, average rating: 3.02 in 2406 reviews
(2406, 17770)
(2406, 1)
Movie #56, 55    Carandiru
Name: Name, dtype: object, average rating: 3.65 in 1833 reviews
(1833, 17770)
(1833, 1)
Movie #57, 56    Richard III
Name: Name, dtype: object, average rating: 3.68 in 3562 reviews
(3562, 17770)
(3562, 1)
Movie #58, 57    Dragonheart
Name: Name, dtype: object, average rating: 3.61 in 17405 reviews
(17405, 17770)
(17405, 1)
Movie #59, 58    Sex and the Beauties
Name: Name, dtype: object, average rating: 2.79 in 204 reviews
(204, 17770)
(204, 1)
Movie #60, 59    The Libertine
Name: Name, dtype: object, average rating: 2.15 in 295 reviews
(295, 17770)
(295, 1)
Movie #61, 60    Ricky Martin: One Night Only
Name: Name, dtype: object, average rating: 2.95 in 147 reviews
(147, 17770)
(147, 1)
Movie #62, 61    Ken Burns' America: Empire of the Air
Name: Name, dtype: object, average rating: 3.62 in 290 reviews
(290, 17770)
(290, 1)
Movie #63, 62    Crash Dive
Name: Name, dtype: object, average rating: 3.25 in 184 reviews
(184, 17770)
(184, 1)
Movie #64, 63    Outside the Law
Name: Name, dtype: object, average rating: 2.42 in 95 reviews
(95, 17770)
(95, 1)
Movie #65, 64    Lost in the Pershing Point Hotel
Name: Name, dtype: object, average rating: 2.33 in 258 reviews

(258, 17770)
(258, 1)
Movie #66, 65    Barbarian Queen 2
Name: Name, dtype: object, average rating: 2.30 in 166 reviews
(166, 17770)
(166, 1)
Movie #67, 66    Vampire Journals
Name: Name, dtype: object, average rating: 2.56 in 289 reviews
(289, 17770)
(289, 1)
Movie #68, 67    Invader Zim
Name: Name, dtype: object, average rating: 4.14 in 2216 reviews
(2216, 17770)
(2216, 1)
Movie #69, 68    WWE: Armageddon 2003
Name: Name, dtype: object, average rating: 3.29 in 116 reviews
(116, 17770)
(116, 1)
Movie #70, 69    Tai Chi: The 24 Forms
Name: Name, dtype: object, average rating: 2.73 in 343 reviews
(343, 17770)
(343, 1)
Movie #71, 70    Maya Lin: A Strong Clear Vision
Name: Name, dtype: object, average rating: 3.77 in 1561 reviews
(1561, 17770)
(1561, 1)
Movie #72, 71    At Home Among Strangers
Name: Name, dtype: object, average rating: 3.15 in 179 reviews
(179, 17770)
(179, 1)
Movie #73, 72    Davy Crockett: 50th Anniversary Double Feature
Name: Name, dtype: object, average rating: 3.89 in 747 reviews
(747, 17770)
(747, 1)
Movie #74, 73    6ixtynin9
Name: Name, dtype: object, average rating: 3.19 in 388 reviews
(388, 17770)
(388, 1)
Movie #75, 74    Grind
Name: Name, dtype: object, average rating: 2.57 in 219 reviews
(219, 17770)
(219, 1)
Movie #76, 75    I Love Lucy: Season 2
Name: Name, dtype: object, average rating: 4.09 in 2954 reviews
(2954, 17770)
(2954, 1)
Movie #77, 76    Congo
Name: Name, dtype: object, average rating: 2.85 in 13598 reviews
(13598, 17770)
(13598, 1)
Movie #78, 77    Jingle All the Way
Name: Name, dtype: object, average rating: 2.94 in 4850 reviews
(4850, 17770)
(4850, 1)
Movie #79, 78    The Killing
Name: Name, dtype: object, average rating: 3.77 in 3397 reviews
(3397, 17770)
(3397, 1)
Movie #80, 79    Winter Kills
Name: Name, dtype: object, average rating: 2.80 in 274 reviews
(274, 17770)
(274, 1)
Movie #81, 80    Antarctica: IMAX
Name: Name, dtype: object, average rating: 3.44 in 1249 reviews
(1249, 17770)
(1249, 1)
Movie #82, 81    The Frogmen
Name: Name, dtype: object, average rating: 3.04 in 119 reviews
(119, 17770)
(119, 1)
Movie #83, 82    Silkwood
Name: Name, dtype: object, average rating: 3.73 in 18724 reviews
(18724, 17770)
(18724, 1)
Movie #84, 83    The Powerpuff Girls Movie
Name: Name, dtype: object, average rating: 3.22 in 2752 reviews
(2752, 17770)
(2752, 1)
Movie #85, 84    Elfen Lied
Name: Name, dtype: object, average rating: 4.25 in 266 reviews
(266, 17770)
(266, 1)
Movie #86, 85    Iron Monkey 2
Name: Name, dtype: object, average rating: 1.95 in 176 reviews
(176, 17770)
(176, 1)
Movie #87, 86    Louder Than Bombs
Name: Name, dtype: object, average rating: 2.81 in 117 reviews
(117, 17770)
(117, 1)
Movie #88, 87    Record of Lodoss War: Chronicles of the Heroic...
Name: Name, dtype: object, average rating: 3.84 in 978 reviews
(978, 17770)
(978, 1)
Movie #89, 88    Chain of Command
Name: Name, dtype: object, average rating: 2.69 in 878 reviews
(878, 17770)
(878, 1)
Movie #90, 89    The Lemon Drop Kid
Name: Name, dtype: object, average rating: 3.50 in 625 reviews
(625, 17770)
(625, 1)
Movie #91, 90    WWE: Royal Rumble 2005
Name: Name, dtype: object, average rating: 3.90 in 567 reviews
(567, 17770)
(567, 1)
Movie #92, 91    ECW: Cyberslam '99
Name: Name, dtype: object, average rating: 3.57 in 161 reviews
(161, 17770)
(161, 1)
Movie #93, 92    They Came Back
Name: Name, dtype: object, average rating: 2.69 in 174 reviews
(174, 17770)
(174, 1)
Movie #94, 93    G3: Live in Concert
Name: Name, dtype: object, average rating: 3.68 in 342 reviews
(342, 17770)
(342, 1)
Movie #95, 94    Dona Herlinda and Her Son
Name: Name, dtype: object, average rating: 2.58 in 935 reviews
(935, 17770)
(935, 1)
Movie #96, 95    Inside the Space Station
Name: Name, dtype: object, average rating: 3.37 in 488 reviews
(488, 17770)
(488, 1)
Movie #97, 96    Mostly Martha
Name: Name, dtype: object, average rating: 3.87 in 11508 reviews
(11508, 17770)
(11508, 1)
Movie #98, 97    The Battle of Algiers: Bonus Material
Name: Name, dtype: object, average rating: 3.92 in 130 reviews
(130, 17770)
(130, 1)
Movie #99, 98    A Fishy Story
Name: Name, dtype: object, average rating: 2.42 in 126 reviews
(126, 17770)
(126, 1)
Movie #100, 99    Sam the Iron Bridge
Name: Name, dtype: object, average rating: 2.65 in 78 reviews
(78, 17770)
(78, 1)
Movie #101, 100    Complete Shamanic Princess
Name: Name, dtype: object, average rating: 3.37 in 330 reviews
(330, 17770)
(330, 1)
Movie #102, 101    Notre Musique
Name: Name, dtype: object, average rating: 2.74 in 330 reviews
(330, 17770)
(330, 1)
Movie #103, 102    Sanford and Son: Season 6
Name: Name, dtype: object, average rating: 3.66 in 209 reviews
(209, 17770)
(209, 1)
Movie #104, 103    The Great Race
Name: Name, dtype: object, average rating: 3.70 in 3500 reviews
(3500, 17770)
(3500, 1)
Movie #105, 104    Obsessed
Name: Name, dtype: object, average rating: 3.13 in 192 reviews
(192, 17770)
(192, 1)
Movie #106, 105    Stevie Ray Vaughan and Double Trouble: Live at...
Name: Name, dtype: object, average rating: 4.10 in 940 reviews
(940, 17770)
(940, 1)
Movie #107, 106    Magnolia: Bonus Material
Name: Name, dtype: object, average rating: 3.35 in 829 reviews
(829, 17770)
(829, 1)
Movie #108, 107    Spartan
Name: Name, dtype: object, average rating: 3.17 in 19018 reviews
(19018, 17770)
(19018, 1)
Movie #109, 108    No Way Back
Name: Name, dtype: object, average rating: 2.68 in 545 reviews
(545, 17770)
(545, 1)
Movie #110, 109    Scandal
Name: Name, dtype: object, average rating: 3.03 in 2159 reviews
(2159, 17770)
(2159, 1)
Movie #111, 110    Duplex (Widescreen)
Name: Name, dtype: object, average rating: 3.08 in 30127 reviews
(30127, 17770)
(30127, 1)
Movie #112, 111    The Eye of Vichy
Name: Name, dtype: object, average rating: 3.00 in 239 reviews
(239, 17770)
(239, 1)
Movie #113, 112    Bruce Lee: A Warrior's Journey
Name: Name, dtype: object, average rating: 3.89 in 1393 reviews
(1393, 17770)
(1393, 1)
Movie #114, 113    Dominion Tank Police Part 1 & 2
Name: Name, dtype: object, average rating: 3.37 in 428 reviews
(428, 17770)
(428, 1)
Movie #115, 114    Lord Peter Wimsey: Murder Must Advertise
Name: Name, dtype: object, average rating: 3.54 in 666 reviews
(666, 17770)
(666, 1)
Movie #116, 115    Bear Cub
Name: Name, dtype: object, average rating: 3.54 in 1126 reviews
(1126, 17770)
(1126, 1)
Movie #117, 116    Silk Stockings
Name: Name, dtype: object, average rating: 3.46 in 981 reviews
(981, 17770)
(981, 1)
Movie #118, 117    Rambo: First Blood Part II
Name: Name, dtype: object, average rating: 3.43 in 19240 reviews
(19240, 17770)
(19240, 1)
Movie #119, 118    Travel the World by Train: Africa
Name: Name, dtype: object, average rating: 2.70 in 96 reviews
(96, 17770)
(96, 1)
Movie #120, 119    Plain Dirty
Name: Name, dtype: object, average rating: 2.42 in 339 reviews
(339, 17770)
(339, 1)
Movie #121, 120    Beyonce: Live at Wembley
Name: Name, dtype: object, average rating: 3.62 in 99 reviews
(99, 17770)
(99, 1)
Movie #122, 121    Cube 2: Hypercube
Name: Name, dtype: object, average rating: 2.91 in 3382 reviews
(3382, 17770)
(3382, 1)
Movie #123, 122    Chain of Fools
Name: Name, dtype: object, average rating: 2.83 in 276 reviews
(276, 17770)
(276, 1)
Movie #124, 123    Cold Blooded
Name: Name, dtype: object, average rating: 2.27 in 169 reviews
(169, 17770)
(169, 1)
Movie #125, 124    Nighthawks
Name: Name, dtype: object, average rating: 3.37 in 1729 reviews
(1729, 17770)
(1729, 1)
Movie #126, 125    Vampire Effect (aka Twins Effect)
Name: Name, dtype: object, average rating: 3.20 in 1184 reviews
(1184, 17770)
(1184, 1)
Movie #127, 126    Fatal Beauty
Name: Name, dtype: object, average rating: 2.63 in 3014 reviews
(3014, 17770)
(3014, 1)
Movie #128, 127    Mr. Vampire
Name: Name, dtype: object, average rating: 3.22 in 417 reviews
(417, 17770)
(417, 1)
Movie #129, 128    Darkwolf
Name: Name, dtype: object, average rating: 2.15 in 756 reviews
(756, 17770)
(756, 1)
Movie #130, 129    Drowning on Dry Land
Name: Name, dtype: object, average rating: 2.23 in 86 reviews
(86, 17770)
(86, 1)
Movie #131, 130    Arachnid
Name: Name, dtype: object, average rating: 2.70 in 705 reviews
(705, 17770)
(705, 1)
Movie #132, 131    Lucio Fulci: The Beyond
Name: Name, dtype: object, average rating: 3.07 in 830 reviews

(830, 17770)
(830, 1)
Movie #133, 132    Viva La Bam: Season 1
Name: Name, dtype: object, average rating: 3.74 in 2563 reviews
(2563, 17770)
(2563, 1)
Movie #134, 133    Spirit Lost
Name: Name, dtype: object, average rating: 2.13 in 99 reviews
(99, 17770)
(99, 1)
Movie #135, 134    GTO: Great Teacher Onizuka: Set 2
Name: Name, dtype: object, average rating: 4.14 in 384 reviews
(384, 17770)
(384, 1)
Movie #136, 135    Cat and the Canary
Name: Name, dtype: object, average rating: 2.98 in 120 reviews
(120, 17770)
(120, 1)
Movie #137, 136    Naked Lies
Name: Name, dtype: object, average rating: 2.39 in 204 reviews
(204, 17770)
(204, 1)
Movie #138, 137    Star Trek: Voyager: Season 1
Name: Name, dtype: object, average rating: 3.94 in 6007 reviews
(6007, 17770)
(6007, 1)
Movie #139, 138    Allergies: A Natural Approach
Name: Name, dtype: object, average rating: 2.51 in 96 reviews
(96, 17770)
(96, 1)
Movie #140, 139    Lost in the Wild
Name: Name, dtype: object, average rating: 2.53 in 119 reviews
(119, 17770)
(119, 1)
Movie #141, 140    Goddess of Mercy
Name: Name, dtype: object, average rating: 2.98 in 126 reviews
(126, 17770)
(126, 1)
Movie #142, 141    The Tricky Master
Name: Name, dtype: object, average rating: 2.81 in 326 reviews
(326, 17770)
(326, 1)
Movie #143, 142    The Game
Name: Name, dtype: object, average rating: 3.85 in 38362 reviews
(38362, 17770)
(38362, 1)
Movie #144, 143    Deepak Chopra: The Way of the Wizard & Alchemy
Name: Name, dtype: object, average rating: 3.20 in 289 reviews
(289, 17770)
(289, 1)
Movie #145, 144    Get Out Your Handkerchiefs
Name: Name, dtype: object, average rating: 3.07 in 455 reviews
(455, 17770)
(455, 1)
Movie #146, 145    Cannibal Women in the Avocado Jungle of Death
Name: Name, dtype: object, average rating: 2.42 in 366 reviews
(366, 17770)
(366, 1)
Movie #147, 146    Where Sleeping Dogs Lie
Name: Name, dtype: object, average rating: 2.17 in 131 reviews
(131, 17770)
(131, 1)
Movie #148, 147    Sweet November
Name: Name, dtype: object, average rating: 3.30 in 22194 reviews
(22194, 17770)
(22194, 1)
Movie #149, 148    The Edward R. Murrow Collection
Name: Name, dtype: object, average rating: 3.02 in 62 reviews
(62, 17770)
(62, 1)
Movie #150, 149    Firetrap
Name: Name, dtype: object, average rating: 2.88 in 265 reviews
(265, 17770)
(265, 1)
Movie #151, 150    Sleepover Nightmare
Name: Name, dtype: object, average rating: 1.95 in 176 reviews
(176, 17770)
(176, 1)
Movie #152, 151    A Little Princess
Name: Name, dtype: object, average rating: 3.93 in 9162 reviews
(9162, 17770)
(9162, 1)
Movie #153, 152    MTV Yoga
Name: Name, dtype: object, average rating: 2.75 in 321 reviews
(321, 17770)
(321, 1)
Movie #154, 153    Demon Warrior Koji
Name: Name, dtype: object, average rating: 2.94 in 158 reviews
(158, 17770)
(158, 1)
Movie #155, 154    The Strongest Man in the World
Name: Name, dtype: object, average rating: 3.60 in 980 reviews
(980, 17770)
(980, 1)
Movie #156, 155    Husbands and Wives
Name: Name, dtype: object, average rating: 3.50 in 8179 reviews
(8179, 17770)
(8179, 1)
Movie #157, 156    Laird: White Knuckle Extreme
Name: Name, dtype: object, average rating: 3.38 in 705 reviews
(705, 17770)
(705, 1)
Movie #158, 157    A Killer Within
Name: Name, dtype: object, average rating: 2.66 in 374 reviews
(374, 17770)
(374, 1)
Movie #159, 158    Gentlemen of Fortune
Name: Name, dtype: object, average rating: 3.93 in 164 reviews
(164, 17770)
(164, 1)
Movie #160, 159    Gormenghast
Name: Name, dtype: object, average rating: 3.01 in 899 reviews
(899, 17770)
(899, 1)
Movie #161, 160    Ninotchka
Name: Name, dtype: object, average rating: 3.85 in 649 reviews
(649, 17770)
(649, 1)
Movie #162, 161    John Cleese on How to Irritate People
Name: Name, dtype: object, average rating: 2.96 in 474 reviews
(474, 17770)
(474, 1)
Movie #163, 162    MTV: Making the Band 2: Best of Season 1
Name: Name, dtype: object, average rating: 2.38 in 193 reviews
(193, 17770)
(193, 1)
Movie #164, 163    One Last Dance
Name: Name, dtype: object, average rating: 2.63 in 652 reviews
(652, 17770)
(652, 1)
Movie #165, 164    Richard Pryor: Live on the Sunset Strip
Name: Name, dtype: object, average rating: 3.92 in 4588 reviews
(4588, 17770)
(4588, 1)
Movie #166, 165    Fame
Name: Name, dtype: object, average rating: 3.56 in 9435 reviews
(9435, 17770)
(9435, 1)
Movie #167, 166    The Chorus
Name: Name, dtype: object, average rating: 4.09 in 9151 reviews
(9151, 17770)
(9151, 1)
Movie #168, 167    Smokey and the Bandit Part 3
Name: Name, dtype: object, average rating: 3.24 in 1353 reviews
(1353, 17770)
(1353, 1)
Movie #169, 168    Cartoon Network Halloween: 9 Creepy Cartoon Ca...
Name: Name, dtype: object, average rating: 3.39 in 335 reviews
(335, 17770)
(335, 1)
Movie #170, 169    Tomorrow
Name: Name, dtype: object, average rating: 3.18 in 215 reviews
(215, 17770)
(215, 1)
Movie #171, 170    Funny Face
Name: Name, dtype: object, average rating: 3.74 in 6190 reviews
(6190, 17770)
(6190, 1)
Movie #172, 171    Jack
Name: Name, dtype: object, average rating: 3.13 in 322 reviews
(322, 17770)
(322, 1)
Movie #173, 172    The Devil's Brigade
Name: Name, dtype: object, average rating: 3.54 in 2236 reviews
(2236, 17770)
(2236, 1)
Movie #174, 173    Adam-12: Season 1
Name: Name, dtype: object, average rating: 3.32 in 191 reviews
(191, 17770)
(191, 1)
Movie #175, 174    Reservoir Dogs
Name: Name, dtype: object, average rating: 4.00 in 90450 reviews
(90450, 17770)
(90450, 1)
Movie #176, 175    The History Channel Presents: Troy: Unearthing...
Name: Name, dtype: object, average rating: 3.27 in 210 reviews
(210, 17770)
(210, 1)
Movie #177, 176    Pressure
Name: Name, dtype: object, average rating: 2.68 in 241 reviews
(241, 17770)
(241, 1)
Movie #178, 177    Regular Guys
Name: Name, dtype: object, average rating: 3.37 in 1931 reviews
(1931, 17770)
(1931, 1)
Movie #179, 178    Bollywood Bound
Name: Name, dtype: object, average rating: 2.46 in 286 reviews
(286, 17770)
(286, 1)
Movie #180, 179    Scratch
Name: Name, dtype: object, average rating: 3.83 in 2418 reviews
(2418, 17770)
(2418, 1)
Movie #181, 180    The Last Shot
Name: Name, dtype: object, average rating: 2.60 in 3558 reviews
(3558, 17770)
(3558, 1)
Movie #182, 181    Moby: Play
Name: Name, dtype: object, average rating: 3.08 in 234 reviews
(234, 17770)
(234, 1)
Movie #183, 182    IFilm: Deranged
Name: Name, dtype: object, average rating: 3.01 in 163 reviews
(163, 17770)
(163, 1)
Movie #184, 183    Billy Blanks: Tae Bo: Cardio Circuit 1
Name: Name, dtype: object, average rating: 3.34 in 399 reviews
(399, 17770)
(399, 1)
Movie #185, 184    Missing in Action 2: The Beginning / Missing i...
Name: Name, dtype: object, average rating: 3.06 in 2297 reviews
(2297, 17770)
(2297, 1)
Movie #186, 185    Panic in the Streets
Name: Name, dtype: object, average rating: 3.38 in 291 reviews
(291, 17770)
(291, 1)
Movie #187, 186    Death to Smoochy
Name: Name, dtype: object, average rating: 3.01 in 20049 reviews
(20049, 17770)
(20049, 1)
Movie #188, 187    Dead Birds
Name: Name, dtype: object, average rating: 2.76 in 2549 reviews
(2549, 17770)
(2549, 1)
Movie #189, 188    Airplane II: The Sequel
Name: Name, dtype: object, average rating: 3.35 in 14137 reviews
(14137, 17770)
(14137, 1)
Movie #190, 189    Blood and Sand
Name: Name, dtype: object, average rating: 2.10 in 104 reviews
(104, 17770)
(104, 1)
Movie #191, 190    X2: X-Men United
Name: Name, dtype: object, average rating: 3.93 in 98720 reviews
(98720, 17770)
(98720, 1)
Movie #192, 191    The SoulTaker
Name: Name, dtype: object, average rating: 3.20 in 275 reviews
(275, 17770)
(275, 1)
Movie #193, 192    Marilyn Manson: Fear of a Satanic Planet
Name: Name, dtype: object, average rating: 2.98 in 121 reviews
(121, 17770)
(121, 1)
Movie #194, 193    Arliss: The Best of Arliss
Name: Name, dtype: object, average rating: 3.13 in 646 reviews
(646, 17770)
(646, 1)
Movie #195, 194    Chasing Freedom
Name: Name, dtype: object, average rating: 3.30 in 185 reviews
(185, 17770)
(185, 1)
Movie #196, 195    Peter Tosh: Stepping Razor: Red X
Name: Name, dtype: object, average rating: 3.47 in 154 reviews
(154, 17770)
(154, 1)
Movie #197, 196    Taking Lives
Name: Name, dtype: object, average rating: 3.48 in 81260 reviews

(81260, 17770)
(81260, 1)
Movie #198, 197    Gupt
Name: Name, dtype: object, average rating: 3.08 in 194 reviews
(194, 17770)
(194, 1)
Movie #199, 198    The Deer Hunter
Name: Name, dtype: object, average rating: 3.89 in 35509 reviews
(35509, 17770)
(35509, 1)
Movie #200, 199    The Fall of the Roman Empire
Name: Name, dtype: object, average rating: 3.01 in 129 reviews
(129, 17770)
(129, 1)
Movie #201, 200    Home Movie
Name: Name, dtype: object, average rating: 3.42 in 2724 reviews
(2724, 17770)
(2724, 1)
Movie #202, 201    Ruby's Bucket of Blood
Name: Name, dtype: object, average rating: 3.10 in 382 reviews
(382, 17770)
(382, 1)
Movie #203, 202    Sports Illustrated Swimsuit Edition: 1997
Name: Name, dtype: object, average rating: 3.16 in 96 reviews
(96, 17770)
(96, 1)
Movie #204, 203    Venus Boyz
Name: Name, dtype: object, average rating: 2.71 in 230 reviews
(230, 17770)
(230, 1)
Movie #205, 204    Troy: Bonus Material
Name: Name, dtype: object, average rating: 3.30 in 513 reviews
(513, 17770)
(513, 1)
Movie #206, 205    Unconstitutional: The War on Our Civil Liberties
Name: Name, dtype: object, average rating: 3.86 in 1096 reviews
(1096, 17770)
(1096, 1)
Movie #207, 206    Denise Austin: Ultimate Fat Burner
Name: Name, dtype: object, average rating: 2.86 in 258 reviews
(258, 17770)
(258, 1)
Movie #208, 207    The Three Stooges: Sing a Song of Six Pants
Name: Name, dtype: object, average rating: 3.36 in 2196 reviews
(2196, 17770)
(2196, 1)
Movie #209, 208    Star Trek: Deep Space Nine: Season 5
Name: Name, dtype: object, average rating: 4.16 in 4373 reviews
(4373, 17770)
(4373, 1)
Movie #210, 209    Onmyoji
Name: Name, dtype: object, average rating: 3.15 in 687 reviews
(687, 17770)
(687, 1)
Movie #211, 210    The Agronomist
Name: Name, dtype: object, average rating: 3.56 in 654 reviews
(654, 17770)
(654, 1)
Movie #212, 211    Querelle
Name: Name, dtype: object, average rating: 2.78 in 890 reviews
(890, 17770)
(890, 1)
Movie #213, 212    Dinner Rush
Name: Name, dtype: object, average rating: 3.47 in 3482 reviews
(3482, 17770)
(3482, 1)
Movie #214, 213    Read-Along: Beauty and the Beast
Name: Name, dtype: object, average rating: 2.92 in 124 reviews
(124, 17770)
(124, 1)
Movie #215, 214    That '70s Show: Season 1
Name: Name, dtype: object, average rating: 4.06 in 5817 reviews
(5817, 17770)
(5817, 1)
Movie #216, 215    Impostor
Name: Name, dtype: object, average rating: 3.22 in 8895 reviews
(8895, 17770)
(8895, 1)
Movie #217, 216    Cherry 2000
Name: Name, dtype: object, average rating: 2.95 in 425 reviews
(425, 17770)
(425, 1)
Movie #218, 217    Triumph: Live at the US Festival
Name: Name, dtype: object, average rating: 3.23 in 115 reviews
(115, 17770)
(115, 1)
Movie #219, 218    Neon Bible
Name: Name, dtype: object, average rating: 2.60 in 111 reviews
(111, 17770)
(111, 1)
Movie #220, 219    Winston Churchill: The Wilderness Years
Name: Name, dtype: object, average rating: 3.26 in 221 reviews
(221, 17770)
(221, 1)
Movie #221, 220    Voyage to the Planets and Beyond
Name: Name, dtype: object, average rating: 3.43 in 161 reviews
(161, 17770)
(161, 1)
Movie #222, 221    Yellow
Name: Name, dtype: object, average rating: 2.61 in 99 reviews
(99, 17770)
(99, 1)
Movie #223, 222    Chappelle's Show: Season 1
Name: Name, dtype: object, average rating: 4.21 in 24125 reviews
(24125, 17770)
(24125, 1)
Movie #224, 223    Midsomer Murders: Blood Will Out
Name: Name, dtype: object, average rating: 3.83 in 1086 reviews
(1086, 17770)
(1086, 1)
Movie #225, 224    The Cookout
Name: Name, dtype: object, average rating: 2.73 in 7395 reviews
(7395, 17770)
(7395, 1)
Movie #226, 225    Henry: Portrait of a Serial Killer 2
Name: Name, dtype: object, average rating: 2.44 in 189 reviews
(189, 17770)
(189, 1)
Movie #227, 226    The Carol Burnett Show: Show Stoppers
Name: Name, dtype: object, average rating: 3.42 in 1330 reviews
(1330, 17770)
(1330, 1)
Movie #228, 227    Butch and Sundance: The Early Days
Name: Name, dtype: object, average rating: 2.83 in 95 reviews
(95, 17770)
(95, 1)
Movie #229, 228    Peter Gabriel: Growing Up Live
Name: Name, dtype: object, average rating: 3.83 in 652 reviews
(652, 17770)
(652, 1)
Movie #230, 229    Unsolved Mysteries: Psychics
Name: Name, dtype: object, average rating: 3.10 in 126 reviews
(126, 17770)
(126, 1)
Movie #231, 230    Marooned in Iraq
Name: Name, dtype: object, average rating: 2.94 in 768 reviews
(768, 17770)
(768, 1)
Movie #232, 231    Gross Anatomy
Name: Name, dtype: object, average rating: 3.18 in 4976 reviews
(4976, 17770)
(4976, 1)
Movie #233, 232    Chato's Land
Name: Name, dtype: object, average rating: 3.24 in 418 reviews
(418, 17770)
(418, 1)
Movie #234, 233    Animation Legend: Winsor McCay
Name: Name, dtype: object, average rating: 2.97 in 97 reviews
(97, 17770)
(97, 1)
Movie #235, 234    Unhook the Stars
Name: Name, dtype: object, average rating: 3.02 in 442 reviews
(442, 17770)
(442, 1)
Movie #236, 235    Cartoon Crazys Sci-Fi
Name: Name, dtype: object, average rating: 2.32 in 125 reviews
(125, 17770)
(125, 1)
Movie #237, 236    Broken Blossoms
Name: Name, dtype: object, average rating: 3.40 in 348 reviews
(348, 17770)
(348, 1)
Movie #238, 237    Led Zeppelin: The Song Remains the Same
Name: Name, dtype: object, average rating: 3.68 in 2335 reviews
(2335, 17770)
(2335, 1)
Movie #239, 238    Winnie the Pooh: Springtime with Roo
Name: Name, dtype: object, average rating: 3.77 in 2190 reviews
(2190, 17770)
(2190, 1)
Movie #240, 239    Woman of the Year
Name: Name, dtype: object, average rating: 3.95 in 5184 reviews
(5184, 17770)
(5184, 1)
Movie #241, 240    North by Northwest
Name: Name, dtype: object, average rating: 4.16 in 43122 reviews
(43122, 17770)
(43122, 1)
Movie #242, 241    Neon Genesis Evangelion: The End of Evangelion
Name: Name, dtype: object, average rating: 3.91 in 2375 reviews
(2375, 17770)
(2375, 1)
Movie #243, 242    Pressure Point
Name: Name, dtype: object, average rating: 3.03 in 119 reviews
(119, 17770)
(119, 1)
Movie #244, 243    Stellvia
Name: Name, dtype: object, average rating: 3.87 in 105 reviews
(105, 17770)
(105, 1)
Movie #245, 244    Road Dogz
Name: Name, dtype: object, average rating: 2.78 in 91 reviews
(91, 17770)
(91, 1)
Movie #246, 245    The Boston Strangler
Name: Name, dtype: object, average rating: 3.12 in 431 reviews
(431, 17770)
(431, 1)
Movie #247, 246    Oleanna
Name: Name, dtype: object, average rating: 3.03 in 653 reviews
(653, 17770)
(653, 1)
Movie #248, 247    Michael Moore's The Awful Truth: Season 2
Name: Name, dtype: object, average rating: 3.63 in 6161 reviews
(6161, 17770)
(6161, 1)
Movie #249, 248    The Hunters
Name: Name, dtype: object, average rating: 3.18 in 197 reviews
(197, 17770)
(197, 1)
Movie #250, 249    Cast a Giant Shadow
Name: Name, dtype: object, average rating: 3.44 in 773 reviews
(773, 17770)
(773, 1)
Movie #251, 250    Midsomer Murders: Strangler's Wood
Name: Name, dtype: object, average rating: 3.88 in 1204 reviews
(1204, 17770)
(1204, 1)
Movie #252, 251    Stuart Little 2
Name: Name, dtype: object, average rating: 3.39 in 24387 reviews
(24387, 17770)
(24387, 1)
Movie #253, 252    A Night at the Opera
Name: Name, dtype: object, average rating: 4.07 in 5050 reviews
(5050, 17770)
(5050, 1)
Movie #254, 253    Westender
Name: Name, dtype: object, average rating: 2.04 in 190 reviews
(190, 17770)
(190, 1)
Movie #255, 254    The Hunchback of Notre Dame II
Name: Name, dtype: object, average rating: 3.14 in 4586 reviews
(4586, 17770)
(4586, 1)
Movie #256, 255    Ghost Dog: The Way of the Samurai
Name: Name, dtype: object, average rating: 3.44 in 12264 reviews
(12264, 17770)
(12264, 1)
Movie #257, 256    Charlotte's Web
Name: Name, dtype: object, average rating: 3.91 in 27357 reviews
(27357, 17770)
(27357, 1)
Movie #258, 257    Mann
Name: Name, dtype: object, average rating: 2.95 in 164 reviews
(164, 17770)
(164, 1)
Movie #259, 258    Animal
Name: Name, dtype: object, average rating: 3.22 in 876 reviews
(876, 17770)
(876, 1)
Movie #260, 259    Marat / Sade
Name: Name, dtype: object, average rating: 3.16 in 205 reviews
(205, 17770)
(205, 1)
Movie #261, 260    The Big Clock
Name: Name, dtype: object, average rating: 3.69 in 526 reviews
(526, 17770)
(526, 1)
Movie #262, 261    Herbie Rides Again
Name: Name, dtype: object, average rating: 3.71 in 4378 reviews

(4378, 17770)
(4378, 1)
Movie #263, 262    Dragon Ball: Tournament Saga
Name: Name, dtype: object, average rating: 3.98 in 900 reviews
(900, 17770)
(900, 1)
Movie #264, 263    Angelina Ballerina: Lights
Name: Name, dtype: object, average rating: 2.89 in 134 reviews
(134, 17770)
(134, 1)
Movie #265, 264    The Jeff Corwin Experience: Costa Rica and the...
Name: Name, dtype: object, average rating: 3.25 in 308 reviews
(308, 17770)
(308, 1)
Movie #266, 265    Saudade Do Futuro
Name: Name, dtype: object, average rating: 3.06 in 126 reviews
(126, 17770)
(126, 1)
Movie #267, 266    Touched by an Angel: Season 1
Name: Name, dtype: object, average rating: 3.69 in 1162 reviews
(1162, 17770)
(1162, 1)
Movie #268, 267    The Final Countdown
Name: Name, dtype: object, average rating: 3.71 in 5545 reviews
(5545, 17770)
(5545, 1)
Movie #269, 268    Parenthood
Name: Name, dtype: object, average rating: 3.76 in 21467 reviews
(21467, 17770)
(21467, 1)
Movie #270, 269    Sex and the City: Season 4
Name: Name, dtype: object, average rating: 4.29 in 36431 reviews
(36431, 17770)
(36431, 1)
Movie #271, 270    Saludos Amigos
Name: Name, dtype: object, average rating: 3.10 in 478 reviews
(478, 17770)
(478, 1)
Movie #272, 271    Female Yakuza Tale
Name: Name, dtype: object, average rating: 2.92 in 62 reviews
(62, 17770)
(62, 1)
Movie #273, 272    Taxi
Name: Name, dtype: object, average rating: 3.36 in 32027 reviews
(32027, 17770)
(32027, 1)
Movie #274, 273    Crazy as Hell
Name: Name, dtype: object, average rating: 2.77 in 774 reviews
(774, 17770)
(774, 1)
Movie #275, 274    Evelyn
Name: Name, dtype: object, average rating: 3.63 in 10603 reviews
(10603, 17770)
(10603, 1)
Movie #276, 275    Cold Harvest
Name: Name, dtype: object, average rating: 2.08 in 115 reviews
(115, 17770)
(115, 1)
Movie #277, 276    Enigma: MCMXC A.D
Name: Name, dtype: object, average rating: 3.45 in 157 reviews
(157, 17770)
(157, 1)
Movie #278, 277    100 Days Before the Command
Name: Name, dtype: object, average rating: 2.14 in 83 reviews
(83, 17770)
(83, 1)
Movie #279, 278    Micki and Maude
Name: Name, dtype: object, average rating: 3.17 in 737 reviews
(737, 17770)
(737, 1)
Movie #280, 279    Sarah Brightman: In Concert
Name: Name, dtype: object, average rating: 3.35 in 539 reviews
(539, 17770)
(539, 1)
Movie #281, 280    The Legend
Name: Name, dtype: object, average rating: 3.76 in 3217 reviews
(3217, 17770)
(3217, 1)
Movie #282, 281    Blue Seed: Beyond
Name: Name, dtype: object, average rating: 3.67 in 393 reviews
(393, 17770)
(393, 1)
Movie #283, 282    If These Walls Could Talk
Name: Name, dtype: object, average rating: 3.71 in 6376 reviews
(6376, 17770)
(6376, 1)
Movie #284, 283    Sasquatch Hunters
Name: Name, dtype: object, average rating: 2.26 in 97 reviews
(97, 17770)
(97, 1)
Movie #285, 284    The Devil's Own
Name: Name, dtype: object, average rating: 3.33 in 14008 reviews
(14008, 17770)
(14008, 1)
Movie #286, 285    Thunderbirds Are Go
Name: Name, dtype: object, average rating: 2.92 in 191 reviews
(191, 17770)
(191, 1)
Movie #287, 286    Luther Vandross: Always and Forever: An Evenin...
Name: Name, dtype: object, average rating: 3.57 in 250 reviews
(250, 17770)
(250, 1)
Movie #288, 287    Saturday Night Live: The Best of Chris Kattan
Name: Name, dtype: object, average rating: 3.55 in 1148 reviews
(1148, 17770)
(1148, 1)
Movie #289, 288    The Avengers
Name: Name, dtype: object, average rating: 2.33 in 4412 reviews
(4412, 17770)
(4412, 1)
Movie #290, 289    Harold and Kumar Go to White Castle
Name: Name, dtype: object, average rating: 3.58 in 47651 reviews
(47651, 17770)
(47651, 1)
Movie #291, 290    Chained Heat 3: Hell Mountain
Name: Name, dtype: object, average rating: 2.22 in 108 reviews
(108, 17770)
(108, 1)
Movie #292, 291    Saturday Night Live: The Best of Gilda Radner
Name: Name, dtype: object, average rating: 3.86 in 534 reviews
(534, 17770)
(534, 1)
Movie #293, 292    Lennon Legend: The Very Best of John Lennon
Name: Name, dtype: object, average rating: 3.76 in 408 reviews
(408, 17770)
(408, 1)
Movie #294, 293    Oasis
Name: Name, dtype: object, average rating: 3.15 in 462 reviews
(462, 17770)
(462, 1)
Movie #295, 294    Ace Ventura: When Nature Calls
Name: Name, dtype: object, average rating: 3.31 in 28954 reviews
(28954, 17770)
(28954, 1)
Movie #296, 295    In His Life: The John Lennon Story
Name: Name, dtype: object, average rating: 2.91 in 116 reviews
(116, 17770)
(116, 1)
Movie #297, 296    The Hebrew Hammer
Name: Name, dtype: object, average rating: 2.88 in 1956 reviews
(1956, 17770)
(1956, 1)
Movie #298, 297    Crunch: Pick Your Spot Pilates
Name: Name, dtype: object, average rating: 3.10 in 455 reviews
(455, 17770)
(455, 1)
Movie #299, 298    Bridget Jones's Diary
Name: Name, dtype: object, average rating: 3.71 in 76944 reviews
(76944, 17770)
(76944, 1)
Movie #300, 299    Option Zero
Name: Name, dtype: object, average rating: 2.46 in 112 reviews
(112, 17770)
(112, 1)
Movie #301, 300    Hard Ground
Name: Name, dtype: object, average rating: 2.61 in 175 reviews
(175, 17770)
(175, 1)
Movie #302, 301    The Isle
Name: Name, dtype: object, average rating: 2.82 in 879 reviews
(879, 17770)
(879, 1)
Movie #303, 302    Les Liaisons Dangereuses
Name: Name, dtype: object, average rating: 3.09 in 225 reviews
(225, 17770)
(225, 1)
Movie #304, 303    King of the Hill: Season 1
Name: Name, dtype: object, average rating: 3.77 in 3427 reviews
(3427, 17770)
(3427, 1)
Movie #305, 304    Jack
Name: Name, dtype: object, average rating: 3.62 in 12820 reviews
(12820, 17770)
(12820, 1)
Movie #306, 305    Sesame Street: Sing Yourself Silly!
Name: Name, dtype: object, average rating: 3.06 in 197 reviews
(197, 17770)
(197, 1)
Movie #307, 306    Godsmack: Smack This!
Name: Name, dtype: object, average rating: 3.48 in 122 reviews
(122, 17770)
(122, 1)
Movie #308, 307    The Legend of the 7 Golden Vampires/7 Brothers...
Name: Name, dtype: object, average rating: 2.78 in 200 reviews
(200, 17770)
(200, 1)
Movie #309, 308    The Day of the Locust
Name: Name, dtype: object, average rating: 3.08 in 453 reviews
(453, 17770)
(453, 1)
Movie #310, 309    Leila
Name: Name, dtype: object, average rating: 3.36 in 445 reviews
(445, 17770)
(445, 1)
Movie #311, 310    Ed Wood
Name: Name, dtype: object, average rating: 3.58 in 24835 reviews
(24835, 17770)
(24835, 1)
Movie #312, 311    High Fidelity
Name: Name, dtype: object, average rating: 3.71 in 65477 reviews
(65477, 17770)
(65477, 1)
Movie #313, 312    Pay It Forward
Name: Name, dtype: object, average rating: 3.69 in 99812 reviews
(99812, 17770)
(99812, 1)
Movie #314, 313    Saturday Night Live: The Best of Jon Lovitz
Name: Name, dtype: object, average rating: 3.41 in 514 reviews
(514, 17770)
(514, 1)
Movie #315, 314    Combat! Season 3: Operation 2
Name: Name, dtype: object, average rating: 3.29 in 109 reviews
(109, 17770)
(109, 1)
Movie #316, 315    Futurama: Monster Robot Maniac Fun Collection
Name: Name, dtype: object, average rating: 4.30 in 2520 reviews
(2520, 17770)
(2520, 1)
Movie #317, 316    Mandela and de Klerk
Name: Name, dtype: object, average rating: 3.00 in 94 reviews
(94, 17770)
(94, 1)
Movie #318, 317    Beyond Suspicion
Name: Name, dtype: object, average rating: 2.34 in 95 reviews
(95, 17770)
(95, 1)
Movie #319, 318    Straight to Hell
Name: Name, dtype: object, average rating: 3.03 in 119 reviews
(119, 17770)
(119, 1)
Movie #320, 319    Eat Your Heart Out
Name: Name, dtype: object, average rating: 2.81 in 124 reviews
(124, 17770)
(124, 1)
Movie #321, 320    Ju-Rei: The Uncanny
Name: Name, dtype: object, average rating: 2.72 in 144 reviews
(144, 17770)
(144, 1)
Movie #322, 321    Flesh Gordon
Name: Name, dtype: object, average rating: 2.59 in 898 reviews
(898, 17770)
(898, 1)
Movie #323, 322    Modern Vampires
Name: Name, dtype: object, average rating: 2.42 in 712 reviews
(712, 17770)
(712, 1)
Movie #324, 323    Mother's Boys
Name: Name, dtype: object, average rating: 3.06 in 391 reviews
(391, 17770)
(391, 1)
Movie #325, 324    Ghosts of Rwanda: Frontline
Name: Name, dtype: object, average rating: 4.20 in 1121 reviews
(1121, 17770)
(1121, 1)
Movie #326, 325    The Plainsman
Name: Name, dtype: object, average rating: 3.29 in 165 reviews

(165, 17770)
(165, 1)
Movie #327, 326    Storefront Hitchcock
Name: Name, dtype: object, average rating: 3.19 in 178 reviews
(178, 17770)
(178, 1)
Movie #328, 327    Deftones: Live in Hawaii
Name: Name, dtype: object, average rating: 2.90 in 197 reviews
(197, 17770)
(197, 1)
Movie #329, 328    Dogma
Name: Name, dtype: object, average rating: 3.59 in 66266 reviews
(66266, 17770)
(66266, 1)
Movie #330, 329    Wild Things
Name: Name, dtype: object, average rating: 3.46 in 27038 reviews
(27038, 17770)
(27038, 1)
Movie #331, 330    Chasing Amy
Name: Name, dtype: object, average rating: 3.62 in 47167 reviews
(47167, 17770)
(47167, 1)
Movie #332, 331    They Crawl
Name: Name, dtype: object, average rating: 2.26 in 149 reviews
(149, 17770)
(149, 1)
Movie #333, 332    Mail Call: The Best of Season 2
Name: Name, dtype: object, average rating: 3.79 in 393 reviews
(393, 17770)
(393, 1)
Movie #334, 333    The Pacifier
Name: Name, dtype: object, average rating: 3.56 in 39875 reviews
(39875, 17770)
(39875, 1)
Movie #335, 334    Fear No Evil
Name: Name, dtype: object, average rating: 2.18 in 149 reviews
(149, 17770)
(149, 1)
Movie #336, 335    The Driver
Name: Name, dtype: object, average rating: 3.17 in 199 reviews
(199, 17770)
(199, 1)
Movie #337, 336    Star 80
Name: Name, dtype: object, average rating: 2.97 in 2293 reviews
(2293, 17770)
(2293, 1)
Movie #338, 337    The Three Stooges: Three Smart Saps
Name: Name, dtype: object, average rating: 3.89 in 1402 reviews
(1402, 17770)
(1402, 1)
Movie #339, 338    Rolling Stones: Rock and Roll Circus
Name: Name, dtype: object, average rating: 3.78 in 553 reviews
(553, 17770)
(553, 1)
Movie #340, 339    Midnight: 2000 Seen By...
Name: Name, dtype: object, average rating: 2.94 in 178 reviews
(178, 17770)
(178, 1)
Movie #341, 340    Tremors 4: The Legend Begins
Name: Name, dtype: object, average rating: 3.05 in 1862 reviews
(1862, 17770)
(1862, 1)
Movie #342, 341    Noir
Name: Name, dtype: object, average rating: 3.70 in 1358 reviews
(1358, 17770)
(1358, 1)
Movie #343, 342    French and Saunders: Live
Name: Name, dtype: object, average rating: 3.17 in 92 reviews
(92, 17770)
(92, 1)
Movie #344, 343    The Taming of the Shrew
Name: Name, dtype: object, average rating: 3.70 in 2604 reviews
(2604, 17770)
(2604, 1)
Movie #345, 344    Star Trek: Voyager: Season 5
Name: Name, dtype: object, average rating: 4.11 in 4175 reviews
(4175, 17770)
(4175, 1)
Movie #346, 345    Up and Down
Name: Name, dtype: object, average rating: 3.05 in 485 reviews
(485, 17770)
(485, 1)
Movie #347, 346    Iceman Cometh
Name: Name, dtype: object, average rating: 2.44 in 108 reviews
(108, 17770)
(108, 1)
Movie #348, 347    The Last Temptation of Christ
Name: Name, dtype: object, average rating: 3.41 in 12739 reviews
(12739, 17770)
(12739, 1)
Movie #349, 348    The Swarm
Name: Name, dtype: object, average rating: 2.47 in 583 reviews
(583, 17770)
(583, 1)
Movie #350, 349    Dr. Quinn
Name: Name, dtype: object, average rating: 3.80 in 1151 reviews
(1151, 17770)
(1151, 1)
Movie #351, 350    Guns of the Magnificent Seven
Name: Name, dtype: object, average rating: 2.94 in 129 reviews
(129, 17770)
(129, 1)
Movie #352, 351    Pick a Card
Name: Name, dtype: object, average rating: 2.56 in 119 reviews
(119, 17770)
(119, 1)
Movie #353, 352    Life or Something Like It
Name: Name, dtype: object, average rating: 3.25 in 20460 reviews
(20460, 17770)
(20460, 1)
Movie #354, 353    Sadomania
Name: Name, dtype: object, average rating: 2.28 in 142 reviews
(142, 17770)
(142, 1)
Movie #355, 354    Sinful Nuns of St. Valentine
Name: Name, dtype: object, average rating: 2.00 in 150 reviews
(150, 17770)
(150, 1)
Movie #356, 355    Look at Me
Name: Name, dtype: object, average rating: 3.07 in 1870 reviews
(1870, 17770)
(1870, 1)
Movie #357, 356    House of Sand and Fog
Name: Name, dtype: object, average rating: 3.51 in 77314 reviews
(77314, 17770)
(77314, 1)
Movie #358, 357    The Onion Field
Name: Name, dtype: object, average rating: 3.54 in 3008 reviews
(3008, 17770)
(3008, 1)
Movie #359, 358    Absolutely Fabulous: Series 5
Name: Name, dtype: object, average rating: 4.15 in 4580 reviews
(4580, 17770)
(4580, 1)
Movie #360, 359    Lies
Name: Name, dtype: object, average rating: 2.39 in 2231 reviews
(2231, 17770)
(2231, 1)
Movie #361, 360    The Phantom of the Opera: Special Edition
Name: Name, dtype: object, average rating: 3.64 in 35849 reviews
(35849, 17770)
(35849, 1)
Movie #362, 361    The Flintstones in Viva Rock Vegas
Name: Name, dtype: object, average rating: 2.51 in 3936 reviews
(3936, 17770)
(3936, 1)
Movie #363, 362    Stark Raving Mad
Name: Name, dtype: object, average rating: 2.95 in 1643 reviews
(1643, 17770)
(1643, 1)
Movie #364, 363    Billy Blanks: Tae Bo: Contact 2
Name: Name, dtype: object, average rating: 2.93 in 123 reviews
(123, 17770)
(123, 1)
Movie #365, 364    R.E.M.: Tourfilm
Name: Name, dtype: object, average rating: 3.22 in 260 reviews
(260, 17770)
(260, 1)
Movie #366, 365    Still
Name: Name, dtype: object, average rating: 3.50 in 350 reviews
(350, 17770)
(350, 1)
Movie #367, 366    Spun
Name: Name, dtype: object, average rating: 3.14 in 12437 reviews
(12437, 17770)
(12437, 1)
Movie #368, 367    The Best of Designing Women
Name: Name, dtype: object, average rating: 3.41 in 1395 reviews
(1395, 17770)
(1395, 1)
Movie #369, 368    Playing Mona Lisa
Name: Name, dtype: object, average rating: 2.86 in 962 reviews
(962, 17770)
(962, 1)
Movie #370, 369    Chaplin
Name: Name, dtype: object, average rating: 3.11 in 484 reviews
(484, 17770)
(484, 1)
Movie #371, 370    The Trouble with Angels
Name: Name, dtype: object, average rating: 3.87 in 2004 reviews
(2004, 17770)
(2004, 1)
Movie #372, 371    Jeans
Name: Name, dtype: object, average rating: 2.39 in 148 reviews
(148, 17770)
(148, 1)
Movie #373, 372    Third World Cop
Name: Name, dtype: object, average rating: 2.78 in 85 reviews
(85, 17770)
(85, 1)
Movie #374, 373    The Little Girl Who Lives Down the Lane
Name: Name, dtype: object, average rating: 3.33 in 243 reviews
(243, 17770)
(243, 1)
Movie #375, 374    Nine Dead Gay Guys
Name: Name, dtype: object, average rating: 3.03 in 2064 reviews
(2064, 17770)
(2064, 1)
Movie #376, 375    Genesis: The Way We Walk: Live in Concert
Name: Name, dtype: object, average rating: 3.42 in 193 reviews
(193, 17770)
(193, 1)
Movie #377, 376    Dick Francis: The Racing Game
Name: Name, dtype: object, average rating: 2.54 in 112 reviews
(112, 17770)
(112, 1)
Movie #378, 377    Party Monster
Name: Name, dtype: object, average rating: 2.84 in 8185 reviews
(8185, 17770)
(8185, 1)
Movie #379, 378    Crash Dive
Name: Name, dtype: object, average rating: 2.63 in 158 reviews
(158, 17770)
(158, 1)
Movie #380, 379    Live Wire
Name: Name, dtype: object, average rating: 3.09 in 529 reviews
(529, 17770)
(529, 1)
Movie #381, 380    Out for Justice
Name: Name, dtype: object, average rating: 3.39 in 6660 reviews
(6660, 17770)
(6660, 1)
Movie #382, 381    Buried in the Sand: The Deception of America
Name: Name, dtype: object, average rating: 3.08 in 158 reviews
(158, 17770)
(158, 1)
Movie #383, 382    Hit Team
Name: Name, dtype: object, average rating: 2.74 in 223 reviews
(223, 17770)
(223, 1)
Movie #384, 383    Crossroads
Name: Name, dtype: object, average rating: 3.74 in 1438 reviews
(1438, 17770)
(1438, 1)
Movie #385, 384    The Santa Clause 2
Name: Name, dtype: object, average rating: 3.63 in 9368 reviews
(9368, 17770)
(9368, 1)
Movie #386, 385    Princess Caraboo
Name: Name, dtype: object, average rating: 2.95 in 1469 reviews
(1469, 17770)
(1469, 1)
Movie #387, 386    Bizet's Carmen
Name: Name, dtype: object, average rating: 3.52 in 588 reviews
(588, 17770)
(588, 1)
Movie #388, 387    Body Chemistry
Name: Name, dtype: object, average rating: 2.32 in 217 reviews
(217, 17770)
(217, 1)
Movie #389, 388    Steal
Name: Name, dtype: object, average rating: 3.11 in 391 reviews
(391, 17770)
(391, 1)
Movie #390, 389    The Fan
Name: Name, dtype: object, average rating: 2.69 in 5242 reviews
(5242, 17770)
(5242, 1)
Movie #391, 390    The Monkees: Season 2
Name: Name, dtype: object, average rating: 3.54 in 572 reviews
(572, 17770)
(572, 1)
Movie #392, 391    Danielle Steel's Heartbeat
Name: Name, dtype: object, average rating: 3.23 in 60 reviews

(60, 17770)
(60, 1)
Movie #393, 392    The Replacement Killers
Name: Name, dtype: object, average rating: 3.32 in 11893 reviews
(11893, 17770)
(11893, 1)
Movie #394, 393    20
Name: Name, dtype: object, average rating: 3.57 in 1617 reviews
(1617, 17770)
(1617, 1)
Movie #395, 394    Captain Blood
Name: Name, dtype: object, average rating: 3.99 in 1822 reviews
(1822, 17770)
(1822, 1)
Movie #396, 395    Arjuna: Complete Collection
Name: Name, dtype: object, average rating: 3.10 in 204 reviews
(204, 17770)
(204, 1)
Movie #397, 396    A Night in Casablanca
Name: Name, dtype: object, average rating: 3.93 in 748 reviews
(748, 17770)
(748, 1)
Movie #398, 397    In the Realm of the Senses
Name: Name, dtype: object, average rating: 2.75 in 3565 reviews
(3565, 17770)
(3565, 1)
Movie #399, 398    Fangs
Name: Name, dtype: object, average rating: 2.34 in 125 reviews
(125, 17770)
(125, 1)
Movie #400, 399    Rio Lobo
Name: Name, dtype: object, average rating: 3.83 in 3693 reviews
(3693, 17770)
(3693, 1)
Movie #401, 400    Halloween 5: The Revenge of Michael Myers
Name: Name, dtype: object, average rating: 3.63 in 3246 reviews
(3246, 17770)
(3246, 1)
Movie #402, 401    Pan Tadeusz
Name: Name, dtype: object, average rating: 3.25 in 122 reviews
(122, 17770)
(122, 1)
Movie #403, 402    Substitute 4: Failure is Not an Option
Name: Name, dtype: object, average rating: 3.09 in 440 reviews
(440, 17770)
(440, 1)
Movie #404, 403    The Shaft
Name: Name, dtype: object, average rating: 2.49 in 458 reviews
(458, 17770)
(458, 1)
Movie #405, 404    Wings of Desire
Name: Name, dtype: object, average rating: 3.75 in 7121 reviews
(7121, 17770)
(7121, 1)
Movie #406, 405    Hostage
Name: Name, dtype: object, average rating: 3.76 in 48617 reviews
(48617, 17770)
(48617, 1)
Movie #407, 406    The Abductors
Name: Name, dtype: object, average rating: 2.68 in 219 reviews
(219, 17770)
(219, 1)
Movie #408, 407    Nightbreed
Name: Name, dtype: object, average rating: 3.41 in 2821 reviews
(2821, 17770)
(2821, 1)
Movie #409, 408    Godzilla vs. The Sea Monster
Name: Name, dtype: object, average rating: 3.55 in 447 reviews
(447, 17770)
(447, 1)
Movie #410, 409    Frank Lloyd Wright
Name: Name, dtype: object, average rating: 3.90 in 1009 reviews
(1009, 17770)
(1009, 1)
Movie #411, 410    Vendetta
Name: Name, dtype: object, average rating: 2.92 in 203 reviews
(203, 17770)
(203, 1)
Movie #412, 411    Jay Jay the Jet Plane: Adventures in Learning
Name: Name, dtype: object, average rating: 3.12 in 320 reviews
(320, 17770)
(320, 1)
Movie #413, 412    Igby Goes Down
Name: Name, dtype: object, average rating: 3.41 in 29909 reviews
(29909, 17770)
(29909, 1)
Movie #414, 413    Girl
Name: Name, dtype: object, average rating: 2.94 in 1428 reviews
(1428, 17770)
(1428, 1)
Movie #415, 414    Reign in Darkness
Name: Name, dtype: object, average rating: 1.76 in 126 reviews
(126, 17770)
(126, 1)
Movie #416, 415    Elephant
Name: Name, dtype: object, average rating: 2.99 in 11256 reviews
(11256, 17770)
(11256, 1)
Movie #417, 416    Transformers: Season 3: Part 1
Name: Name, dtype: object, average rating: 3.93 in 1465 reviews
(1465, 17770)
(1465, 1)
Movie #418, 417    The Deal
Name: Name, dtype: object, average rating: 2.73 in 2061 reviews
(2061, 17770)
(2061, 1)
Movie #419, 418    George Lopez: Why You Crying?
Name: Name, dtype: object, average rating: 3.91 in 601 reviews
(601, 17770)
(601, 1)
Movie #420, 419    Saturday Night Live: The Best of Dana Carvey
Name: Name, dtype: object, average rating: 3.71 in 4495 reviews
(4495, 17770)
(4495, 1)
Movie #421, 420    Agatha Christie's Poirot: Sad Cypress
Name: Name, dtype: object, average rating: 4.04 in 987 reviews
(987, 17770)
(987, 1)
Movie #422, 421    The Unsinkable Molly Brown
Name: Name, dtype: object, average rating: 3.40 in 5498 reviews
(5498, 17770)
(5498, 1)
Movie #423, 422    My Favorite Martian #1
Name: Name, dtype: object, average rating: 2.98 in 296 reviews
(296, 17770)
(296, 1)
Movie #424, 423    Happiness
Name: Name, dtype: object, average rating: 3.56 in 14120 reviews
(14120, 17770)
(14120, 1)
Movie #425, 424    The 10th Kingdom
Name: Name, dtype: object, average rating: 3.67 in 4532 reviews
(4532, 17770)
(4532, 1)
Movie #426, 425    Recess: School's Out
Name: Name, dtype: object, average rating: 3.25 in 4217 reviews
(4217, 17770)
(4217, 1)
Movie #427, 426    Graveyard Shift
Name: Name, dtype: object, average rating: 2.87 in 2681 reviews
(2681, 17770)
(2681, 1)
Movie #428, 427    Barney: Barney's Colorful World: Live
Name: Name, dtype: object, average rating: 2.83 in 115 reviews
(115, 17770)
(115, 1)
Movie #429, 428    Zeus and Roxanne
Name: Name, dtype: object, average rating: 3.36 in 1219 reviews
(1219, 17770)
(1219, 1)
Movie #430, 429    Chobits
Name: Name, dtype: object, average rating: 4.05 in 1546 reviews
(1546, 17770)
(1546, 1)
Movie #431, 430    Millennium Actress
Name: Name, dtype: object, average rating: 3.54 in 3449 reviews
(3449, 17770)
(3449, 1)
Movie #432, 431    Les Miserables in Concert
Name: Name, dtype: object, average rating: 3.99 in 2714 reviews
(2714, 17770)
(2714, 1)
Movie #433, 432    Untamed Heart
Name: Name, dtype: object, average rating: 3.56 in 10043 reviews
(10043, 17770)
(10043, 1)
Movie #434, 433    Extreme Engineering: Tokyo's Sky City
Name: Name, dtype: object, average rating: 3.48 in 138 reviews
(138, 17770)
(138, 1)
Movie #435, 434    Love Can Seriously Damage Your Health
Name: Name, dtype: object, average rating: 2.87 in 343 reviews
(343, 17770)
(343, 1)
Movie #436, 435    Girls Just Want to Have Fun
Name: Name, dtype: object, average rating: 3.81 in 3485 reviews
(3485, 17770)
(3485, 1)
Movie #437, 436    Beyblade: Fierce Battle
Name: Name, dtype: object, average rating: 3.27 in 165 reviews
(165, 17770)
(165, 1)
Movie #438, 437    Bean: The Movie
Name: Name, dtype: object, average rating: 3.03 in 3712 reviews
(3712, 17770)
(3712, 1)
Movie #439, 438    Town Without Pity
Name: Name, dtype: object, average rating: 3.22 in 688 reviews
(688, 17770)
(688, 1)
Movie #440, 439    Just 4 Kicks
Name: Name, dtype: object, average rating: 2.93 in 107 reviews
(107, 17770)
(107, 1)
Movie #441, 440    Dark Shadows: Vol. 9
Name: Name, dtype: object, average rating: 3.77 in 340 reviews
(340, 17770)
(340, 1)
Movie #442, 441    Mississippi Burning
Name: Name, dtype: object, average rating: 3.93 in 25292 reviews
(25292, 17770)
(25292, 1)
Movie #443, 442    Rabbit-Proof Fence
Name: Name, dtype: object, average rating: 3.97 in 36515 reviews
(36515, 17770)
(36515, 1)
Movie #444, 443    The Inner Tour
Name: Name, dtype: object, average rating: 3.17 in 90 reviews
(90, 17770)
(90, 1)
Movie #445, 444    Michael Collins
Name: Name, dtype: object, average rating: 3.54 in 7534 reviews
(7534, 17770)
(7534, 1)
Movie #446, 445    The Underneath
Name: Name, dtype: object, average rating: 2.84 in 719 reviews
(719, 17770)
(719, 1)
Movie #447, 446    The Making of Fanny and Alexander
Name: Name, dtype: object, average rating: 3.42 in 91 reviews
(91, 17770)
(91, 1)
Movie #448, 447    Oswald: Welcome to the Big City!
Name: Name, dtype: object, average rating: 3.20 in 189 reviews
(189, 17770)
(189, 1)
Movie #449, 448    Jimmy Buffett: MiniMatinee #1
Name: Name, dtype: object, average rating: 2.99 in 90 reviews
(90, 17770)
(90, 1)
Movie #450, 449    Isaac Stern: Life's Virtuoso
Name: Name, dtype: object, average rating: 3.35 in 137 reviews
(137, 17770)
(137, 1)
Movie #451, 450    Batman the Animated Series: Vol. 3
Name: Name, dtype: object, average rating: 4.17 in 1112 reviews
(1112, 17770)
(1112, 1)
Movie #452, 451    Scorched
Name: Name, dtype: object, average rating: 2.89 in 2430 reviews
(2430, 17770)
(2430, 1)
Movie #453, 452    Simple Men
Name: Name, dtype: object, average rating: 3.55 in 426 reviews
(426, 17770)
(426, 1)
Movie #454, 453    Xena: Warrior Princess: Season 3
Name: Name, dtype: object, average rating: 3.93 in 1833 reviews
(1833, 17770)
(1833, 1)
Movie #455, 454    Cardcaptor Sakura: The Movie
Name: Name, dtype: object, average rating: 3.79 in 784 reviews
(784, 17770)
(784, 1)
Movie #456, 455    Emma (Miniseries)
Name: Name, dtype: object, average rating: 3.68 in 2450 reviews
(2450, 17770)
(2450, 1)
Movie #457, 456    Kill Bill: Vol. 2
Name: Name, dtype: object, average rating: 3.87 in 116762 reviews

(116762, 17770)
(116762, 1)
Movie #458, 457    Blast
Name: Name, dtype: object, average rating: 3.55 in 355 reviews
(355, 17770)
(355, 1)
Movie #459, 458    Basquiat
Name: Name, dtype: object, average rating: 3.48 in 7271 reviews
(7271, 17770)
(7271, 1)
Movie #460, 459    Pink Narcissus
Name: Name, dtype: object, average rating: 2.19 in 344 reviews
(344, 17770)
(344, 1)
Movie #461, 460    Nightwalker #1: Midnight Detective
Name: Name, dtype: object, average rating: 3.47 in 544 reviews
(544, 17770)
(544, 1)
Movie #462, 461    Classic Cartoon Favorites: Starring Donald
Name: Name, dtype: object, average rating: 4.04 in 778 reviews
(778, 17770)
(778, 1)
Movie #463, 462    The Twilight Zone: Vol. 12
Name: Name, dtype: object, average rating: 4.09 in 2286 reviews
(2286, 17770)
(2286, 1)
Movie #464, 463    The Return of Ruben Blades
Name: Name, dtype: object, average rating: 2.76 in 82 reviews
(82, 17770)
(82, 1)
Movie #465, 464    Coolie No.1
Name: Name, dtype: object, average rating: 2.92 in 100 reviews
(100, 17770)
(100, 1)
Movie #466, 465    Doogie Howser
Name: Name, dtype: object, average rating: 3.75 in 362 reviews
(362, 17770)
(362, 1)
Movie #467, 466    Topper Returns
Name: Name, dtype: object, average rating: 3.56 in 1055 reviews
(1055, 17770)
(1055, 1)
Movie #468, 467    The Matrix: Revolutions
Name: Name, dtype: object, average rating: 3.52 in 60415 reviews
(60415, 17770)
(60415, 1)
Movie #469, 468    First Night of My Life: 2000 Seen By...
Name: Name, dtype: object, average rating: 2.78 in 105 reviews
(105, 17770)
(105, 1)
Movie #470, 469    Beneath Loch Ness
Name: Name, dtype: object, average rating: 2.45 in 579 reviews
(579, 17770)
(579, 1)
Movie #471, 470    City Lights
Name: Name, dtype: object, average rating: 4.07 in 4500 reviews
(4500, 17770)
(4500, 1)
Movie #472, 471    Mr. Jealousy
Name: Name, dtype: object, average rating: 3.06 in 515 reviews
(515, 17770)
(515, 1)
Movie #473, 472    Princess Mononoke
Name: Name, dtype: object, average rating: 4.03 in 23602 reviews
(23602, 17770)
(23602, 1)
Movie #474, 473    Legend of 1900
Name: Name, dtype: object, average rating: 3.60 in 3035 reviews
(3035, 17770)
(3035, 1)
Movie #475, 474    Surf Ninjas
Name: Name, dtype: object, average rating: 3.00 in 1041 reviews
(1041, 17770)
(1041, 1)
Movie #476, 475    VeggieTales Classics: Where's God When I'm Sca...
Name: Name, dtype: object, average rating: 4.13 in 2027 reviews
(2027, 17770)
(2027, 1)
Movie #477, 476    George Carlin: Personal Favorites
Name: Name, dtype: object, average rating: 3.96 in 2241 reviews
(2241, 17770)
(2241, 1)
Movie #478, 477    The Beverly Hillbillies
Name: Name, dtype: object, average rating: 3.26 in 431 reviews
(431, 17770)
(431, 1)
Movie #479, 478    George Carlin: What Am I Doing in New Jersey?
Name: Name, dtype: object, average rating: 3.87 in 1772 reviews
(1772, 17770)
(1772, 1)
Movie #480, 479    Flypaper
Name: Name, dtype: object, average rating: 2.57 in 359 reviews
(359, 17770)
(359, 1)
Movie #481, 480    Building the Great Pyramid
Name: Name, dtype: object, average rating: 3.10 in 376 reviews
(376, 17770)
(376, 1)
Movie #482, 481    Frida
Name: Name, dtype: object, average rating: 3.79 in 56504 reviews
(56504, 17770)
(56504, 1)
Movie #483, 482    Rush Hour 2
Name: Name, dtype: object, average rating: 3.45 in 90010 reviews
(90010, 17770)
(90010, 1)
Movie #484, 483    Danielle Steel's Jewels
Name: Name, dtype: object, average rating: 3.52 in 232 reviews
(232, 17770)
(232, 1)
Movie #485, 484    The Avengers '67
Name: Name, dtype: object, average rating: 3.56 in 1326 reviews
(1326, 17770)
(1326, 1)
Movie #486, 485    Journey to the Center of the Earth
Name: Name, dtype: object, average rating: 3.65 in 3900 reviews
(3900, 17770)
(3900, 1)
Movie #487, 486    Doctor Who: Lost in Time: The Patrick Troughto...
Name: Name, dtype: object, average rating: 3.71 in 277 reviews
(277, 17770)
(277, 1)
Movie #488, 487    His Secret Life
Name: Name, dtype: object, average rating: 3.66 in 3247 reviews
(3247, 17770)
(3247, 1)
Movie #489, 488    Return to Paradise
Name: Name, dtype: object, average rating: 3.55 in 4826 reviews
(4826, 17770)
(4826, 1)
Movie #490, 489    The Passion of Ayn Rand
Name: Name, dtype: object, average rating: 2.87 in 873 reviews
(873, 17770)
(873, 1)
Movie #491, 490    Torn Curtain
Name: Name, dtype: object, average rating: 3.37 in 288 reviews
(288, 17770)
(288, 1)
Movie #492, 491    Mrs. Soffel
Name: Name, dtype: object, average rating: 2.96 in 1723 reviews
(1723, 17770)
(1723, 1)
Movie #493, 492    The Giallo Collection: Who Saw Her Die?
Name: Name, dtype: object, average rating: 2.60 in 106 reviews
(106, 17770)
(106, 1)
Movie #494, 493    Monty Python's The Meaning of Life: Special Ed...
Name: Name, dtype: object, average rating: 4.00 in 27601 reviews
(27601, 17770)
(27601, 1)
Movie #495, 494    Mission Kashmir
Name: Name, dtype: object, average rating: 3.10 in 539 reviews
(539, 17770)
(539, 1)
Movie #496, 495    Primus: Hallucino-Genetics Live 2004
Name: Name, dtype: object, average rating: 3.71 in 235 reviews
(235, 17770)
(235, 1)
Movie #497, 496    Broadway's Lost Treasures
Name: Name, dtype: object, average rating: 3.48 in 575 reviews
(575, 17770)
(575, 1)
Movie #498, 497    Glory: Bonus Material
Name: Name, dtype: object, average rating: 4.07 in 282 reviews
(282, 17770)
(282, 1)
Movie #499, 498    Under Suspicion
Name: Name, dtype: object, average rating: 3.04 in 5788 reviews
(5788, 17770)
(5788, 1)
Movie #500, 499    Mail Call: The Best of Season 1
Name: Name, dtype: object, average rating: 3.64 in 532 reviews
(532, 17770)
(532, 1)
Movie #501, 500    Three Days of the Condor
Name: Name, dtype: object, average rating: 3.80 in 15179 reviews
(15179, 17770)
(15179, 1)
Movie #502, 501    Mitch Hedberg: Mitch All Together
Name: Name, dtype: object, average rating: 3.70 in 1577 reviews
(1577, 17770)
(1577, 1)
Movie #503, 502    Max and Ruby: Springtime for Max and Ruby
Name: Name, dtype: object, average rating: 3.62 in 251 reviews
(251, 17770)
(251, 1)
Movie #504, 503    The Twilight Zone: Vol. 27
Name: Name, dtype: object, average rating: 4.06 in 2343 reviews
(2343, 17770)
(2343, 1)
Movie #505, 504    A Thousand Acres
Name: Name, dtype: object, average rating: 3.14 in 2375 reviews
(2375, 17770)
(2375, 1)
Movie #506, 505    Blank Generation / Dancin' Barefoot
Name: Name, dtype: object, average rating: 2.80 in 157 reviews
(157, 17770)
(157, 1)
Movie #507, 506    Nevada Smith
Name: Name, dtype: object, average rating: 3.60 in 1309 reviews
(1309, 17770)
(1309, 1)
Movie #508, 507    Saint Jack
Name: Name, dtype: object, average rating: 2.99 in 194 reviews
(194, 17770)
(194, 1)
Movie #509, 508    The Volcano Disaster
Name: Name, dtype: object, average rating: 2.47 in 186 reviews
(186, 17770)
(186, 1)
Movie #510, 509    Blue's Clues: Blue's Room: It's Hug Day
Name: Name, dtype: object, average rating: 3.24 in 184 reviews
(184, 17770)
(184, 1)
Movie #511, 510    Avenging Angelo
Name: Name, dtype: object, average rating: 2.78 in 1713 reviews
(1713, 17770)
(1713, 1)
Movie #512, 511    Bubblegum Crisis: Hurricane Live!
Name: Name, dtype: object, average rating: 2.83 in 297 reviews
(297, 17770)
(297, 1)
Movie #513, 512    Butterfly Kiss
Name: Name, dtype: object, average rating: 2.09 in 424 reviews
(424, 17770)
(424, 1)
Movie #514, 513    Santana: Supernatural Live
Name: Name, dtype: object, average rating: 3.81 in 867 reviews
(867, 17770)
(867, 1)
Movie #515, 514    Avia Vampire Hunter
Name: Name, dtype: object, average rating: 1.29 in 132 reviews
(132, 17770)
(132, 1)
Movie #516, 515    Monsoon Wedding
Name: Name, dtype: object, average rating: 3.78 in 20181 reviews
(20181, 17770)
(20181, 1)
Movie #517, 516    Two Can Play That Game
Name: Name, dtype: object, average rating: 3.48 in 6567 reviews
(6567, 17770)
(6567, 1)
Movie #518, 517    The Prime of Miss Jean Brodie
Name: Name, dtype: object, average rating: 3.80 in 2268 reviews
(2268, 17770)
(2268, 1)
Movie #519, 518    From Mao to Mozart: Isaac Stern in China
Name: Name, dtype: object, average rating: 3.74 in 341 reviews
(341, 17770)
(341, 1)
Movie #520, 519    E's Otherwise
Name: Name, dtype: object, average rating: 3.87 in 175 reviews
(175, 17770)
(175, 1)
Movie #521, 520    Presenting Felix the Cat
Name: Name, dtype: object, average rating: 2.70 in 132 reviews

(132, 17770)
(132, 1)
Movie #522, 521    Love Songs
Name: Name, dtype: object, average rating: 3.30 in 320 reviews
(320, 17770)
(320, 1)
Movie #523, 522    My Side of the Mountain
Name: Name, dtype: object, average rating: 3.03 in 294 reviews
(294, 17770)
(294, 1)
Movie #524, 523    Mumford
Name: Name, dtype: object, average rating: 3.28 in 6136 reviews
(6136, 17770)
(6136, 1)
Movie #525, 524    The Last Seduction II
Name: Name, dtype: object, average rating: 2.03 in 145 reviews
(145, 17770)
(145, 1)
Movie #526, 525    Angie
Name: Name, dtype: object, average rating: 2.91 in 581 reviews
(581, 17770)
(581, 1)
Movie #527, 526    Barbarian Queen
Name: Name, dtype: object, average rating: 2.28 in 271 reviews
(271, 17770)
(271, 1)
Movie #528, 527    The Hitchhiker's Guide to the Galaxy
Name: Name, dtype: object, average rating: 2.98 in 28454 reviews
(28454, 17770)
(28454, 1)
Movie #529, 528    Summer of the Monkeys
Name: Name, dtype: object, average rating: 3.36 in 489 reviews
(489, 17770)
(489, 1)
Movie #530, 529    Return to Horror High
Name: Name, dtype: object, average rating: 2.43 in 156 reviews
(156, 17770)
(156, 1)
Movie #531, 530    You're Invited to Mary-Kate and Ashley's Vacat...
Name: Name, dtype: object, average rating: 3.14 in 406 reviews
(406, 17770)
(406, 1)
Movie #532, 531    Young Einstein
Name: Name, dtype: object, average rating: 3.28 in 1057 reviews
(1057, 17770)
(1057, 1)
Movie #533, 532    Drop Dead Fred
Name: Name, dtype: object, average rating: 3.12 in 5915 reviews
(5915, 17770)
(5915, 1)
Movie #534, 533    With a Friend Like Harry
Name: Name, dtype: object, average rating: 3.21 in 5317 reviews
(5317, 17770)
(5317, 1)
Movie #535, 534    The Alamo
Name: Name, dtype: object, average rating: 3.49 in 6110 reviews
(6110, 17770)
(6110, 1)
Movie #536, 535    Sol Goode
Name: Name, dtype: object, average rating: 2.82 in 416 reviews
(416, 17770)
(416, 1)
Movie #537, 536    Here is Greenwood
Name: Name, dtype: object, average rating: 3.50 in 187 reviews
(187, 17770)
(187, 1)
Movie #538, 537    A Crime of Passion
Name: Name, dtype: object, average rating: 2.74 in 202 reviews
(202, 17770)
(202, 1)
Movie #539, 538    Rumpole of the Bailey: Series 4
Name: Name, dtype: object, average rating: 3.85 in 228 reviews
(228, 17770)
(228, 1)
Movie #540, 539    Ghosts of the Abyss: Bonus Material
Name: Name, dtype: object, average rating: 3.40 in 162 reviews
(162, 17770)
(162, 1)
Movie #541, 540    King Cobra
Name: Name, dtype: object, average rating: 2.47 in 104 reviews
(104, 17770)
(104, 1)
Movie #542, 541    The Blackout
Name: Name, dtype: object, average rating: 1.88 in 171 reviews
(171, 17770)
(171, 1)
Movie #543, 542    Roughnecks: The Starship Troopers Chronicles: ...
Name: Name, dtype: object, average rating: 3.26 in 1209 reviews
(1209, 17770)
(1209, 1)
Movie #544, 543    Maurice: Bonus Material
Name: Name, dtype: object, average rating: 3.65 in 153 reviews
(153, 17770)
(153, 1)
Movie #545, 544    Bob the Builder: The Big Game
Name: Name, dtype: object, average rating: 3.48 in 338 reviews
(338, 17770)
(338, 1)
Movie #546, 545    The Strip Game
Name: Name, dtype: object, average rating: 2.60 in 156 reviews
(156, 17770)
(156, 1)
Movie #547, 546    Kuffs
Name: Name, dtype: object, average rating: 3.20 in 599 reviews
(599, 17770)
(599, 1)
Movie #548, 547    Hudson Hawk
Name: Name, dtype: object, average rating: 3.01 in 7739 reviews
(7739, 17770)
(7739, 1)
Movie #549, 548    Rage at Dawn
Name: Name, dtype: object, average rating: 2.64 in 72 reviews
(72, 17770)
(72, 1)
Movie #550, 549    First Knight
Name: Name, dtype: object, average rating: 3.46 in 33797 reviews
(33797, 17770)
(33797, 1)
Movie #551, 550    The Santa Clause
Name: Name, dtype: object, average rating: 3.28 in 14822 reviews
(14822, 17770)
(14822, 1)
Movie #552, 551    Radioland Murders
Name: Name, dtype: object, average rating: 3.01 in 730 reviews
(730, 17770)
(730, 1)
Movie #553, 552    Rangeela
Name: Name, dtype: object, average rating: 3.18 in 599 reviews
(599, 17770)
(599, 1)
Movie #554, 553    Solaris
Name: Name, dtype: object, average rating: 3.24 in 5890 reviews
(5890, 17770)
(5890, 1)
Movie #555, 554    Cadfael: A Morbid Taste for Bones
Name: Name, dtype: object, average rating: 4.01 in 1050 reviews
(1050, 17770)
(1050, 1)
Movie #556, 555    New Waterford Girl
Name: Name, dtype: object, average rating: 2.96 in 629 reviews
(629, 17770)
(629, 1)
Movie #557, 556    Liebestraum
Name: Name, dtype: object, average rating: 2.53 in 173 reviews
(173, 17770)
(173, 1)
Movie #558, 557    Fantastic Four
Name: Name, dtype: object, average rating: 3.27 in 577 reviews
(577, 17770)
(577, 1)
Movie #559, 558    Rebecca: Bonus Material
Name: Name, dtype: object, average rating: 3.55 in 115 reviews
(115, 17770)
(115, 1)
Movie #560, 559    Star Trek: Enterprise: Season 3
Name: Name, dtype: object, average rating: 4.19 in 1706 reviews
(1706, 17770)
(1706, 1)
Movie #561, 560    High and Low
Name: Name, dtype: object, average rating: 3.94 in 2800 reviews
(2800, 17770)
(2800, 1)
Movie #562, 561    Bloody Mallory
Name: Name, dtype: object, average rating: 2.37 in 86 reviews
(86, 17770)
(86, 1)
Movie #563, 562    Jimmy Neutron: Boy Genius
Name: Name, dtype: object, average rating: 3.50 in 10846 reviews
(10846, 17770)
(10846, 1)
Movie #564, 563    Predator 2
Name: Name, dtype: object, average rating: 3.20 in 10825 reviews
(10825, 17770)
(10825, 1)
Movie #565, 564    Tom Petty and the Heartbreakers: Live at the O...
Name: Name, dtype: object, average rating: 3.25 in 132 reviews
(132, 17770)
(132, 1)
Movie #566, 565    Bullet
Name: Name, dtype: object, average rating: 3.08 in 651 reviews
(651, 17770)
(651, 1)
Movie #567, 566    Dunsmore
Name: Name, dtype: object, average rating: 2.82 in 180 reviews
(180, 17770)
(180, 1)
Movie #568, 567    Knights of Ramune
Name: Name, dtype: object, average rating: 2.96 in 184 reviews
(184, 17770)
(184, 1)
Movie #569, 568    The In-Laws
Name: Name, dtype: object, average rating: 3.48 in 4350 reviews
(4350, 17770)
(4350, 1)
Movie #570, 569    The Visit
Name: Name, dtype: object, average rating: 2.92 in 262 reviews
(262, 17770)
(262, 1)
Movie #571, 570    American Beauty
Name: Name, dtype: object, average rating: 3.96 in 154832 reviews
(154832, 17770)
(154832, 1)
Movie #572, 571    The Masque of the Red Death / The Premature Bu...
Name: Name, dtype: object, average rating: 3.24 in 560 reviews
(560, 17770)
(560, 1)
Movie #573, 572    Winners & Sinners
Name: Name, dtype: object, average rating: 3.29 in 204 reviews
(204, 17770)
(204, 1)
Movie #574, 573    Strangers When We Meet
Name: Name, dtype: object, average rating: 3.19 in 108 reviews
(108, 17770)
(108, 1)
Movie #575, 574    Highlander: Season 4
Name: Name, dtype: object, average rating: 4.05 in 2122 reviews
(2122, 17770)
(2122, 1)
Movie #576, 575    Popular: Season 2
Name: Name, dtype: object, average rating: 3.84 in 647 reviews
(647, 17770)
(647, 1)
Movie #577, 576    The Twilight Zone: Vol. 36
Name: Name, dtype: object, average rating: 4.19 in 2094 reviews
(2094, 17770)
(2094, 1)
Movie #578, 577    The Terror
Name: Name, dtype: object, average rating: 2.41 in 234 reviews
(234, 17770)
(234, 1)
Movie #579, 578    The Autobiography of Miss Jane Pittman
Name: Name, dtype: object, average rating: 3.98 in 2047 reviews
(2047, 17770)
(2047, 1)
Movie #580, 579    THX 1138: Special Edition
Name: Name, dtype: object, average rating: 3.08 in 8265 reviews
(8265, 17770)
(8265, 1)
Movie #581, 580    Black Jack: The Movie
Name: Name, dtype: object, average rating: 3.31 in 84 reviews
(84, 17770)
(84, 1)
Movie #582, 581    Jo Jo Dancer
Name: Name, dtype: object, average rating: 3.01 in 2213 reviews
(2213, 17770)
(2213, 1)
Movie #583, 582    Third Man on the Mountain
Name: Name, dtype: object, average rating: 3.30 in 155 reviews
(155, 17770)
(155, 1)
Movie #584, 583    The Curve
Name: Name, dtype: object, average rating: 3.06 in 1008 reviews
(1008, 17770)
(1008, 1)
Movie #585, 584    My Family
Name: Name, dtype: object, average rating: 3.81 in 1983 reviews
(1983, 17770)
(1983, 1)
Movie #586, 585    Shanghai Triad
Name: Name, dtype: object, average rating: 3.32 in 2336 reviews
(2336, 17770)
(2336, 1)
Movie #587, 586    The Scarlet and the Black
Name: Name, dtype: object, average rating: 3.77 in 528 reviews

(528, 17770)
(528, 1)
Movie #588, 587    Blue Planet: IMAX
Name: Name, dtype: object, average rating: 3.45 in 2053 reviews
(2053, 17770)
(2053, 1)
Movie #589, 588    Northanger Abbey
Name: Name, dtype: object, average rating: 2.35 in 599 reviews
(599, 17770)
(599, 1)
Movie #590, 589    Michael McDonald: A Gathering of Friends
Name: Name, dtype: object, average rating: 3.40 in 177 reviews
(177, 17770)
(177, 1)
Movie #591, 590    Particles of Truth
Name: Name, dtype: object, average rating: 2.89 in 514 reviews
(514, 17770)
(514, 1)
Movie #592, 591    House of Whipcord
Name: Name, dtype: object, average rating: 2.00 in 137 reviews
(137, 17770)
(137, 1)
Movie #593, 592    Baby Genius: Mozart and Friends
Name: Name, dtype: object, average rating: 2.73 in 92 reviews
(92, 17770)
(92, 1)
Movie #594, 593    By Hook or By Crook
Name: Name, dtype: object, average rating: 2.56 in 294 reviews
(294, 17770)
(294, 1)
Movie #595, 594    Monarch of the Glen: Series 2
Name: Name, dtype: object, average rating: 4.17 in 1622 reviews
(1622, 17770)
(1622, 1)
Movie #596, 595    Alice in Wonderland (TV Version)
Name: Name, dtype: object, average rating: 2.97 in 1161 reviews
(1161, 17770)
(1161, 1)
Movie #597, 596    The Brady Bunch Variety Hour
Name: Name, dtype: object, average rating: 2.46 in 216 reviews
(216, 17770)
(216, 1)
Movie #598, 597    Bobby Darin: Mack is Back
Name: Name, dtype: object, average rating: 3.36 in 247 reviews
(247, 17770)
(247, 1)
Movie #599, 598    Sea of Love
Name: Name, dtype: object, average rating: 3.50 in 9746 reviews
(9746, 17770)
(9746, 1)
Movie #600, 599    What's Up
Name: Name, dtype: object, average rating: 3.22 in 2910 reviews
(2910, 17770)
(2910, 1)
Movie #601, 600    The Smiths: The Complete Picture
Name: Name, dtype: object, average rating: 3.32 in 406 reviews
(406, 17770)
(406, 1)
Movie #602, 601    Tokyo Raiders
Name: Name, dtype: object, average rating: 2.81 in 1192 reviews
(1192, 17770)
(1192, 1)
Movie #603, 602    Burn Up Excess: Vol. 1: To Serve and Protect
Name: Name, dtype: object, average rating: 3.58 in 401 reviews
(401, 17770)
(401, 1)
Movie #604, 603    Walt Disney's Timeless Tales: Vol. 2
Name: Name, dtype: object, average rating: 3.31 in 115 reviews
(115, 17770)
(115, 1)
Movie #605, 604    The Secrets of the Dead Sea Scrolls
Name: Name, dtype: object, average rating: 2.89 in 238 reviews
(238, 17770)
(238, 1)
Movie #606, 605    Quatermass and the Pit
Name: Name, dtype: object, average rating: 3.34 in 844 reviews
(844, 17770)
(844, 1)
Movie #607, 606    Speed
Name: Name, dtype: object, average rating: 3.54 in 100248 reviews
(100248, 17770)
(100248, 1)
Movie #608, 607    The Lickerish Quartet
Name: Name, dtype: object, average rating: 2.41 in 68 reviews
(68, 17770)
(68, 1)
Movie #609, 608    Jimmy Neutron: Attack of the Twonkies
Name: Name, dtype: object, average rating: 3.76 in 770 reviews
(770, 17770)
(770, 1)
Movie #610, 609    Offspring: Americana
Name: Name, dtype: object, average rating: 2.52 in 104 reviews
(104, 17770)
(104, 1)
Movie #611, 610    Spooks & Creeps
Name: Name, dtype: object, average rating: 2.03 in 146 reviews
(146, 17770)
(146, 1)
Movie #612, 611    Cloak and Dagger
Name: Name, dtype: object, average rating: 3.06 in 254 reviews
(254, 17770)
(254, 1)
Movie #613, 612    The Dr. Who Collection
Name: Name, dtype: object, average rating: 3.17 in 580 reviews
(580, 17770)
(580, 1)
Movie #614, 613    Bad Boy Bubby
Name: Name, dtype: object, average rating: 3.08 in 142 reviews
(142, 17770)
(142, 1)
Movie #615, 614    An Ideal Husband
Name: Name, dtype: object, average rating: 3.50 in 13788 reviews
(13788, 17770)
(13788, 1)
Movie #616, 615    SCTV Network 90: Vol. 4
Name: Name, dtype: object, average rating: 3.32 in 114 reviews
(114, 17770)
(114, 1)
Movie #617, 616    UFC: Ultimate Fighting Championship: Ultimate ...
Name: Name, dtype: object, average rating: 3.83 in 795 reviews
(795, 17770)
(795, 1)
Movie #618, 617    Totally F***ed Up
Name: Name, dtype: object, average rating: 2.61 in 361 reviews
(361, 17770)
(361, 1)
Movie #619, 618    Doctor Who: The Leisure Hive
Name: Name, dtype: object, average rating: 3.86 in 266 reviews
(266, 17770)
(266, 1)
Movie #620, 619    Hot Wheels: World Race
Name: Name, dtype: object, average rating: 3.57 in 670 reviews
(670, 17770)
(670, 1)
Movie #621, 620    Armageddon
Name: Name, dtype: object, average rating: 3.93 in 8552 reviews
(8552, 17770)
(8552, 1)
Movie #622, 621    Talkin' Dirty After Dark
Name: Name, dtype: object, average rating: 2.98 in 347 reviews
(347, 17770)
(347, 1)
Movie #623, 622    Dario Argento Collection: Vol. 2: Demons 2
Name: Name, dtype: object, average rating: 3.04 in 239 reviews
(239, 17770)
(239, 1)
Movie #624, 623    My Mother Likes Women
Name: Name, dtype: object, average rating: 3.25 in 1094 reviews
(1094, 17770)
(1094, 1)
Movie #625, 624    Underground Comedy Movie
Name: Name, dtype: object, average rating: 1.51 in 596 reviews
(596, 17770)
(596, 1)
Movie #626, 625    They Died with Their Boots On
Name: Name, dtype: object, average rating: 3.66 in 297 reviews
(297, 17770)
(297, 1)
Movie #627, 626    Beware of a Holy Whore
Name: Name, dtype: object, average rating: 2.96 in 98 reviews
(98, 17770)
(98, 1)
Movie #628, 627    Rescue Heroes: The Movie
Name: Name, dtype: object, average rating: 3.51 in 664 reviews
(664, 17770)
(664, 1)
Movie #629, 628    Firestarter
Name: Name, dtype: object, average rating: 3.57 in 11816 reviews
(11816, 17770)
(11816, 1)
Movie #630, 629    Empire of the Ants
Name: Name, dtype: object, average rating: 2.63 in 245 reviews
(245, 17770)
(245, 1)
Movie #631, 630    Unleashed
Name: Name, dtype: object, average rating: 3.66 in 8299 reviews
(8299, 17770)
(8299, 1)
Movie #632, 631    Shaft's Big Score!
Name: Name, dtype: object, average rating: 2.98 in 728 reviews
(728, 17770)
(728, 1)
Movie #633, 632    Baazigar
Name: Name, dtype: object, average rating: 3.22 in 421 reviews
(421, 17770)
(421, 1)
Movie #634, 633    Christmas with The Simpsons
Name: Name, dtype: object, average rating: 4.15 in 1532 reviews
(1532, 17770)
(1532, 1)
Movie #635, 634    The Fassbinder Collection: Pioneer in Ingolstadt
Name: Name, dtype: object, average rating: 2.65 in 141 reviews
(141, 17770)
(141, 1)
Movie #636, 635    Stir Crazy
Name: Name, dtype: object, average rating: 3.50 in 13719 reviews
(13719, 17770)
(13719, 1)
Movie #637, 636    National Geographic: Inside American Power: Ai...
Name: Name, dtype: object, average rating: 3.50 in 696 reviews
(696, 17770)
(696, 1)
Movie #638, 637    The Last Dragon
Name: Name, dtype: object, average rating: 3.54 in 4165 reviews
(4165, 17770)
(4165, 1)
Movie #639, 638    Jim Brown: All-American
Name: Name, dtype: object, average rating: 3.09 in 191 reviews
(191, 17770)
(191, 1)
Movie #640, 639    To Catch a Killer
Name: Name, dtype: object, average rating: 3.14 in 437 reviews
(437, 17770)
(437, 1)
Movie #641, 640    Charly
Name: Name, dtype: object, average rating: 3.65 in 1199 reviews
(1199, 17770)
(1199, 1)
Movie #642, 641    Mystery Science Theater 3000: The Hellcats
Name: Name, dtype: object, average rating: 3.72 in 1236 reviews
(1236, 17770)
(1236, 1)
Movie #643, 642    Buying the Cow
Name: Name, dtype: object, average rating: 3.15 in 3280 reviews
(3280, 17770)
(3280, 1)
Movie #644, 643    Cheyenne Warrior
Name: Name, dtype: object, average rating: 2.99 in 302 reviews
(302, 17770)
(302, 1)
Movie #645, 644    Dear Frankie
Name: Name, dtype: object, average rating: 3.94 in 8685 reviews
(8685, 17770)
(8685, 1)
Movie #646, 645    Matewan
Name: Name, dtype: object, average rating: 3.87 in 4035 reviews
(4035, 17770)
(4035, 1)
Movie #647, 646    Cinderfella
Name: Name, dtype: object, average rating: 3.44 in 691 reviews
(691, 17770)
(691, 1)
Movie #648, 647    John Mayall & The Bluesbreakers and Friends: 7...
Name: Name, dtype: object, average rating: 3.50 in 170 reviews
(170, 17770)
(170, 1)
Movie #649, 648    Ricky Martin: The Ricky Martin Video Collection
Name: Name, dtype: object, average rating: 3.01 in 80 reviews
(80, 17770)
(80, 1)
Movie #650, 649    Elvira's Haunted Hills
Name: Name, dtype: object, average rating: 2.68 in 439 reviews
(439, 17770)
(439, 1)
Movie #651, 650    The Rainbow Fish / Dazzle the Dinosaur
Name: Name, dtype: object, average rating: 2.94 in 144 reviews

(144, 17770)
(144, 1)
Movie #652, 651    Marvin's Room
Name: Name, dtype: object, average rating: 3.32 in 5129 reviews
(5129, 17770)
(5129, 1)
Movie #653, 652    American Tragedy
Name: Name, dtype: object, average rating: 2.61 in 136 reviews
(136, 17770)
(136, 1)
Movie #654, 653    Return of the Chinese Boxer
Name: Name, dtype: object, average rating: 2.56 in 85 reviews
(85, 17770)
(85, 1)
Movie #655, 654    Green Acres: Season 1
Name: Name, dtype: object, average rating: 3.51 in 817 reviews
(817, 17770)
(817, 1)
Movie #656, 655    Veronica 2030
Name: Name, dtype: object, average rating: 2.74 in 119 reviews
(119, 17770)
(119, 1)
Movie #657, 656    Highlander: Season 5
Name: Name, dtype: object, average rating: 4.05 in 1930 reviews
(1930, 17770)
(1930, 1)
Movie #658, 657    Robin Hood: Prince of Thieves
Name: Name, dtype: object, average rating: 3.63 in 44001 reviews
(44001, 17770)
(44001, 1)
Movie #659, 658    The Last House on the Left
Name: Name, dtype: object, average rating: 2.75 in 2989 reviews
(2989, 17770)
(2989, 1)
Movie #660, 659    Saving Grace
Name: Name, dtype: object, average rating: 3.78 in 20801 reviews
(20801, 17770)
(20801, 1)
Movie #661, 660    Who is Cletis Tout?
Name: Name, dtype: object, average rating: 3.25 in 3441 reviews
(3441, 17770)
(3441, 1)
Movie #662, 661    Rob Roy
Name: Name, dtype: object, average rating: 3.59 in 11409 reviews
(11409, 17770)
(11409, 1)
Movie #663, 662    La Femme Nikita: Season 3
Name: Name, dtype: object, average rating: 4.17 in 811 reviews
(811, 17770)
(811, 1)
Movie #664, 663    Office Killer
Name: Name, dtype: object, average rating: 2.34 in 357 reviews
(357, 17770)
(357, 1)
Movie #665, 664    Lipstick
Name: Name, dtype: object, average rating: 2.70 in 207 reviews
(207, 17770)
(207, 1)
Movie #666, 665    The Man Who Came to Dinner
Name: Name, dtype: object, average rating: 3.25 in 351 reviews
(351, 17770)
(351, 1)
Movie #667, 666    Gilligan's Island: Season 2
Name: Name, dtype: object, average rating: 3.79 in 1104 reviews
(1104, 17770)
(1104, 1)
Movie #668, 667    Saturday Night Live: The Best of Will Ferrell 2
Name: Name, dtype: object, average rating: 3.87 in 6364 reviews
(6364, 17770)
(6364, 1)
Movie #669, 668    Real Kung Fu of Shaolin
Name: Name, dtype: object, average rating: 2.38 in 79 reviews
(79, 17770)
(79, 1)
Movie #670, 669    He Loves Me
Name: Name, dtype: object, average rating: 3.51 in 7567 reviews
(7567, 17770)
(7567, 1)
Movie #671, 670    The Winter People
Name: Name, dtype: object, average rating: 3.22 in 478 reviews
(478, 17770)
(478, 1)
Movie #672, 671    He Said
Name: Name, dtype: object, average rating: 3.07 in 4446 reviews
(4446, 17770)
(4446, 1)
Movie #673, 672    Fight Club: Bonus Material
Name: Name, dtype: object, average rating: 3.82 in 1332 reviews
(1332, 17770)
(1332, 1)
Movie #674, 673    Hellbound: Hellraiser II
Name: Name, dtype: object, average rating: 3.38 in 7637 reviews
(7637, 17770)
(7637, 1)
Movie #675, 674    Rugrats All Grown Up: O' Brother!
Name: Name, dtype: object, average rating: 3.20 in 179 reviews
(179, 17770)
(179, 1)
Movie #676, 675    Mafia!
Name: Name, dtype: object, average rating: 3.08 in 2388 reviews
(2388, 17770)
(2388, 1)
Movie #677, 676    In the Mood for Love
Name: Name, dtype: object, average rating: 3.74 in 6351 reviews
(6351, 17770)
(6351, 1)
Movie #678, 677    Loves of a Blonde
Name: Name, dtype: object, average rating: 3.33 in 282 reviews
(282, 17770)
(282, 1)
Movie #679, 678    R.E.M.: Pop Screen
Name: Name, dtype: object, average rating: 3.06 in 88 reviews
(88, 17770)
(88, 1)
Movie #680, 679    Better Than Sex
Name: Name, dtype: object, average rating: 2.96 in 2697 reviews
(2697, 17770)
(2697, 1)
Movie #681, 680    Police Academy 3: Back in Training
Name: Name, dtype: object, average rating: 3.49 in 4086 reviews
(4086, 17770)
(4086, 1)
Movie #682, 681    The Mighty
Name: Name, dtype: object, average rating: 3.74 in 4766 reviews
(4766, 17770)
(4766, 1)
Movie #683, 682    Cavalry Charge
Name: Name, dtype: object, average rating: 2.93 in 138 reviews
(138, 17770)
(138, 1)
Movie #684, 683    Visitors of the Night
Name: Name, dtype: object, average rating: 2.61 in 174 reviews
(174, 17770)
(174, 1)
Movie #685, 684    Running Out of Time
Name: Name, dtype: object, average rating: 3.40 in 1063 reviews
(1063, 17770)
(1063, 1)
Movie #686, 685    Bedazzled
Name: Name, dtype: object, average rating: 3.07 in 14669 reviews
(14669, 17770)
(14669, 1)
Movie #687, 686    Peter Jennings Reports: The Kennedy Assassinat...
Name: Name, dtype: object, average rating: 3.04 in 133 reviews
(133, 17770)
(133, 1)
Movie #688, 687    The History Channel Presents: The Alamo
Name: Name, dtype: object, average rating: 3.17 in 324 reviews
(324, 17770)
(324, 1)
Movie #689, 688    One True Thing
Name: Name, dtype: object, average rating: 3.42 in 8694 reviews
(8694, 17770)
(8694, 1)
Movie #690, 689    Baby Einstein: Baby Da Vinci
Name: Name, dtype: object, average rating: 3.98 in 929 reviews
(929, 17770)
(929, 1)
Movie #691, 690    Angel's Dance
Name: Name, dtype: object, average rating: 2.99 in 188 reviews
(188, 17770)
(188, 1)
Movie #692, 691    The Hand that Rocks the Cradle
Name: Name, dtype: object, average rating: 3.51 in 32828 reviews
(32828, 17770)
(32828, 1)
Movie #693, 692    The Quest
Name: Name, dtype: object, average rating: 3.06 in 2406 reviews
(2406, 17770)
(2406, 1)
Movie #694, 693    When Dinosaurs Roamed America
Name: Name, dtype: object, average rating: 3.76 in 885 reviews
(885, 17770)
(885, 1)
Movie #695, 694    Koma
Name: Name, dtype: object, average rating: 2.84 in 166 reviews
(166, 17770)
(166, 1)
Movie #696, 695    Last Man Standing
Name: Name, dtype: object, average rating: 3.43 in 7094 reviews
(7094, 17770)
(7094, 1)
Movie #697, 696    Caillou: Caillou's Treasure Hunt and Other Adv...
Name: Name, dtype: object, average rating: 3.29 in 209 reviews
(209, 17770)
(209, 1)
Movie #698, 697    Daud
Name: Name, dtype: object, average rating: 2.49 in 79 reviews
(79, 17770)
(79, 1)
Movie #699, 698    Mahoromatic: Automatic Maiden: Summer Special
Name: Name, dtype: object, average rating: 3.83 in 359 reviews
(359, 17770)
(359, 1)
Movie #700, 699    Todd McFarlane's Spawn
Name: Name, dtype: object, average rating: 3.61 in 4684 reviews
(4684, 17770)
(4684, 1)
Movie #701, 700    Nine Lives
Name: Name, dtype: object, average rating: 1.92 in 322 reviews
(322, 17770)
(322, 1)
Movie #702, 701    For the Moment
Name: Name, dtype: object, average rating: 2.93 in 209 reviews
(209, 17770)
(209, 1)
Movie #703, 702    Japan: Memoirs of a Secret Empire
Name: Name, dtype: object, average rating: 3.71 in 194 reviews
(194, 17770)
(194, 1)
Movie #704, 703    A Change of Heart
Name: Name, dtype: object, average rating: 3.04 in 162 reviews
(162, 17770)
(162, 1)
Movie #705, 704    Major League
Name: Name, dtype: object, average rating: 3.64 in 38680 reviews
(38680, 17770)
(38680, 1)
Movie #706, 705    Mobsters
Name: Name, dtype: object, average rating: 3.53 in 667 reviews
(667, 17770)
(667, 1)
Movie #707, 706    The Return
Name: Name, dtype: object, average rating: 3.51 in 2276 reviews
(2276, 17770)
(2276, 1)
Movie #708, 707    The Perfect Storm
Name: Name, dtype: object, average rating: 3.39 in 72381 reviews
(72381, 17770)
(72381, 1)
Movie #709, 708    Africans in America: America's Journey Through...
Name: Name, dtype: object, average rating: 3.74 in 363 reviews
(363, 17770)
(363, 1)
Movie #710, 709    Inspector Morse 9: The Last Enemy
Name: Name, dtype: object, average rating: 4.14 in 257 reviews
(257, 17770)
(257, 1)
Movie #711, 710    Dolores Claiborne
Name: Name, dtype: object, average rating: 3.61 in 14759 reviews
(14759, 17770)
(14759, 1)
Movie #712, 711    Homicide: Life on the Street: Season 7
Name: Name, dtype: object, average rating: 4.13 in 898 reviews
(898, 17770)
(898, 1)
Movie #713, 712    Cause Celebre
Name: Name, dtype: object, average rating: 3.07 in 130 reviews
(130, 17770)
(130, 1)
Movie #714, 713    Whisper Kill
Name: Name, dtype: object, average rating: 2.17 in 76 reviews
(76, 17770)
(76, 1)
Movie #715, 714    Film Noir Collection: D.O.A.
Name: Name, dtype: object, average rating: 3.67 in 503 reviews
(503, 17770)
(503, 1)
Movie #716, 715    The Bravados
Name: Name, dtype: object, average rating: 3.24 in 102 reviews

(102, 17770)
(102, 1)
Movie #717, 716    Testosterone
Name: Name, dtype: object, average rating: 2.89 in 1951 reviews
(1951, 17770)
(1951, 1)
Movie #718, 717    44 Minutes
Name: Name, dtype: object, average rating: 3.32 in 1747 reviews
(1747, 17770)
(1747, 1)
Movie #719, 718    City of Industry
Name: Name, dtype: object, average rating: 2.99 in 814 reviews
(814, 17770)
(814, 1)
Movie #720, 719    Roger & Me
Name: Name, dtype: object, average rating: 3.84 in 26718 reviews
(26718, 17770)
(26718, 1)
Movie #721, 720    Royal Deceit
Name: Name, dtype: object, average rating: 2.48 in 343 reviews
(343, 17770)
(343, 1)
Movie #722, 721    The Wire: Season 1
Name: Name, dtype: object, average rating: 4.09 in 5955 reviews
(5955, 17770)
(5955, 1)
Movie #723, 722    Curly Sue
Name: Name, dtype: object, average rating: 2.99 in 14038 reviews
(14038, 17770)
(14038, 1)
Movie #724, 723    Yu Yu Hakusho
Name: Name, dtype: object, average rating: 4.41 in 1223 reviews
(1223, 17770)
(1223, 1)
Movie #725, 724    Woman Thou Art Loosed
Name: Name, dtype: object, average rating: 3.63 in 5132 reviews
(5132, 17770)
(5132, 1)
Movie #726, 725    The Haunting of Morella
Name: Name, dtype: object, average rating: 2.14 in 168 reviews
(168, 17770)
(168, 1)
Movie #727, 726    Carlton-Browne of the F.O.
Name: Name, dtype: object, average rating: 2.71 in 133 reviews
(133, 17770)
(133, 1)
Movie #728, 727    Abigail's Party
Name: Name, dtype: object, average rating: 2.97 in 182 reviews
(182, 17770)
(182, 1)
Movie #729, 728    Fast Food
Name: Name, dtype: object, average rating: 2.42 in 214 reviews
(214, 17770)
(214, 1)
Movie #730, 729    Bagdad Cafe
Name: Name, dtype: object, average rating: 3.84 in 4468 reviews
(4468, 17770)
(4468, 1)
Movie #731, 730    Mr. Magoo
Name: Name, dtype: object, average rating: 2.55 in 1994 reviews
(1994, 17770)
(1994, 1)
Movie #732, 731    11:14
Name: Name, dtype: object, average rating: 3.23 in 2563 reviews
(2563, 17770)
(2563, 1)
Movie #733, 732    Dead Ringers
Name: Name, dtype: object, average rating: 3.41 in 2686 reviews
(2686, 17770)
(2686, 1)
Movie #734, 733    Indochine
Name: Name, dtype: object, average rating: 3.83 in 6715 reviews
(6715, 17770)
(6715, 1)
Movie #735, 734    Hillary & Tenzing: Climbing to the Roof of World
Name: Name, dtype: object, average rating: 3.13 in 197 reviews
(197, 17770)
(197, 1)
Movie #736, 735    The Last Man
Name: Name, dtype: object, average rating: 2.16 in 315 reviews
(315, 17770)
(315, 1)
Movie #737, 736    Great Pas de Deux
Name: Name, dtype: object, average rating: 3.33 in 107 reviews
(107, 17770)
(107, 1)
Movie #738, 737    A Slipping Down Life
Name: Name, dtype: object, average rating: 2.77 in 590 reviews
(590, 17770)
(590, 1)
Movie #739, 738    Treading Water
Name: Name, dtype: object, average rating: 2.73 in 938 reviews
(938, 17770)
(938, 1)
Movie #740, 739    The House on Carroll Street
Name: Name, dtype: object, average rating: 2.80 in 126 reviews
(126, 17770)
(126, 1)
Movie #741, 740    Ken Burns' America: The Congress
Name: Name, dtype: object, average rating: 3.40 in 419 reviews
(419, 17770)
(419, 1)
Movie #742, 741    Sherlock: Case of Evil
Name: Name, dtype: object, average rating: 2.84 in 215 reviews
(215, 17770)
(215, 1)
Movie #743, 742    Widows' Peak
Name: Name, dtype: object, average rating: 3.20 in 459 reviews
(459, 17770)
(459, 1)
Movie #744, 743    Hot War
Name: Name, dtype: object, average rating: 2.88 in 106 reviews
(106, 17770)
(106, 1)
Movie #745, 744    Fantasy Mission Force
Name: Name, dtype: object, average rating: 2.29 in 113 reviews
(113, 17770)
(113, 1)
Movie #746, 745    Domestic Disturbance
Name: Name, dtype: object, average rating: 3.53 in 24127 reviews
(24127, 17770)
(24127, 1)
Movie #747, 746    Saber Marionette J
Name: Name, dtype: object, average rating: 3.74 in 104 reviews
(104, 17770)
(104, 1)
Movie #748, 747    I Can Do Bad All By Myself
Name: Name, dtype: object, average rating: 3.74 in 3637 reviews
(3637, 17770)
(3637, 1)
Movie #749, 748    Ernest Goes to Jail
Name: Name, dtype: object, average rating: 2.24 in 3305 reviews
(3305, 17770)
(3305, 1)
Movie #750, 749    The Librarian: Quest for the Spear
Name: Name, dtype: object, average rating: 3.52 in 2071 reviews
(2071, 17770)
(2071, 1)
Movie #751, 750    Halloween: H2O
Name: Name, dtype: object, average rating: 3.19 in 9560 reviews
(9560, 17770)
(9560, 1)
Movie #752, 751    Star Trek: The Next Generation: Season 7
Name: Name, dtype: object, average rating: 4.25 in 8669 reviews
(8669, 17770)
(8669, 1)
Movie #753, 752    Mary Poppins: Bonus Material
Name: Name, dtype: object, average rating: 3.97 in 159 reviews
(159, 17770)
(159, 1)
Movie #754, 753    The Lonely Guy
Name: Name, dtype: object, average rating: 3.20 in 2036 reviews
(2036, 17770)
(2036, 1)
Movie #755, 754    Music Box
Name: Name, dtype: object, average rating: 3.50 in 1008 reviews
(1008, 17770)
(1008, 1)
Movie #756, 755    The Best of MusikLaden: Classic Rock
Name: Name, dtype: object, average rating: 2.56 in 87 reviews
(87, 17770)
(87, 1)
Movie #757, 756    Sherlock Hound
Name: Name, dtype: object, average rating: 3.13 in 124 reviews
(124, 17770)
(124, 1)
Movie #758, 757    Mean Girls
Name: Name, dtype: object, average rating: 3.51 in 104362 reviews
(104362, 17770)
(104362, 1)
Movie #759, 758    Fifteen Minutes
Name: Name, dtype: object, average rating: 3.20 in 16856 reviews
(16856, 17770)
(16856, 1)
Movie #760, 759    Pooh's Heffalump Movie
Name: Name, dtype: object, average rating: 3.86 in 9312 reviews
(9312, 17770)
(9312, 1)
Movie #761, 760    O Fantasma
Name: Name, dtype: object, average rating: 2.66 in 2063 reviews
(2063, 17770)
(2063, 1)
Movie #762, 761    End of the Century: The Story of the Ramones
Name: Name, dtype: object, average rating: 3.98 in 2335 reviews
(2335, 17770)
(2335, 1)
Movie #763, 762    The Poseidon Adventure
Name: Name, dtype: object, average rating: 3.49 in 11917 reviews
(11917, 17770)
(11917, 1)
Movie #764, 763    Scarface: 20th Anniversary Edition: Bonus Mate...
Name: Name, dtype: object, average rating: 3.74 in 654 reviews
(654, 17770)
(654, 1)
Movie #765, 764    Grief
Name: Name, dtype: object, average rating: 2.52 in 217 reviews
(217, 17770)
(217, 1)
Movie #766, 765    A Hole in the Head
Name: Name, dtype: object, average rating: 3.06 in 405 reviews
(405, 17770)
(405, 1)
Movie #767, 766    Edges of the Lord
Name: Name, dtype: object, average rating: 3.25 in 314 reviews
(314, 17770)
(314, 1)
Movie #768, 767    The Star Maker
Name: Name, dtype: object, average rating: 3.28 in 659 reviews
(659, 17770)
(659, 1)
Movie #769, 768    The Crawling Eye
Name: Name, dtype: object, average rating: 3.27 in 111 reviews
(111, 17770)
(111, 1)
Movie #770, 769    A Perfect Candidate
Name: Name, dtype: object, average rating: 3.16 in 168 reviews
(168, 17770)
(168, 1)
Movie #771, 770    Man in the Iron Mask
Name: Name, dtype: object, average rating: 3.11 in 388 reviews
(388, 17770)
(388, 1)
Movie #772, 771    Gloria Estefan: Don't Stop!
Name: Name, dtype: object, average rating: 2.67 in 69 reviews
(69, 17770)
(69, 1)
Movie #773, 772    He Died with a Felafel in His Hand
Name: Name, dtype: object, average rating: 2.91 in 532 reviews
(532, 17770)
(532, 1)
Movie #774, 773    Foyle's War: Set 2
Name: Name, dtype: object, average rating: 4.25 in 2475 reviews
(2475, 17770)
(2475, 1)
Movie #775, 774    Man Ray: Prophet of the Avant Garde
Name: Name, dtype: object, average rating: 3.55 in 478 reviews
(478, 17770)
(478, 1)
Movie #776, 775    Dr. Seuss's The 5
Name: Name, dtype: object, average rating: 2.97 in 1356 reviews
(1356, 17770)
(1356, 1)
Movie #777, 776    Sherlock Holmes and the Spider Woman
Name: Name, dtype: object, average rating: 3.79 in 612 reviews
(612, 17770)
(612, 1)
Movie #778, 777    A Touch of Frost: Seasons 7 & 8
Name: Name, dtype: object, average rating: 3.90 in 126 reviews
(126, 17770)
(126, 1)
Movie #779, 778    Loving Jezebel
Name: Name, dtype: object, average rating: 2.52 in 427 reviews
(427, 17770)
(427, 1)
Movie #780, 779    Churchill
Name: Name, dtype: object, average rating: 3.83 in 397 reviews
(397, 17770)
(397, 1)
Movie #781, 780    Care Bears: Journey to Joke-a-Lot
Name: Name, dtype: object, average rating: 3.58 in 741 reviews

(741, 17770)
(741, 1)
Movie #782, 781    Soldier of Fortune
Name: Name, dtype: object, average rating: 2.44 in 95 reviews
(95, 17770)
(95, 1)
Movie #783, 782    For Love or Country
Name: Name, dtype: object, average rating: 3.37 in 1203 reviews
(1203, 17770)
(1203, 1)
Movie #784, 783    The Outer Limits: The New Series: Aliens Among Us
Name: Name, dtype: object, average rating: 3.53 in 224 reviews
(224, 17770)
(224, 1)
Movie #785, 784    American Pop
Name: Name, dtype: object, average rating: 3.16 in 387 reviews
(387, 17770)
(387, 1)
Movie #786, 785    Tokyo Drifter
Name: Name, dtype: object, average rating: 3.38 in 508 reviews
(508, 17770)
(508, 1)
Movie #787, 786    La Vallee
Name: Name, dtype: object, average rating: 2.50 in 82 reviews
(82, 17770)
(82, 1)
Movie #788, 787    Clerks
Name: Name, dtype: object, average rating: 3.76 in 58527 reviews
(58527, 17770)
(58527, 1)
Movie #789, 788    Boyz N the Hood
Name: Name, dtype: object, average rating: 3.79 in 31537 reviews
(31537, 17770)
(31537, 1)
Movie #790, 789    A Single Girl
Name: Name, dtype: object, average rating: 2.80 in 365 reviews
(365, 17770)
(365, 1)
Movie #791, 790    Don Henley: Live Inside Job
Name: Name, dtype: object, average rating: 3.53 in 388 reviews
(388, 17770)
(388, 1)
Movie #792, 791    Unsolved History: Salem Witch Trials
Name: Name, dtype: object, average rating: 2.86 in 120 reviews
(120, 17770)
(120, 1)
Movie #793, 792    By Brakhage: An Anthology
Name: Name, dtype: object, average rating: 3.49 in 207 reviews
(207, 17770)
(207, 1)
Movie #794, 793    A Stranger Among Us
Name: Name, dtype: object, average rating: 3.12 in 809 reviews
(809, 17770)
(809, 1)
Movie #795, 794    Landmarks of Early Film
Name: Name, dtype: object, average rating: 3.14 in 211 reviews
(211, 17770)
(211, 1)
Movie #796, 795    Rabid
Name: Name, dtype: object, average rating: 2.94 in 449 reviews
(449, 17770)
(449, 1)
Movie #797, 796    Look Back in Anger
Name: Name, dtype: object, average rating: 3.09 in 320 reviews
(320, 17770)
(320, 1)
Movie #798, 797    Jaws
Name: Name, dtype: object, average rating: 3.89 in 81278 reviews
(81278, 17770)
(81278, 1)
Movie #799, 798    Teen Titans: Season 1
Name: Name, dtype: object, average rating: 4.07 in 1104 reviews
(1104, 17770)
(1104, 1)
Movie #800, 799    Dracula Vs. Frankenstein
Name: Name, dtype: object, average rating: 2.38 in 154 reviews
(154, 17770)
(154, 1)
Movie #801, 800    We Know Where You Live. Live!
Name: Name, dtype: object, average rating: 2.66 in 158 reviews
(158, 17770)
(158, 1)
Movie #802, 801    Spies
Name: Name, dtype: object, average rating: 3.35 in 100 reviews
(100, 17770)
(100, 1)
Movie #803, 802    Soul Assassin
Name: Name, dtype: object, average rating: 2.37 in 363 reviews
(363, 17770)
(363, 1)
Movie #804, 803    Sherlock Holmes: The Scarlet Claw
Name: Name, dtype: object, average rating: 3.85 in 609 reviews
(609, 17770)
(609, 1)
Movie #805, 804    Dark Shadows: Vol. 11
Name: Name, dtype: object, average rating: 3.79 in 296 reviews
(296, 17770)
(296, 1)
Movie #806, 805    Eyes Without a Face
Name: Name, dtype: object, average rating: 3.49 in 996 reviews
(996, 17770)
(996, 1)
Movie #807, 806    The Mouse That Roared
Name: Name, dtype: object, average rating: 3.58 in 3061 reviews
(3061, 17770)
(3061, 1)
Movie #808, 807    Dead Man on Campus
Name: Name, dtype: object, average rating: 3.24 in 3713 reviews
(3713, 17770)
(3713, 1)
Movie #809, 808    Left Behind II: Tribulation Force
Name: Name, dtype: object, average rating: 3.55 in 3888 reviews
(3888, 17770)
(3888, 1)
Movie #810, 809    The Matchmaker
Name: Name, dtype: object, average rating: 2.98 in 105 reviews
(105, 17770)
(105, 1)
Movie #811, 810    The Lawnmower Man
Name: Name, dtype: object, average rating: 2.98 in 11548 reviews
(11548, 17770)
(11548, 1)
Movie #812, 811    The Saddle Club: Horse Crazy
Name: Name, dtype: object, average rating: 3.22 in 122 reviews
(122, 17770)
(122, 1)
Movie #813, 812    On Cukor
Name: Name, dtype: object, average rating: 3.27 in 142 reviews
(142, 17770)
(142, 1)
Movie #814, 813    Ruin Explorers
Name: Name, dtype: object, average rating: 3.39 in 429 reviews
(429, 17770)
(429, 1)
Movie #815, 814    Tiger Bay
Name: Name, dtype: object, average rating: 3.13 in 239 reviews
(239, 17770)
(239, 1)
Movie #816, 815    Marlene Dietrich: Her Own Song
Name: Name, dtype: object, average rating: 3.52 in 101 reviews
(101, 17770)
(101, 1)
Movie #817, 816    My Bodyguard
Name: Name, dtype: object, average rating: 3.55 in 4850 reviews
(4850, 17770)
(4850, 1)
Movie #818, 817    Logan's Run
Name: Name, dtype: object, average rating: 3.47 in 14384 reviews
(14384, 17770)
(14384, 1)
Movie #819, 818    The Faculty
Name: Name, dtype: object, average rating: 3.14 in 15786 reviews
(15786, 17770)
(15786, 1)
Movie #820, 819    Predator Island
Name: Name, dtype: object, average rating: 1.96 in 45 reviews
(45, 17770)
(45, 1)
Movie #821, 820    Slaughter
Name: Name, dtype: object, average rating: 2.71 in 119 reviews
(119, 17770)
(119, 1)
Movie #822, 821    Star Trek: Enterprise: Season 1
Name: Name, dtype: object, average rating: 4.07 in 3812 reviews
(3812, 17770)
(3812, 1)
Movie #823, 822    Sleepaway Camp II: Unhappy Campers
Name: Name, dtype: object, average rating: 3.15 in 277 reviews
(277, 17770)
(277, 1)
Movie #824, 823    A Piece of the Action
Name: Name, dtype: object, average rating: 3.78 in 938 reviews
(938, 17770)
(938, 1)
Movie #825, 824    Bill Cosby: Himself
Name: Name, dtype: object, average rating: 4.11 in 5872 reviews
(5872, 17770)
(5872, 1)
Movie #826, 825    Goosebumps: Cry of the Cat
Name: Name, dtype: object, average rating: 3.14 in 172 reviews
(172, 17770)
(172, 1)
Movie #827, 826    C'est La Vie
Name: Name, dtype: object, average rating: 2.96 in 167 reviews
(167, 17770)
(167, 1)
Movie #828, 827    Atlantis
Name: Name, dtype: object, average rating: 3.00 in 217 reviews
(217, 17770)
(217, 1)
Movie #829, 828    Serial Mom
Name: Name, dtype: object, average rating: 3.19 in 9092 reviews
(9092, 17770)
(9092, 1)
Movie #830, 829    Return to a Better Tomorrow
Name: Name, dtype: object, average rating: 2.86 in 133 reviews
(133, 17770)
(133, 1)
Movie #831, 830    Mannequin
Name: Name, dtype: object, average rating: 3.20 in 19563 reviews
(19563, 17770)
(19563, 1)
Movie #832, 831    Tupac: Resurrection
Name: Name, dtype: object, average rating: 3.79 in 3494 reviews
(3494, 17770)
(3494, 1)
Movie #833, 832    White Squall
Name: Name, dtype: object, average rating: 3.52 in 8378 reviews
(8378, 17770)
(8378, 1)
Movie #834, 833    Niagara: Miracles
Name: Name, dtype: object, average rating: 2.73 in 372 reviews
(372, 17770)
(372, 1)
Movie #835, 834    Cirque du Soleil: A Baroque Odyssey
Name: Name, dtype: object, average rating: 3.17 in 637 reviews
(637, 17770)
(637, 1)
Movie #836, 835    Incident at Oglala: The Leonard Peltier Story
Name: Name, dtype: object, average rating: 3.55 in 791 reviews
(791, 17770)
(791, 1)
Movie #837, 836    All in the Family: Season 3
Name: Name, dtype: object, average rating: 3.93 in 1244 reviews
(1244, 17770)
(1244, 1)
Movie #838, 837    Gang of Roses
Name: Name, dtype: object, average rating: 2.51 in 598 reviews
(598, 17770)
(598, 1)
Movie #839, 838    The Thin Man Goes Home
Name: Name, dtype: object, average rating: 4.12 in 917 reviews
(917, 17770)
(917, 1)
Movie #840, 839    The Lady Eve
Name: Name, dtype: object, average rating: 3.82 in 3556 reviews
(3556, 17770)
(3556, 1)
Movie #841, 840    There Goes My Baby
Name: Name, dtype: object, average rating: 2.96 in 150 reviews
(150, 17770)
(150, 1)
Movie #842, 841    Reap the Wild Wind
Name: Name, dtype: object, average rating: 3.46 in 579 reviews
(579, 17770)
(579, 1)
Movie #843, 842    Mansfield Park
Name: Name, dtype: object, average rating: 3.71 in 11401 reviews
(11401, 17770)
(11401, 1)
Movie #844, 843    La Cienaga
Name: Name, dtype: object, average rating: 2.86 in 180 reviews
(180, 17770)
(180, 1)
Movie #845, 844    If We Had No Moon
Name: Name, dtype: object, average rating: 3.63 in 236 reviews
(236, 17770)
(236, 1)
Movie #846, 845    Enduring Love
Name: Name, dtype: object, average rating: 2.69 in 3598 reviews
(3598, 17770)
(3598, 1)
Movie #847, 846    Shania Twain: The Platinum Collection
Name: Name, dtype: object, average rating: 3.73 in 245 reviews

(245, 17770)
(245, 1)
Movie #848, 847    La Separation
Name: Name, dtype: object, average rating: 3.05 in 369 reviews
(369, 17770)
(369, 1)
Movie #849, 848    Mr. & Mrs. Bridge
Name: Name, dtype: object, average rating: 3.26 in 1527 reviews
(1527, 17770)
(1527, 1)
Movie #850, 849    Stoked: The Rise and Fall of Gator
Name: Name, dtype: object, average rating: 3.42 in 2095 reviews
(2095, 17770)
(2095, 1)
Movie #851, 850    Back to the Future Part III
Name: Name, dtype: object, average rating: 3.89 in 25100 reviews
(25100, 17770)
(25100, 1)
Movie #852, 851    Disorganized Crime
Name: Name, dtype: object, average rating: 3.00 in 569 reviews
(569, 17770)
(569, 1)
Movie #853, 852    Dragonball: The Magic Begins
Name: Name, dtype: object, average rating: 2.82 in 465 reviews
(465, 17770)
(465, 1)
Movie #854, 853    Wes Craven's Invitation to Hell
Name: Name, dtype: object, average rating: 2.17 in 157 reviews
(157, 17770)
(157, 1)
Movie #855, 854    Bruiser
Name: Name, dtype: object, average rating: 2.45 in 457 reviews
(457, 17770)
(457, 1)
Movie #856, 855    Devil in the Flesh 2
Name: Name, dtype: object, average rating: 2.58 in 385 reviews
(385, 17770)
(385, 1)
Movie #857, 856    The Three Stooges Go Around the World in a Daze
Name: Name, dtype: object, average rating: 3.72 in 1487 reviews
(1487, 17770)
(1487, 1)
Movie #858, 857    Sports Illustrated Swimsuit Edition: 2002
Name: Name, dtype: object, average rating: 3.22 in 552 reviews
(552, 17770)
(552, 1)
Movie #859, 858    Creepshow
Name: Name, dtype: object, average rating: 3.46 in 11076 reviews
(11076, 17770)
(11076, 1)
Movie #860, 859    Crime Partners
Name: Name, dtype: object, average rating: 2.63 in 129 reviews
(129, 17770)
(129, 1)
Movie #861, 860    Rush: Rush in Rio
Name: Name, dtype: object, average rating: 3.95 in 573 reviews
(573, 17770)
(573, 1)
Movie #862, 861    Tuck Everlasting
Name: Name, dtype: object, average rating: 3.50 in 19351 reviews
(19351, 17770)
(19351, 1)
Movie #863, 862    King of New York: Special Edition (Full-screen)
Name: Name, dtype: object, average rating: 3.55 in 295 reviews
(295, 17770)
(295, 1)
Movie #864, 863    Laughing Out Loud: Vol. 1
Name: Name, dtype: object, average rating: 2.71 in 213 reviews
(213, 17770)
(213, 1)
Movie #865, 864    Elvis by the Presleys
Name: Name, dtype: object, average rating: 3.77 in 255 reviews
(255, 17770)
(255, 1)
Movie #866, 865    Starsky & Hutch: Season 1
Name: Name, dtype: object, average rating: 3.38 in 825 reviews
(825, 17770)
(825, 1)
Movie #867, 866    My Dream Girl
Name: Name, dtype: object, average rating: 2.90 in 135 reviews
(135, 17770)
(135, 1)
Movie #868, 867    La Promesse
Name: Name, dtype: object, average rating: 3.48 in 636 reviews
(636, 17770)
(636, 1)
Movie #869, 868    Without Limits: NASA Test Projects
Name: Name, dtype: object, average rating: 3.09 in 113 reviews
(113, 17770)
(113, 1)
Movie #870, 869    H.G. Wells and the War of the Worlds: A Docume...
Name: Name, dtype: object, average rating: 2.36 in 137 reviews
(137, 17770)
(137, 1)
Movie #871, 870    The Jewel in the Crown
Name: Name, dtype: object, average rating: 3.99 in 1420 reviews
(1420, 17770)
(1420, 1)
Movie #872, 871    Seven Samurai
Name: Name, dtype: object, average rating: 4.20 in 31691 reviews
(31691, 17770)
(31691, 1)
Movie #873, 872    Boys Life 4: Four Play
Name: Name, dtype: object, average rating: 2.74 in 1231 reviews
(1231, 17770)
(1231, 1)
Movie #874, 873    Elvis Costello & the Imposters: Live in Memphis
Name: Name, dtype: object, average rating: 3.42 in 102 reviews
(102, 17770)
(102, 1)
Movie #875, 874    Zakhm
Name: Name, dtype: object, average rating: 3.11 in 196 reviews
(196, 17770)
(196, 1)
Movie #876, 875    Super Gals
Name: Name, dtype: object, average rating: 3.52 in 186 reviews
(186, 17770)
(186, 1)
Movie #877, 876    A Love Divided
Name: Name, dtype: object, average rating: 3.51 in 439 reviews
(439, 17770)
(439, 1)
Movie #878, 877    Short: International Release #2
Name: Name, dtype: object, average rating: 2.45 in 92 reviews
(92, 17770)
(92, 1)
Movie #879, 878    Mikey and Nicky
Name: Name, dtype: object, average rating: 2.88 in 458 reviews
(458, 17770)
(458, 1)
Movie #880, 879    Sharpe 4: Sharpe's Enemy
Name: Name, dtype: object, average rating: 3.93 in 1671 reviews
(1671, 17770)
(1671, 1)
Movie #881, 880    Mating Habits of the Earthbound Human
Name: Name, dtype: object, average rating: 3.11 in 1132 reviews
(1132, 17770)
(1132, 1)
Movie #882, 881    Gloria Estefan: Evolution Tour: Live in Miami
Name: Name, dtype: object, average rating: 2.84 in 82 reviews
(82, 17770)
(82, 1)
Movie #883, 882    Deep Cover
Name: Name, dtype: object, average rating: 3.57 in 4536 reviews
(4536, 17770)
(4536, 1)
Movie #884, 883    Cup Final
Name: Name, dtype: object, average rating: 2.85 in 95 reviews
(95, 17770)
(95, 1)
Movie #885, 884    The Maldonado Miracle
Name: Name, dtype: object, average rating: 3.29 in 462 reviews
(462, 17770)
(462, 1)
Movie #886, 885    Ray
Name: Name, dtype: object, average rating: 4.19 in 108606 reviews
(108606, 17770)
(108606, 1)
Movie #887, 886    Monster-in-Law: Bonus Material
Name: Name, dtype: object, average rating: 3.11 in 241 reviews
(241, 17770)
(241, 1)
Movie #888, 887    Discovering Australia
Name: Name, dtype: object, average rating: 2.61 in 109 reviews
(109, 17770)
(109, 1)
Movie #889, 888    Reno 911: Season 2
Name: Name, dtype: object, average rating: 4.05 in 2914 reviews
(2914, 17770)
(2914, 1)
Movie #890, 889    Harsh Realm: The Complete Series
Name: Name, dtype: object, average rating: 3.18 in 358 reviews
(358, 17770)
(358, 1)
Movie #891, 890    Zakk Wylde's Black Label Society: Boozed
Name: Name, dtype: object, average rating: 3.68 in 287 reviews
(287, 17770)
(287, 1)
Movie #892, 891    The Bedford Incident
Name: Name, dtype: object, average rating: 3.57 in 642 reviews
(642, 17770)
(642, 1)
Movie #893, 892    Blue's Clues: Classic Clues
Name: Name, dtype: object, average rating: 3.85 in 780 reviews
(780, 17770)
(780, 1)
Movie #894, 893    The Muse
Name: Name, dtype: object, average rating: 2.75 in 4844 reviews
(4844, 17770)
(4844, 1)
Movie #895, 894    Dersu Uzala
Name: Name, dtype: object, average rating: 3.94 in 2467 reviews
(2467, 17770)
(2467, 1)
Movie #896, 895    Dangerous Minds
Name: Name, dtype: object, average rating: 3.43 in 30593 reviews
(30593, 17770)
(30593, 1)
Movie #897, 896    Bride and Prejudice
Name: Name, dtype: object, average rating: 3.28 in 12356 reviews
(12356, 17770)
(12356, 1)
Movie #898, 897    The Body
Name: Name, dtype: object, average rating: 3.06 in 1226 reviews
(1226, 17770)
(1226, 1)
Movie #899, 898    Out of Ireland: The Hit Songs and Artists of I...
Name: Name, dtype: object, average rating: 3.50 in 189 reviews
(189, 17770)
(189, 1)
Movie #900, 899    Eat Drink Man Woman
Name: Name, dtype: object, average rating: 3.93 in 11177 reviews
(11177, 17770)
(11177, 1)
Movie #901, 900    Diary of a Country Priest
Name: Name, dtype: object, average rating: 3.67 in 591 reviews
(591, 17770)
(591, 1)
Movie #902, 901    Fascination
Name: Name, dtype: object, average rating: 2.37 in 600 reviews
(600, 17770)
(600, 1)
Movie #903, 902    Hamlet
Name: Name, dtype: object, average rating: 3.18 in 108 reviews
(108, 17770)
(108, 1)
Movie #904, 903    Gargoyles
Name: Name, dtype: object, average rating: 2.45 in 198 reviews
(198, 17770)
(198, 1)
Movie #905, 904    Remedy
Name: Name, dtype: object, average rating: 2.00 in 146 reviews
(146, 17770)
(146, 1)
Movie #906, 905    Benny Hill: Complete and Unadulterated: The Na...
Name: Name, dtype: object, average rating: 3.42 in 856 reviews
(856, 17770)
(856, 1)
Movie #907, 906    Animal Crackers
Name: Name, dtype: object, average rating: 4.02 in 4900 reviews
(4900, 17770)
(4900, 1)
Movie #908, 907    Sense and Sensibility
Name: Name, dtype: object, average rating: 4.19 in 11038 reviews
(11038, 17770)
(11038, 1)
Movie #909, 908    Too Young to Die
Name: Name, dtype: object, average rating: 3.03 in 338 reviews
(338, 17770)
(338, 1)
Movie #910, 909    Santa Fe Trail
Name: Name, dtype: object, average rating: 3.16 in 136 reviews
(136, 17770)
(136, 1)
Movie #911, 910    Buck Rogers
Name: Name, dtype: object, average rating: 2.96 in 539 reviews

(539, 17770)
(539, 1)
Movie #912, 911    Angelina Ballerina: Friends Forever
Name: Name, dtype: object, average rating: 3.15 in 322 reviews
(322, 17770)
(322, 1)
Movie #913, 912    Dead Kennedys: In God We Trust
Name: Name, dtype: object, average rating: 3.38 in 168 reviews
(168, 17770)
(168, 1)
Movie #914, 913    R.E.M.: Road Movie
Name: Name, dtype: object, average rating: 3.06 in 122 reviews
(122, 17770)
(122, 1)
Movie #915, 914    Haven
Name: Name, dtype: object, average rating: 2.84 in 43 reviews
(43, 17770)
(43, 1)
Movie #916, 915    Earth 2: The Complete Series
Name: Name, dtype: object, average rating: 3.59 in 442 reviews
(442, 17770)
(442, 1)
Movie #917, 916    String Cheese Incident: Live at the Fillmore
Name: Name, dtype: object, average rating: 3.54 in 112 reviews
(112, 17770)
(112, 1)
Movie #918, 917    A Hard Day's Night: Collector's Series
Name: Name, dtype: object, average rating: 3.92 in 7574 reviews
(7574, 17770)
(7574, 1)
Movie #919, 918    Comedian
Name: Name, dtype: object, average rating: 3.23 in 10834 reviews
(10834, 17770)
(10834, 1)
Movie #920, 919    Satanis: The Devil's Mass / Sinthia: The Devil...
Name: Name, dtype: object, average rating: 2.46 in 113 reviews
(113, 17770)
(113, 1)
Movie #921, 920    Don't Bother to Knock
Name: Name, dtype: object, average rating: 3.33 in 785 reviews
(785, 17770)
(785, 1)
Movie #922, 921    Gojoe: Spirit War Chronicle
Name: Name, dtype: object, average rating: 2.87 in 203 reviews
(203, 17770)
(203, 1)
Movie #923, 922    Giant Robo
Name: Name, dtype: object, average rating: 3.42 in 113 reviews
(113, 17770)
(113, 1)
Movie #924, 923    Taxi Zum Klo
Name: Name, dtype: object, average rating: 2.80 in 93 reviews
(93, 17770)
(93, 1)
Movie #925, 924    Dodsworth
Name: Name, dtype: object, average rating: 3.64 in 729 reviews
(729, 17770)
(729, 1)
Movie #926, 925    Fear Of A Punk Planet
Name: Name, dtype: object, average rating: 2.19 in 109 reviews
(109, 17770)
(109, 1)
Movie #927, 926    Danielle Steel's Changes
Name: Name, dtype: object, average rating: 3.45 in 217 reviews
(217, 17770)
(217, 1)
Movie #928, 927    The Night That Never Happened
Name: Name, dtype: object, average rating: 2.71 in 343 reviews
(343, 17770)
(343, 1)
Movie #929, 928    Journeys with George
Name: Name, dtype: object, average rating: 3.42 in 908 reviews
(908, 17770)
(908, 1)
Movie #930, 929    Back to the Beach
Name: Name, dtype: object, average rating: 3.19 in 638 reviews
(638, 17770)
(638, 1)
Movie #931, 930    Another Day in Paradise
Name: Name, dtype: object, average rating: 3.05 in 1809 reviews
(1809, 17770)
(1809, 1)
Movie #932, 931    Where Are We?
Name: Name, dtype: object, average rating: 2.29 in 153 reviews
(153, 17770)
(153, 1)
Movie #933, 932    Backyardigans: It's Great to Be a Ghost
Name: Name, dtype: object, average rating: 4.05 in 263 reviews
(263, 17770)
(263, 1)
Movie #934, 933    River of No Return
Name: Name, dtype: object, average rating: 3.39 in 1366 reviews
(1366, 17770)
(1366, 1)
Movie #935, 934    Read Or Die
Name: Name, dtype: object, average rating: 4.25 in 726 reviews
(726, 17770)
(726, 1)
Movie #936, 935    A Dangerous Man: Lawrence After Arabia
Name: Name, dtype: object, average rating: 3.09 in 169 reviews
(169, 17770)
(169, 1)
Movie #937, 936    Fallen
Name: Name, dtype: object, average rating: 3.72 in 23691 reviews
(23691, 17770)
(23691, 1)
Movie #938, 937    Scarecrow
Name: Name, dtype: object, average rating: 1.99 in 180 reviews
(180, 17770)
(180, 1)
Movie #939, 938    Midsomer Murders: A Tale of Two Hamlets
Name: Name, dtype: object, average rating: 3.89 in 161 reviews
(161, 17770)
(161, 1)
Movie #940, 939    Hercules
Name: Name, dtype: object, average rating: 3.68 in 18464 reviews
(18464, 17770)
(18464, 1)
Movie #941, 940    Screw Loose
Name: Name, dtype: object, average rating: 2.16 in 161 reviews
(161, 17770)
(161, 1)
Movie #942, 941    The Pagemaster
Name: Name, dtype: object, average rating: 3.02 in 3254 reviews
(3254, 17770)
(3254, 1)
Movie #943, 942    Dave Chappelle: For What It's Worth
Name: Name, dtype: object, average rating: 3.94 in 1753 reviews
(1753, 17770)
(1753, 1)
Movie #944, 943    Brother
Name: Name, dtype: object, average rating: 2.67 in 89 reviews
(89, 17770)
(89, 1)
Movie #945, 944    The Duel at Silver Creek
Name: Name, dtype: object, average rating: 3.02 in 113 reviews
(113, 17770)
(113, 1)
Movie #946, 945    Sex and the Teenage Mind
Name: Name, dtype: object, average rating: 2.48 in 141 reviews
(141, 17770)
(141, 1)
Movie #947, 946    The Cincinnati Kid
Name: Name, dtype: object, average rating: 3.66 in 1026 reviews
(1026, 17770)
(1026, 1)
Movie #948, 947    Aap Mujhe Achche Lagne Lage
Name: Name, dtype: object, average rating: 2.74 in 136 reviews
(136, 17770)
(136, 1)
Movie #949, 948    Henry Fool
Name: Name, dtype: object, average rating: 3.37 in 1676 reviews
(1676, 17770)
(1676, 1)
Movie #950, 949    Explosive Dance
Name: Name, dtype: object, average rating: 2.57 in 91 reviews
(91, 17770)
(91, 1)
Movie #951, 950    Richard Rodgers: The Sweetest Sounds
Name: Name, dtype: object, average rating: 3.51 in 332 reviews
(332, 17770)
(332, 1)
Movie #952, 951    My Favorite Wife
Name: Name, dtype: object, average rating: 3.98 in 2410 reviews
(2410, 17770)
(2410, 1)
Movie #953, 952    Fahrenheit 451
Name: Name, dtype: object, average rating: 3.41 in 7000 reviews
(7000, 17770)
(7000, 1)
Movie #954, 953    I Capture the Castle
Name: Name, dtype: object, average rating: 3.33 in 8089 reviews
(8089, 17770)
(8089, 1)
Movie #955, 954    Rhyme & Reason
Name: Name, dtype: object, average rating: 3.19 in 264 reviews
(264, 17770)
(264, 1)
Movie #956, 955    Blankman
Name: Name, dtype: object, average rating: 2.58 in 3037 reviews
(3037, 17770)
(3037, 1)
Movie #957, 956    Lost in Space: Season 2: Vol. 1
Name: Name, dtype: object, average rating: 3.67 in 615 reviews
(615, 17770)
(615, 1)
Movie #958, 957    World Cup Soccer Highlights: 1966-1974
Name: Name, dtype: object, average rating: 3.62 in 264 reviews
(264, 17770)
(264, 1)
Movie #959, 958    Jay Jay the Jet Plane: Lessons for All Seasons
Name: Name, dtype: object, average rating: 2.95 in 194 reviews
(194, 17770)
(194, 1)
Movie #960, 959    The Unforgiven
Name: Name, dtype: object, average rating: 3.47 in 1072 reviews
(1072, 17770)
(1072, 1)
Movie #961, 960    Love in the Afternoon
Name: Name, dtype: object, average rating: 3.54 in 2370 reviews
(2370, 17770)
(2370, 1)
Movie #962, 961    I Spy
Name: Name, dtype: object, average rating: 3.09 in 21284 reviews
(21284, 17770)
(21284, 1)
Movie #963, 962    A Streetcar Named Desire
Name: Name, dtype: object, average rating: 3.89 in 37310 reviews
(37310, 17770)
(37310, 1)
Movie #964, 963    The Tick: The Entire Series
Name: Name, dtype: object, average rating: 3.68 in 2876 reviews
(2876, 17770)
(2876, 1)
Movie #965, 964    Metropolitan Opera: Puccini: Tosca
Name: Name, dtype: object, average rating: 3.57 in 324 reviews
(324, 17770)
(324, 1)
Movie #966, 965    Young and Dangerous 2
Name: Name, dtype: object, average rating: 3.29 in 196 reviews
(196, 17770)
(196, 1)
Movie #967, 966    Main Hoon Na
Name: Name, dtype: object, average rating: 3.60 in 866 reviews
(866, 17770)
(866, 1)
Movie #968, 967    Dottie Gets Spanked
Name: Name, dtype: object, average rating: 2.65 in 107 reviews
(107, 17770)
(107, 1)
Movie #969, 968    Stripteaser
Name: Name, dtype: object, average rating: 2.05 in 132 reviews
(132, 17770)
(132, 1)
Movie #970, 969    Yesterday Once More
Name: Name, dtype: object, average rating: 3.02 in 203 reviews
(203, 17770)
(203, 1)
Movie #971, 970    Unprecedented: The 2000 Presidential Election
Name: Name, dtype: object, average rating: 3.81 in 3137 reviews
(3137, 17770)
(3137, 1)
Movie #972, 971    Ben Harper: Live at the Hollywood Bowl
Name: Name, dtype: object, average rating: 3.62 in 228 reviews
(228, 17770)
(228, 1)
Movie #973, 972    Dr. Martin Luther King
Name: Name, dtype: object, average rating: 3.64 in 225 reviews
(225, 17770)
(225, 1)
Movie #974, 973    The Devil and Daniel Webster
Name: Name, dtype: object, average rating: 3.62 in 626 reviews
(626, 17770)
(626, 1)
Movie #975, 974    Convict 762
Name: Name, dtype: object, average rating: 2.00 in 130 reviews
(130, 17770)
(130, 1)
Movie #976, 975    Tom and Jerry: Paws for a Holiday
Name: Name, dtype: object, average rating: 3.66 in 166 reviews

(166, 17770)
(166, 1)
Movie #977, 976    Our Lady of the Assassins
Name: Name, dtype: object, average rating: 2.79 in 2076 reviews
(2076, 17770)
(2076, 1)
Movie #978, 977    Yi Yi
Name: Name, dtype: object, average rating: 3.33 in 2255 reviews
(2255, 17770)
(2255, 1)
Movie #979, 978    A Moment of Romance
Name: Name, dtype: object, average rating: 2.94 in 128 reviews
(128, 17770)
(128, 1)
Movie #980, 979    The Swan Princess
Name: Name, dtype: object, average rating: 3.63 in 1227 reviews
(1227, 17770)
(1227, 1)
Movie #981, 980    How I Got into College
Name: Name, dtype: object, average rating: 3.03 in 314 reviews
(314, 17770)
(314, 1)
Movie #982, 981    Dil Chahta Hai
Name: Name, dtype: object, average rating: 3.80 in 1563 reviews
(1563, 17770)
(1563, 1)
Movie #983, 982    Wishful Thinking
Name: Name, dtype: object, average rating: 2.50 in 497 reviews
(497, 17770)
(497, 1)
Movie #984, 983    The Young Lions
Name: Name, dtype: object, average rating: 3.40 in 1713 reviews
(1713, 17770)
(1713, 1)
Movie #985, 984    The Mummy
Name: Name, dtype: object, average rating: 3.63 in 89999 reviews
(89999, 17770)
(89999, 1)
Movie #986, 985    The Trip
Name: Name, dtype: object, average rating: 3.53 in 3638 reviews
(3638, 17770)
(3638, 1)
Movie #987, 986    Rescue from Gilligan's Island
Name: Name, dtype: object, average rating: 2.82 in 95 reviews
(95, 17770)
(95, 1)
Movie #988, 987    Operation Pacific
Name: Name, dtype: object, average rating: 3.76 in 1839 reviews
(1839, 17770)
(1839, 1)
Movie #989, 988    The Door in the Floor
Name: Name, dtype: object, average rating: 3.05 in 18298 reviews
(18298, 17770)
(18298, 1)
Movie #990, 989    Meet John Doe
Name: Name, dtype: object, average rating: 3.77 in 2958 reviews
(2958, 17770)
(2958, 1)
Movie #991, 990    Burn Up Excess: Vol. 2: Crimes and Missed Deme...
Name: Name, dtype: object, average rating: 3.65 in 359 reviews
(359, 17770)
(359, 1)
Movie #992, 991    The Cowboys
Name: Name, dtype: object, average rating: 3.93 in 6210 reviews
(6210, 17770)
(6210, 1)
Movie #993, 992    The Shadow
Name: Name, dtype: object, average rating: 3.05 in 3337 reviews
(3337, 17770)
(3337, 1)
Movie #994, 993    Children of the Corn
Name: Name, dtype: object, average rating: 3.22 in 13253 reviews
(13253, 17770)
(13253, 1)
Movie #995, 994    Dark Town
Name: Name, dtype: object, average rating: 1.72 in 104 reviews
(104, 17770)
(104, 1)
Movie #996, 995    Yojimbo
Name: Name, dtype: object, average rating: 4.03 in 11858 reviews
(11858, 17770)
(11858, 1)
Movie #997, 996    Miracle of the White Stallions
Name: Name, dtype: object, average rating: 3.25 in 302 reviews
(302, 17770)
(302, 1)
Movie #998, 997    Frida: Bonus Material
Name: Name, dtype: object, average rating: 3.32 in 446 reviews
(446, 17770)
(446, 1)
Movie #999, 998    The Favor
Name: Name, dtype: object, average rating: 2.73 in 1156 reviews
(1156, 17770)
(1156, 1)
Movie #1000, 999    Jim Breuer: Hardcore
Name: Name, dtype: object, average rating: 3.28 in 760 reviews
(760, 17770)
(760, 1)
Movie #1001, 1000    Blow Dry
Name: Name, dtype: object, average rating: 3.32 in 6204 reviews
(6204, 17770)
(6204, 1)
Movie #1002, 1001    The Cazalets
Name: Name, dtype: object, average rating: 3.45 in 152 reviews
(152, 17770)
(152, 1)
Movie #1003, 1002    Basic Elements: My Complete Fitness Guide
Name: Name, dtype: object, average rating: 2.31 in 59 reviews
(59, 17770)
(59, 1)
Movie #1004, 1003    Bookies
Name: Name, dtype: object, average rating: 3.05 in 1309 reviews
(1309, 17770)
(1309, 1)
Movie #1005, 1004    Only the Strong Survive
Name: Name, dtype: object, average rating: 3.04 in 536 reviews
(536, 17770)
(536, 1)
Movie #1006, 1005    Inspector Morse 30: The Daughters of Cain
Name: Name, dtype: object, average rating: 4.03 in 925 reviews
(925, 17770)
(925, 1)
Movie #1007, 1006    America's Dream
Name: Name, dtype: object, average rating: 3.25 in 106 reviews
(106, 17770)
(106, 1)
Movie #1008, 1007    Ken Burns' The West
Name: Name, dtype: object, average rating: 3.81 in 970 reviews
(970, 17770)
(970, 1)
Movie #1009, 1008    Judaai
Name: Name, dtype: object, average rating: 2.95 in 127 reviews
(127, 17770)
(127, 1)
Movie #1010, 1009    Sesame Street: Sing
Name: Name, dtype: object, average rating: 2.96 in 142 reviews
(142, 17770)
(142, 1)
Movie #1011, 1010    All the Right Moves
Name: Name, dtype: object, average rating: 3.29 in 8027 reviews
(8027, 17770)
(8027, 1)
Movie #1012, 1011    13 Ghosts
Name: Name, dtype: object, average rating: 3.60 in 7497 reviews
(7497, 17770)
(7497, 1)
Movie #1013, 1012    My Scene Goes Hollywood: The Movie
Name: Name, dtype: object, average rating: 3.42 in 254 reviews
(254, 17770)
(254, 1)
Movie #1014, 1013    Pretty Boy
Name: Name, dtype: object, average rating: 2.76 in 258 reviews
(258, 17770)
(258, 1)
Movie #1015, 1014    Dr. Quinn
Name: Name, dtype: object, average rating: 3.86 in 870 reviews
(870, 17770)
(870, 1)
Movie #1016, 1015    The Killer Inside Me
Name: Name, dtype: object, average rating: 2.21 in 103 reviews
(103, 17770)
(103, 1)
Movie #1017, 1016    I Love Lucy: Season 5
Name: Name, dtype: object, average rating: 4.19 in 1499 reviews
(1499, 17770)
(1499, 1)
Movie #1018, 1017    Le Petit Soldat
Name: Name, dtype: object, average rating: 3.25 in 383 reviews
(383, 17770)
(383, 1)
Movie #1019, 1018    Diamond Hunters
Name: Name, dtype: object, average rating: 2.44 in 138 reviews
(138, 17770)
(138, 1)
Movie #1020, 1019    The Simpsons: Season 1
Name: Name, dtype: object, average rating: 4.29 in 20762 reviews
(20762, 17770)
(20762, 1)
Movie #1021, 1020    Cloak & Dagger
Name: Name, dtype: object, average rating: 3.72 in 3439 reviews
(3439, 17770)
(3439, 1)
Movie #1022, 1021    The Snapper
Name: Name, dtype: object, average rating: 3.29 in 3868 reviews
(3868, 17770)
(3868, 1)
Movie #1023, 1022    Sesame Street: Elmo Saves Christmas
Name: Name, dtype: object, average rating: 3.14 in 425 reviews
(425, 17770)
(425, 1)
Movie #1024, 1023    The Return of a Man Called Horse
Name: Name, dtype: object, average rating: 3.48 in 861 reviews
(861, 17770)
(861, 1)
Movie #1025, 1024    The Eye 2
Name: Name, dtype: object, average rating: 3.02 in 316 reviews
(316, 17770)
(316, 1)
Movie #1026, 1025    Silver Bullet
Name: Name, dtype: object, average rating: 3.41 in 7688 reviews
(7688, 17770)
(7688, 1)
Movie #1027, 1026    Rising Sun
Name: Name, dtype: object, average rating: 3.43 in 19960 reviews
(19960, 17770)
(19960, 1)
Movie #1028, 1027    The Educational Archives: Vol. 1: Sex & Drugs
Name: Name, dtype: object, average rating: 2.83 in 105 reviews
(105, 17770)
(105, 1)
Movie #1029, 1028    Tromeo and Juliet
Name: Name, dtype: object, average rating: 2.93 in 833 reviews
(833, 17770)
(833, 1)
Movie #1030, 1029    Frank Sinatra: The Main Event
Name: Name, dtype: object, average rating: 3.17 in 170 reviews
(170, 17770)
(170, 1)
Movie #1031, 1030    Poirot: The Murder of Roger Ackroyd
Name: Name, dtype: object, average rating: 3.98 in 1450 reviews
(1450, 17770)
(1450, 1)
Movie #1032, 1031    Hard Boiled
Name: Name, dtype: object, average rating: 3.84 in 3782 reviews
(3782, 17770)
(3782, 1)
Movie #1033, 1032    Spy Games
Name: Name, dtype: object, average rating: 2.68 in 1016 reviews
(1016, 17770)
(1016, 1)
Movie #1034, 1033    The New Eve
Name: Name, dtype: object, average rating: 2.49 in 116 reviews
(116, 17770)
(116, 1)
Movie #1035, 1034    Disclosure
Name: Name, dtype: object, average rating: 3.49 in 17696 reviews
(17696, 17770)
(17696, 1)
Movie #1036, 1035    Coral Sea Dreaming
Name: Name, dtype: object, average rating: 3.35 in 210 reviews
(210, 17770)
(210, 1)
Movie #1037, 1036    Attack of the Killer Tomatoes
Name: Name, dtype: object, average rating: 2.85 in 1054 reviews
(1054, 17770)
(1054, 1)
Movie #1038, 1037    Boogiepop Phantom
Name: Name, dtype: object, average rating: 3.53 in 305 reviews
(305, 17770)
(305, 1)
Movie #1039, 1038    Lawn Dogs
Name: Name, dtype: object, average rating: 3.30 in 1621 reviews
(1621, 17770)
(1621, 1)
Movie #1040, 1039    Thomas & Friends: Thomas's Snowy Surprise
Name: Name, dtype: object, average rating: 3.51 in 251 reviews
(251, 17770)
(251, 1)
Movie #1041, 1040    Baby Mozart
Name: Name, dtype: object, average rating: 3.73 in 1021 reviews

(1021, 17770)
(1021, 1)
Movie #1042, 1041    Forgotten Silver
Name: Name, dtype: object, average rating: 3.33 in 722 reviews
(722, 17770)
(722, 1)
Movie #1043, 1042    Outrageous Fortune
Name: Name, dtype: object, average rating: 3.29 in 4847 reviews
(4847, 17770)
(4847, 1)
Movie #1044, 1043    The Party
Name: Name, dtype: object, average rating: 3.45 in 2997 reviews
(2997, 17770)
(2997, 1)
Movie #1045, 1044    For Keeps
Name: Name, dtype: object, average rating: 3.56 in 2582 reviews
(2582, 17770)
(2582, 1)
Movie #1046, 1045    Uptown Girls
Name: Name, dtype: object, average rating: 3.37 in 40744 reviews
(40744, 17770)
(40744, 1)
Movie #1047, 1046    Aimee and Jaguar
Name: Name, dtype: object, average rating: 3.64 in 2617 reviews
(2617, 17770)
(2617, 1)
Movie #1048, 1047    Year of the Horse: Neil Young & Crazy Horse Live
Name: Name, dtype: object, average rating: 2.99 in 804 reviews
(804, 17770)
(804, 1)
Movie #1049, 1048    The Object of Beauty
Name: Name, dtype: object, average rating: 2.70 in 559 reviews
(559, 17770)
(559, 1)
Movie #1050, 1049    Annie: Special Anniversary Edition
Name: Name, dtype: object, average rating: 3.74 in 14149 reviews
(14149, 17770)
(14149, 1)
Movie #1051, 1050    Blue Chips
Name: Name, dtype: object, average rating: 3.34 in 1430 reviews
(1430, 17770)
(1430, 1)
Movie #1052, 1051    The Jack Benny Show: Vol. 1
Name: Name, dtype: object, average rating: 3.11 in 137 reviews
(137, 17770)
(137, 1)
Movie #1053, 1052    Mysteries of Magic: Vol. 1
Name: Name, dtype: object, average rating: 2.54 in 80 reviews
(80, 17770)
(80, 1)
Movie #1054, 1053    Odin: Photon Space Sailer Starlight
Name: Name, dtype: object, average rating: 2.53 in 116 reviews
(116, 17770)
(116, 1)
Movie #1055, 1054    The Duellists
Name: Name, dtype: object, average rating: 3.33 in 1817 reviews
(1817, 17770)
(1817, 1)
Movie #1056, 1055    The War Lover
Name: Name, dtype: object, average rating: 3.14 in 254 reviews
(254, 17770)
(254, 1)
Movie #1057, 1056    Doctor Who: Ghost Light
Name: Name, dtype: object, average rating: 3.50 in 178 reviews
(178, 17770)
(178, 1)
Movie #1058, 1057    Play it Again
Name: Name, dtype: object, average rating: 3.75 in 5439 reviews
(5439, 17770)
(5439, 1)
Movie #1059, 1058    Extreme Bloopers: Sports Gone Wrong
Name: Name, dtype: object, average rating: 1.82 in 181 reviews
(181, 17770)
(181, 1)
Movie #1060, 1059    King's Ransom
Name: Name, dtype: object, average rating: 2.94 in 8135 reviews
(8135, 17770)
(8135, 1)
Movie #1061, 1060    Spider-Man vs. Doc Ock
Name: Name, dtype: object, average rating: 3.53 in 1003 reviews
(1003, 17770)
(1003, 1)
Movie #1062, 1061    California Split
Name: Name, dtype: object, average rating: 3.09 in 641 reviews
(641, 17770)
(641, 1)
Movie #1063, 1062    Hemp Revolution
Name: Name, dtype: object, average rating: 3.22 in 418 reviews
(418, 17770)
(418, 1)
Movie #1064, 1063    Armored Trooper Votoms Stage 2: Kummen Jungle ...
Name: Name, dtype: object, average rating: 2.91 in 95 reviews
(95, 17770)
(95, 1)
Movie #1065, 1064    Jackpot
Name: Name, dtype: object, average rating: 2.51 in 335 reviews
(335, 17770)
(335, 1)
Movie #1066, 1065    Superman: The Movie
Name: Name, dtype: object, average rating: 3.76 in 34941 reviews
(34941, 17770)
(34941, 1)
Movie #1067, 1066    Earth vs. The Flying Saucers
Name: Name, dtype: object, average rating: 3.39 in 1364 reviews
(1364, 17770)
(1364, 1)
Movie #1068, 1067    Ringu
Name: Name, dtype: object, average rating: 3.32 in 6282 reviews
(6282, 17770)
(6282, 1)
Movie #1069, 1068    The Inspector Lynley Mysteries: A Suitable Ven...
Name: Name, dtype: object, average rating: 3.94 in 836 reviews
(836, 17770)
(836, 1)
Movie #1070, 1069    Bangkok Dangerous
Name: Name, dtype: object, average rating: 2.84 in 341 reviews
(341, 17770)
(341, 1)
Movie #1071, 1070    The Ice Princess
Name: Name, dtype: object, average rating: 2.48 in 248 reviews
(248, 17770)
(248, 1)
Movie #1072, 1071    As Time Goes By: Series 8
Name: Name, dtype: object, average rating: 4.40 in 389 reviews
(389, 17770)
(389, 1)
Movie #1073, 1072    Coach Carter
Name: Name, dtype: object, average rating: 4.07 in 59518 reviews
(59518, 17770)
(59518, 1)
Movie #1074, 1073    The Postman Always Rings Twice
Name: Name, dtype: object, average rating: 3.73 in 2328 reviews
(2328, 17770)
(2328, 1)
Movie #1075, 1074    Tape
Name: Name, dtype: object, average rating: 3.05 in 5829 reviews
(5829, 17770)
(5829, 1)
Movie #1076, 1075    American Chopper: Season 2
Name: Name, dtype: object, average rating: 3.79 in 475 reviews
(475, 17770)
(475, 1)
Movie #1077, 1076    Leave Her to Heaven
Name: Name, dtype: object, average rating: 3.60 in 614 reviews
(614, 17770)
(614, 1)
Movie #1078, 1077    After the Storm
Name: Name, dtype: object, average rating: 2.59 in 331 reviews
(331, 17770)
(331, 1)
Movie #1079, 1078    The Gambler Returns: The Luck of the Draw
Name: Name, dtype: object, average rating: 3.28 in 313 reviews
(313, 17770)
(313, 1)
Movie #1080, 1079    Hysterical Blindness
Name: Name, dtype: object, average rating: 2.94 in 3944 reviews
(3944, 17770)
(3944, 1)
Movie #1081, 1080    Back by Midnight
Name: Name, dtype: object, average rating: 2.66 in 177 reviews
(177, 17770)
(177, 1)
Movie #1082, 1081    Flood: A River's Rampage
Name: Name, dtype: object, average rating: 2.77 in 161 reviews
(161, 17770)
(161, 1)
Movie #1083, 1082    Tales of Terror
Name: Name, dtype: object, average rating: 3.02 in 349 reviews
(349, 17770)
(349, 1)
Movie #1084, 1083    Walking with Prehistoric Beasts
Name: Name, dtype: object, average rating: 3.81 in 1701 reviews
(1701, 17770)
(1701, 1)
Movie #1085, 1084    Bright Leaves
Name: Name, dtype: object, average rating: 3.06 in 483 reviews
(483, 17770)
(483, 1)
Movie #1086, 1085    Three Stooges: Stooges at Work
Name: Name, dtype: object, average rating: 3.83 in 1554 reviews
(1554, 17770)
(1554, 1)
Movie #1087, 1086    Monkey Trouble
Name: Name, dtype: object, average rating: 3.07 in 2166 reviews
(2166, 17770)
(2166, 1)
Movie #1088, 1087    Hammer House of Horror
Name: Name, dtype: object, average rating: 2.87 in 245 reviews
(245, 17770)
(245, 1)
Movie #1089, 1088    The Land Before Time VII: Stone of Cold Fire
Name: Name, dtype: object, average rating: 3.71 in 2083 reviews
(2083, 17770)
(2083, 1)
Movie #1090, 1089    Eel
Name: Name, dtype: object, average rating: 3.46 in 113 reviews
(113, 17770)
(113, 1)
Movie #1091, 1090    Dostana
Name: Name, dtype: object, average rating: 2.74 in 93 reviews
(93, 17770)
(93, 1)
Movie #1092, 1091    Thin Line Between Love & Hate
Name: Name, dtype: object, average rating: 3.31 in 4434 reviews
(4434, 17770)
(4434, 1)
Movie #1093, 1092    The Leg Fighters
Name: Name, dtype: object, average rating: 2.59 in 110 reviews
(110, 17770)
(110, 1)
Movie #1094, 1093    Nicholas Nickleby
Name: Name, dtype: object, average rating: 3.50 in 7840 reviews
(7840, 17770)
(7840, 1)
Movie #1095, 1094    Vendetta: No Conscience
Name: Name, dtype: object, average rating: 2.64 in 197 reviews
(197, 17770)
(197, 1)
Movie #1096, 1095    Harlem Nights
Name: Name, dtype: object, average rating: 3.31 in 11847 reviews
(11847, 17770)
(11847, 1)
Movie #1097, 1096    Winning Strategies: Texas Hold 'Em Poker with ...
Name: Name, dtype: object, average rating: 2.81 in 409 reviews
(409, 17770)
(409, 1)
Movie #1098, 1097    The Battle of Algiers
Name: Name, dtype: object, average rating: 4.12 in 5945 reviews
(5945, 17770)
(5945, 1)
Movie #1099, 1098    Confidentially Yours
Name: Name, dtype: object, average rating: 3.31 in 464 reviews
(464, 17770)
(464, 1)
Movie #1100, 1099    Dr. T & the Women
Name: Name, dtype: object, average rating: 2.25 in 6084 reviews
(6084, 17770)
(6084, 1)
Movie #1101, 1100    The Slipper and the Rose
Name: Name, dtype: object, average rating: 3.21 in 490 reviews
(490, 17770)
(490, 1)
Movie #1102, 1101    Training Day
Name: Name, dtype: object, average rating: 3.57 in 73337 reviews
(73337, 17770)
(73337, 1)
Movie #1103, 1102    Jane Eyre
Name: Name, dtype: object, average rating: 3.78 in 3622 reviews
(3622, 17770)
(3622, 1)
Movie #1104, 1103    Krull
Name: Name, dtype: object, average rating: 3.13 in 8662 reviews
(8662, 17770)
(8662, 1)
Movie #1105, 1104    RoboCop 3
Name: Name, dtype: object, average rating: 3.07 in 1796 reviews

(1796, 17770)
(1796, 1)
Movie #1106, 1105    Virtual Girl
Name: Name, dtype: object, average rating: 2.52 in 115 reviews
(115, 17770)
(115, 1)
Movie #1107, 1106    NBA Street Series: Ankle Breakers: Vol. 2
Name: Name, dtype: object, average rating: 3.28 in 122 reviews
(122, 17770)
(122, 1)
Movie #1108, 1107    Dr. Andrew Weil: 8 Weeks to Optimum Health & S...
Name: Name, dtype: object, average rating: 3.35 in 426 reviews
(426, 17770)
(426, 1)
Movie #1109, 1108    My Fair Lady: Special Edition: Bonus Material
Name: Name, dtype: object, average rating: 4.09 in 158 reviews
(158, 17770)
(158, 1)
Movie #1110, 1109    Secondhand Lions
Name: Name, dtype: object, average rating: 4.07 in 98700 reviews
(98700, 17770)
(98700, 1)
Movie #1111, 1110    Cries and Whispers
Name: Name, dtype: object, average rating: 3.59 in 2041 reviews
(2041, 17770)
(2041, 1)
Movie #1112, 1111    The Delicate Delinquent
Name: Name, dtype: object, average rating: 3.28 in 167 reviews
(167, 17770)
(167, 1)
Movie #1113, 1112    Lost Universe
Name: Name, dtype: object, average rating: 3.33 in 371 reviews
(371, 17770)
(371, 1)
Movie #1114, 1113    Hell's Angels
Name: Name, dtype: object, average rating: 3.20 in 1267 reviews
(1267, 17770)
(1267, 1)
Movie #1115, 1114    Hammers Over the Anvil
Name: Name, dtype: object, average rating: 2.81 in 476 reviews
(476, 17770)
(476, 1)
Movie #1116, 1115    Runaway
Name: Name, dtype: object, average rating: 3.10 in 3645 reviews
(3645, 17770)
(3645, 1)
Movie #1117, 1116    Vegas in Space
Name: Name, dtype: object, average rating: 1.97 in 208 reviews
(208, 17770)
(208, 1)
Movie #1118, 1117    Moscow Does Not Believe in Tears
Name: Name, dtype: object, average rating: 3.77 in 1232 reviews
(1232, 17770)
(1232, 1)
Movie #1119, 1118    Pink Floyd: Inside Pink Floyd: A Critical Revi...
Name: Name, dtype: object, average rating: 2.92 in 217 reviews
(217, 17770)
(217, 1)
Movie #1120, 1119    Quest for Fire
Name: Name, dtype: object, average rating: 3.32 in 3539 reviews
(3539, 17770)
(3539, 1)
Movie #1121, 1120    MVP 2:  Most Vertical Primate
Name: Name, dtype: object, average rating: 3.07 in 1285 reviews
(1285, 17770)
(1285, 1)
Movie #1122, 1121    The Attic / Crawl Space (Double Feature)
Name: Name, dtype: object, average rating: 2.49 in 176 reviews
(176, 17770)
(176, 1)
Movie #1123, 1122    Dragon: The Bruce Lee Story
Name: Name, dtype: object, average rating: 3.79 in 7917 reviews
(7917, 17770)
(7917, 1)
Movie #1124, 1123    Rain
Name: Name, dtype: object, average rating: 3.18 in 330 reviews
(330, 17770)
(330, 1)
Movie #1125, 1124    Automotive Series: Porsche
Name: Name, dtype: object, average rating: 1.93 in 75 reviews
(75, 17770)
(75, 1)
Movie #1126, 1125    Uncovered: The Whole Truth About the Iraq War
Name: Name, dtype: object, average rating: 3.79 in 3526 reviews
(3526, 17770)
(3526, 1)
Movie #1127, 1126    Clive Barker's Salome / The Forbidden
Name: Name, dtype: object, average rating: 1.85 in 240 reviews
(240, 17770)
(240, 1)
Movie #1128, 1127    Sweet Sweetback's Baadasssss Song
Name: Name, dtype: object, average rating: 2.63 in 880 reviews
(880, 17770)
(880, 1)
Movie #1129, 1128    Mutiny on the Bounty
Name: Name, dtype: object, average rating: 3.77 in 4977 reviews
(4977, 17770)
(4977, 1)
Movie #1130, 1129    Impromptu
Name: Name, dtype: object, average rating: 3.41 in 3398 reviews
(3398, 17770)
(3398, 1)
Movie #1131, 1130    Chained Girls / Daughters of Lesbos: Double Fe...
Name: Name, dtype: object, average rating: 2.01 in 146 reviews
(146, 17770)
(146, 1)
Movie #1132, 1131    Romeo is Bleeding
Name: Name, dtype: object, average rating: 3.31 in 3007 reviews
(3007, 17770)
(3007, 1)
Movie #1133, 1132    Malibu Spring Break
Name: Name, dtype: object, average rating: 1.93 in 189 reviews
(189, 17770)
(189, 1)
Movie #1134, 1133    Empire Falls
Name: Name, dtype: object, average rating: 3.53 in 5013 reviews
(5013, 17770)
(5013, 1)
Movie #1135, 1134    Paradise Lost: The Child Murders at Robin Hood...
Name: Name, dtype: object, average rating: 4.19 in 194 reviews
(194, 17770)
(194, 1)
Movie #1136, 1135    Naked
Name: Name, dtype: object, average rating: 3.70 in 303 reviews
(303, 17770)
(303, 1)
Movie #1137, 1136    Artie Lange: It's the Whiskey Talkin'
Name: Name, dtype: object, average rating: 3.02 in 591 reviews
(591, 17770)
(591, 1)
Movie #1138, 1137    Freddy vs. Jason
Name: Name, dtype: object, average rating: 2.94 in 20758 reviews
(20758, 17770)
(20758, 1)
Movie #1139, 1138    Wolf's Rain
Name: Name, dtype: object, average rating: 4.18 in 1298 reviews
(1298, 17770)
(1298, 1)
Movie #1140, 1139    To Gillian on her 37th Birthday
Name: Name, dtype: object, average rating: 3.10 in 4261 reviews
(4261, 17770)
(4261, 1)
Movie #1141, 1140    Kyun! Ho Gaya Na
Name: Name, dtype: object, average rating: 3.03 in 201 reviews
(201, 17770)
(201, 1)
Movie #1142, 1141    Polyester
Name: Name, dtype: object, average rating: 3.34 in 3851 reviews
(3851, 17770)
(3851, 1)
Movie #1143, 1142    Phantom of the Opera
Name: Name, dtype: object, average rating: 3.15 in 635 reviews
(635, 17770)
(635, 1)
Movie #1144, 1143    Fried Green Tomatoes
Name: Name, dtype: object, average rating: 3.96 in 79845 reviews
(79845, 17770)
(79845, 1)
Movie #1145, 1144    The Wedding Planner
Name: Name, dtype: object, average rating: 3.18 in 140154 reviews
(140154, 17770)
(140154, 1)
Movie #1146, 1145    Fearless Hyena 1 / Fearless Hyena 2
Name: Name, dtype: object, average rating: 3.06 in 415 reviews
(415, 17770)
(415, 1)
Movie #1147, 1146    To the Lighthouse
Name: Name, dtype: object, average rating: 2.74 in 140 reviews
(140, 17770)
(140, 1)
Movie #1148, 1147    For Your Eyes Only
Name: Name, dtype: object, average rating: 3.85 in 19401 reviews
(19401, 17770)
(19401, 1)
Movie #1149, 1148    Electric Light Orchestra: Zoom Tour Live
Name: Name, dtype: object, average rating: 3.73 in 267 reviews
(267, 17770)
(267, 1)
Movie #1150, 1149    Hate.com
Name: Name, dtype: object, average rating: 2.81 in 312 reviews
(312, 17770)
(312, 1)
Movie #1151, 1150    Valentine
Name: Name, dtype: object, average rating: 2.86 in 5756 reviews
(5756, 17770)
(5756, 1)
Movie #1152, 1151    Charisma
Name: Name, dtype: object, average rating: 2.79 in 96 reviews
(96, 17770)
(96, 1)
Movie #1153, 1152    On Approval
Name: Name, dtype: object, average rating: 2.86 in 126 reviews
(126, 17770)
(126, 1)
Movie #1154, 1153    Twitch of the Death Nerve
Name: Name, dtype: object, average rating: 3.02 in 199 reviews
(199, 17770)
(199, 1)
Movie #1155, 1154    Magnum P.I.: Season 1
Name: Name, dtype: object, average rating: 3.82 in 1788 reviews
(1788, 17770)
(1788, 1)
Movie #1156, 1155    Being Ron Jeremy
Name: Name, dtype: object, average rating: 2.16 in 370 reviews
(370, 17770)
(370, 1)
Movie #1157, 1156    Chinese Box
Name: Name, dtype: object, average rating: 2.85 in 1206 reviews
(1206, 17770)
(1206, 1)
Movie #1158, 1157    I Do (But I Don't)
Name: Name, dtype: object, average rating: 3.37 in 1710 reviews
(1710, 17770)
(1710, 1)
Movie #1159, 1158    Rocky & Bullwinkle: The Best of Fractured Fair...
Name: Name, dtype: object, average rating: 3.34 in 86 reviews
(86, 17770)
(86, 1)
Movie #1160, 1159    In Too Deep
Name: Name, dtype: object, average rating: 3.40 in 3734 reviews
(3734, 17770)
(3734, 1)
Movie #1161, 1160    Take Me Home: The John Denver Story
Name: Name, dtype: object, average rating: 3.02 in 120 reviews
(120, 17770)
(120, 1)
Movie #1162, 1161    Onmyoji 2
Name: Name, dtype: object, average rating: 3.38 in 284 reviews
(284, 17770)
(284, 1)
Movie #1163, 1162    2010: The Year We Make Contact
Name: Name, dtype: object, average rating: 3.50 in 9661 reviews
(9661, 17770)
(9661, 1)
Movie #1164, 1163    Return of the Secaucus 7
Name: Name, dtype: object, average rating: 3.19 in 898 reviews
(898, 17770)
(898, 1)
Movie #1165, 1164    Witness Protection
Name: Name, dtype: object, average rating: 2.92 in 861 reviews
(861, 17770)
(861, 1)
Movie #1166, 1165    Great Rupert
Name: Name, dtype: object, average rating: 2.83 in 83 reviews
(83, 17770)
(83, 1)
Movie #1167, 1166    La Buche
Name: Name, dtype: object, average rating: 3.15 in 1275 reviews
(1275, 17770)
(1275, 1)
Movie #1168, 1167    Rodney Dangerfield: No Respect: The Ultimate C...
Name: Name, dtype: object, average rating: 2.97 in 383 reviews

(383, 17770)
(383, 1)
Movie #1169, 1168    Bjork: Shepherds Bush Empire
Name: Name, dtype: object, average rating: 3.79 in 114 reviews
(114, 17770)
(114, 1)
Movie #1170, 1169    Truth or Consequences
Name: Name, dtype: object, average rating: 3.06 in 1025 reviews
(1025, 17770)
(1025, 1)
Movie #1171, 1170    RoboCop: Crash and Burn
Name: Name, dtype: object, average rating: 3.08 in 620 reviews
(620, 17770)
(620, 1)
Movie #1172, 1171    Krippendorf's Tribe
Name: Name, dtype: object, average rating: 2.78 in 2570 reviews
(2570, 17770)
(2570, 1)
Movie #1173, 1172    Walking with Dinosaurs
Name: Name, dtype: object, average rating: 3.75 in 3867 reviews
(3867, 17770)
(3867, 1)
Movie #1174, 1173    The Sandlot
Name: Name, dtype: object, average rating: 3.96 in 35537 reviews
(35537, 17770)
(35537, 1)
Movie #1175, 1174    Repo Man
Name: Name, dtype: object, average rating: 3.44 in 12683 reviews
(12683, 17770)
(12683, 1)
Movie #1176, 1175    The Devil's Backbone
Name: Name, dtype: object, average rating: 3.58 in 7676 reviews
(7676, 17770)
(7676, 1)
Movie #1177, 1176    Essential Music Videos: Totally 80s
Name: Name, dtype: object, average rating: 2.12 in 122 reviews
(122, 17770)
(122, 1)
Movie #1178, 1177    Boudu Saved from Drowning
Name: Name, dtype: object, average rating: 3.39 in 122 reviews
(122, 17770)
(122, 1)
Movie #1179, 1178    The Education of Little Tree
Name: Name, dtype: object, average rating: 3.69 in 1913 reviews
(1913, 17770)
(1913, 1)
Movie #1180, 1179    A Beautiful Mind
Name: Name, dtype: object, average rating: 3.97 in 108771 reviews
(108771, 17770)
(108771, 1)
Movie #1181, 1180    Rolie Polie Olie: Springy-Time Fun
Name: Name, dtype: object, average rating: 3.07 in 168 reviews
(168, 17770)
(168, 1)
Movie #1182, 1181    Gray Lady Down
Name: Name, dtype: object, average rating: 3.44 in 618 reviews
(618, 17770)
(618, 1)
Movie #1183, 1182    Night of the Hunted
Name: Name, dtype: object, average rating: 2.14 in 155 reviews
(155, 17770)
(155, 1)
Movie #1184, 1183    The Wizard of Oz
Name: Name, dtype: object, average rating: 3.14 in 134 reviews
(134, 17770)
(134, 1)
Movie #1185, 1184    Mischievous
Name: Name, dtype: object, average rating: 2.18 in 130 reviews
(130, 17770)
(130, 1)
Movie #1186, 1185    Jamaica Inn
Name: Name, dtype: object, average rating: 2.97 in 668 reviews
(668, 17770)
(668, 1)
Movie #1187, 1186    The Abominable Dr. Phibes
Name: Name, dtype: object, average rating: 3.31 in 894 reviews
(894, 17770)
(894, 1)
Movie #1188, 1187    A Little Inside
Name: Name, dtype: object, average rating: 2.93 in 133 reviews
(133, 17770)
(133, 1)
Movie #1189, 1188    Aida: Giuseppe Verdi: Teatro Alla Scala
Name: Name, dtype: object, average rating: 3.24 in 172 reviews
(172, 17770)
(172, 1)
Movie #1190, 1189    The Late Shift
Name: Name, dtype: object, average rating: 3.11 in 192 reviews
(192, 17770)
(192, 1)
Movie #1191, 1190    Most Wanted
Name: Name, dtype: object, average rating: 3.28 in 1749 reviews
(1749, 17770)
(1749, 1)
Movie #1192, 1191    Masters of Poker: Phil Hellmuth's Million Doll...
Name: Name, dtype: object, average rating: 2.90 in 156 reviews
(156, 17770)
(156, 1)
Movie #1193, 1192    Beloved
Name: Name, dtype: object, average rating: 3.00 in 2923 reviews
(2923, 17770)
(2923, 1)
Movie #1194, 1193    Fall
Name: Name, dtype: object, average rating: 3.11 in 333 reviews
(333, 17770)
(333, 1)
Movie #1195, 1194    Madonna: The Girlie Show: Live Down Under
Name: Name, dtype: object, average rating: 3.39 in 1005 reviews
(1005, 17770)
(1005, 1)
Movie #1196, 1195    Secrets of Lost Empires 2: Medieval Siege
Name: Name, dtype: object, average rating: 3.54 in 108 reviews
(108, 17770)
(108, 1)
Movie #1197, 1196    50 Years: The Best of Hollywood
Name: Name, dtype: object, average rating: 2.59 in 158 reviews
(158, 17770)
(158, 1)
Movie #1198, 1197    The Cat O'Nine Tails
Name: Name, dtype: object, average rating: 3.22 in 60 reviews
(60, 17770)
(60, 1)
Movie #1199, 1198    Queen of the Stardust Ballroom
Name: Name, dtype: object, average rating: 2.90 in 124 reviews
(124, 17770)
(124, 1)
Movie #1200, 1199    Teaching Mrs. Tingle
Name: Name, dtype: object, average rating: 2.92 in 6191 reviews
(6191, 17770)
(6191, 1)
Movie #1201, 1200    True Colors
Name: Name, dtype: object, average rating: 3.24 in 2988 reviews
(2988, 17770)
(2988, 1)
Movie #1202, 1201    National Lampoon's Vacation
Name: Name, dtype: object, average rating: 3.77 in 78878 reviews
(78878, 17770)
(78878, 1)
Movie #1203, 1202    The Andy Griffith Show: Vol 3: Andy Discovers ...
Name: Name, dtype: object, average rating: 3.51 in 1345 reviews
(1345, 17770)
(1345, 1)
Movie #1204, 1203    Iron & Silk
Name: Name, dtype: object, average rating: 3.18 in 121 reviews
(121, 17770)
(121, 1)
Movie #1205, 1204    Dragstrip Girl
Name: Name, dtype: object, average rating: 1.77 in 99 reviews
(99, 17770)
(99, 1)
Movie #1206, 1205    Bratz: Rock Angelz
Name: Name, dtype: object, average rating: 3.43 in 369 reviews
(369, 17770)
(369, 1)
Movie #1207, 1206    Experiment in Terror
Name: Name, dtype: object, average rating: 3.24 in 390 reviews
(390, 17770)
(390, 1)
Movie #1208, 1207    The Twilight Zone: Vol. 15
Name: Name, dtype: object, average rating: 4.00 in 2626 reviews
(2626, 17770)
(2626, 1)
Movie #1209, 1208    Swashbuckler
Name: Name, dtype: object, average rating: 2.89 in 315 reviews
(315, 17770)
(315, 1)
Movie #1210, 1209    Zorro
Name: Name, dtype: object, average rating: 3.34 in 2026 reviews
(2026, 17770)
(2026, 1)
Movie #1211, 1210    Modigliani
Name: Name, dtype: object, average rating: 2.82 in 405 reviews
(405, 17770)
(405, 1)
Movie #1212, 1211    Red Dwarf: Series 2: Bonus Material
Name: Name, dtype: object, average rating: 4.04 in 196 reviews
(196, 17770)
(196, 1)
Movie #1213, 1212    VeggieTales: Madame Blueberry
Name: Name, dtype: object, average rating: 4.00 in 1283 reviews
(1283, 17770)
(1283, 1)
Movie #1214, 1213    Bawarchi
Name: Name, dtype: object, average rating: 3.49 in 226 reviews
(226, 17770)
(226, 1)
Movie #1215, 1214    Walk Like a Man
Name: Name, dtype: object, average rating: 3.23 in 498 reviews
(498, 17770)
(498, 1)
Movie #1216, 1215    Fire in the Sky
Name: Name, dtype: object, average rating: 3.45 in 3481 reviews
(3481, 17770)
(3481, 1)
Movie #1217, 1216    Dragon Tales: Let's Share! Let's Play!
Name: Name, dtype: object, average rating: 3.50 in 431 reviews
(431, 17770)
(431, 1)
Movie #1218, 1217    Frenzy
Name: Name, dtype: object, average rating: 3.39 in 2380 reviews
(2380, 17770)
(2380, 1)
Movie #1219, 1218    Blind Shaft
Name: Name, dtype: object, average rating: 3.21 in 212 reviews
(212, 17770)
(212, 1)
Movie #1220, 1219    Man on Fire
Name: Name, dtype: object, average rating: 4.01 in 134241 reviews
(134241, 17770)
(134241, 1)
Movie #1221, 1220    Seems Like Old Times
Name: Name, dtype: object, average rating: 3.52 in 4087 reviews
(4087, 17770)
(4087, 1)
Movie #1222, 1221    Little House on the Prairie: Season 6
Name: Name, dtype: object, average rating: 4.08 in 1956 reviews
(1956, 17770)
(1956, 1)
Movie #1223, 1222    Hard
Name: Name, dtype: object, average rating: 2.81 in 441 reviews
(441, 17770)
(441, 1)
Movie #1224, 1223    The Ghost and Mrs. Muir
Name: Name, dtype: object, average rating: 3.93 in 7289 reviews
(7289, 17770)
(7289, 1)
Movie #1225, 1224    Jim Breuer: Heavy Metal Comedy
Name: Name, dtype: object, average rating: 3.12 in 496 reviews
(496, 17770)
(496, 1)
Movie #1226, 1225    Summer of '42
Name: Name, dtype: object, average rating: 3.55 in 3430 reviews
(3430, 17770)
(3430, 1)
Movie #1227, 1226    The Horror Within
Name: Name, dtype: object, average rating: 1.50 in 133 reviews
(133, 17770)
(133, 1)
Movie #1228, 1227    The Carol Burnett Show: Let's Bump Up the Lights!
Name: Name, dtype: object, average rating: 3.50 in 339 reviews
(339, 17770)
(339, 1)
Movie #1229, 1228    Speechless
Name: Name, dtype: object, average rating: 3.22 in 1315 reviews
(1315, 17770)
(1315, 1)
Movie #1230, 1229    Carlos Mencia: Not for the Easily Offended: Li...
Name: Name, dtype: object, average rating: 4.25 in 607 reviews
(607, 17770)
(607, 1)
Movie #1231, 1230    Batman Beyond: Tech Wars / Disappearing Inque
Name: Name, dtype: object, average rating: 3.84 in 1135 reviews

(1135, 17770)
(1135, 1)
Movie #1232, 1231    It
Name: Name, dtype: object, average rating: 3.71 in 164 reviews
(164, 17770)
(164, 1)
Movie #1233, 1232    Repli-Kate
Name: Name, dtype: object, average rating: 3.01 in 571 reviews
(571, 17770)
(571, 1)
Movie #1234, 1233    Crooklyn
Name: Name, dtype: object, average rating: 3.48 in 3290 reviews
(3290, 17770)
(3290, 1)
Movie #1235, 1234    The Great Battles of World War II: Battle of R...
Name: Name, dtype: object, average rating: 2.70 in 121 reviews
(121, 17770)
(121, 1)
Movie #1236, 1235    Ali G Indahouse
Name: Name, dtype: object, average rating: 2.95 in 2563 reviews
(2563, 17770)
(2563, 1)
Movie #1237, 1236    The Stars of Star Wars
Name: Name, dtype: object, average rating: 2.99 in 773 reviews
(773, 17770)
(773, 1)
Movie #1238, 1237    The Pope of Greenwich Village
Name: Name, dtype: object, average rating: 3.39 in 1932 reviews
(1932, 17770)
(1932, 1)
Movie #1239, 1238    The Arena
Name: Name, dtype: object, average rating: 2.63 in 142 reviews
(142, 17770)
(142, 1)
Movie #1240, 1239    Destination Moon
Name: Name, dtype: object, average rating: 3.18 in 669 reviews
(669, 17770)
(669, 1)
Movie #1241, 1240    The Story of G.I. Joe
Name: Name, dtype: object, average rating: 3.12 in 295 reviews
(295, 17770)
(295, 1)
Movie #1242, 1241    Billy Blanks: Tae Bo: Fat Blasting Cardio
Name: Name, dtype: object, average rating: 3.21 in 183 reviews
(183, 17770)
(183, 1)
Movie #1243, 1242    La Femme Nikita: Season 2
Name: Name, dtype: object, average rating: 4.10 in 1407 reviews
(1407, 17770)
(1407, 1)
Movie #1244, 1243    Sex with Strangers
Name: Name, dtype: object, average rating: 2.37 in 584 reviews
(584, 17770)
(584, 1)
Movie #1245, 1244    Threesome
Name: Name, dtype: object, average rating: 3.13 in 5362 reviews
(5362, 17770)
(5362, 1)
Movie #1246, 1245    Gunmen
Name: Name, dtype: object, average rating: 2.79 in 225 reviews
(225, 17770)
(225, 1)
Movie #1247, 1246    Warren Miller's Impact
Name: Name, dtype: object, average rating: 3.48 in 75 reviews
(75, 17770)
(75, 1)
Movie #1248, 1247    The Real Eve
Name: Name, dtype: object, average rating: 3.19 in 693 reviews
(693, 17770)
(693, 1)
Movie #1249, 1248    Taxi: Season 1
Name: Name, dtype: object, average rating: 3.64 in 1127 reviews
(1127, 17770)
(1127, 1)
Movie #1250, 1249    Brassed Off
Name: Name, dtype: object, average rating: 3.48 in 6057 reviews
(6057, 17770)
(6057, 1)
Movie #1251, 1250    Frankenthumb
Name: Name, dtype: object, average rating: 3.05 in 398 reviews
(398, 17770)
(398, 1)
Movie #1252, 1251    The Story of O
Name: Name, dtype: object, average rating: 2.89 in 2369 reviews
(2369, 17770)
(2369, 1)
Movie #1253, 1252    The Barkleys of Broadway
Name: Name, dtype: object, average rating: 3.49 in 180 reviews
(180, 17770)
(180, 1)
Movie #1254, 1253    Designing Woman
Name: Name, dtype: object, average rating: 3.04 in 1204 reviews
(1204, 17770)
(1204, 1)
Movie #1255, 1254    Better Off Dead
Name: Name, dtype: object, average rating: 3.91 in 39037 reviews
(39037, 17770)
(39037, 1)
Movie #1256, 1255    The Best of Friends: Vol. 4
Name: Name, dtype: object, average rating: 4.35 in 11385 reviews
(11385, 17770)
(11385, 1)
Movie #1257, 1256    Tupperware!: American Experience
Name: Name, dtype: object, average rating: 3.24 in 130 reviews
(130, 17770)
(130, 1)
Movie #1258, 1257    Wake Island
Name: Name, dtype: object, average rating: 3.52 in 233 reviews
(233, 17770)
(233, 1)
Movie #1259, 1258    David Gilmour in Concert
Name: Name, dtype: object, average rating: 3.80 in 687 reviews
(687, 17770)
(687, 1)
Movie #1260, 1259    Journey to the Center of the Earth
Name: Name, dtype: object, average rating: 3.11 in 2013 reviews
(2013, 17770)
(2013, 1)
Movie #1261, 1260    Mojados: Through the Night
Name: Name, dtype: object, average rating: 3.11 in 142 reviews
(142, 17770)
(142, 1)
Movie #1262, 1261    Dead Men Don't Wear Plaid
Name: Name, dtype: object, average rating: 3.24 in 5981 reviews
(5981, 17770)
(5981, 1)
Movie #1263, 1262    Snake & Crane Arts of Shaolin
Name: Name, dtype: object, average rating: 3.12 in 389 reviews
(389, 17770)
(389, 1)
Movie #1264, 1263    The Closet
Name: Name, dtype: object, average rating: 3.59 in 8592 reviews
(8592, 17770)
(8592, 1)
Movie #1265, 1264    Women in Cages
Name: Name, dtype: object, average rating: 2.35 in 248 reviews
(248, 17770)
(248, 1)
Movie #1266, 1265    Ghosts of the Abyss
Name: Name, dtype: object, average rating: 3.30 in 3370 reviews
(3370, 17770)
(3370, 1)
Movie #1267, 1266    Dr. Dolittle 2
Name: Name, dtype: object, average rating: 3.12 in 42113 reviews
(42113, 17770)
(42113, 1)
Movie #1268, 1267    Martha Stewart Holidays: Homemade Holidays
Name: Name, dtype: object, average rating: 3.07 in 112 reviews
(112, 17770)
(112, 1)
Movie #1269, 1268    29th Street
Name: Name, dtype: object, average rating: 3.37 in 186 reviews
(186, 17770)
(186, 1)
Movie #1270, 1269    The Great Gatsby
Name: Name, dtype: object, average rating: 3.22 in 1951 reviews
(1951, 17770)
(1951, 1)
Movie #1271, 1270    Drums Along the Mohawk
Name: Name, dtype: object, average rating: 3.69 in 413 reviews
(413, 17770)
(413, 1)
Movie #1272, 1271    Island in the Sky
Name: Name, dtype: object, average rating: 3.71 in 570 reviews
(570, 17770)
(570, 1)
Movie #1273, 1272    The Thrill Seekers
Name: Name, dtype: object, average rating: 2.75 in 394 reviews
(394, 17770)
(394, 1)
Movie #1274, 1273    At Close Range
Name: Name, dtype: object, average rating: 3.42 in 4087 reviews
(4087, 17770)
(4087, 1)
Movie #1275, 1274    NBA Street Series: Dunks!: Vol. 2
Name: Name, dtype: object, average rating: 3.52 in 135 reviews
(135, 17770)
(135, 1)
Movie #1276, 1275    Challenge of the Superfriends: Attack of the L...
Name: Name, dtype: object, average rating: 3.40 in 1291 reviews
(1291, 17770)
(1291, 1)
Movie #1277, 1276    Red Dwarf: Series 3
Name: Name, dtype: object, average rating: 4.18 in 2735 reviews
(2735, 17770)
(2735, 1)
Movie #1278, 1277    The Field
Name: Name, dtype: object, average rating: 3.33 in 1769 reviews
(1769, 17770)
(1769, 1)
Movie #1279, 1278    The Hee Haw Collection
Name: Name, dtype: object, average rating: 3.26 in 477 reviews
(477, 17770)
(477, 1)
Movie #1280, 1279    Campion: Look to the Lady
Name: Name, dtype: object, average rating: 3.60 in 430 reviews
(430, 17770)
(430, 1)
Movie #1281, 1280    Royal Warriors
Name: Name, dtype: object, average rating: 2.78 in 126 reviews
(126, 17770)
(126, 1)
Movie #1282, 1281    Blind Spot: Hitler's Secretary
Name: Name, dtype: object, average rating: 3.05 in 2895 reviews
(2895, 17770)
(2895, 1)
Movie #1283, 1282    Inch' Allah Dimanche
Name: Name, dtype: object, average rating: 3.55 in 276 reviews
(276, 17770)
(276, 1)
Movie #1284, 1283    Foul King
Name: Name, dtype: object, average rating: 2.76 in 123 reviews
(123, 17770)
(123, 1)
Movie #1285, 1284    Phase IV
Name: Name, dtype: object, average rating: 2.85 in 226 reviews
(226, 17770)
(226, 1)
Movie #1286, 1285    Welcome Back
Name: Name, dtype: object, average rating: 3.26 in 234 reviews
(234, 17770)
(234, 1)
Movie #1287, 1286    Breaker Breaker
Name: Name, dtype: object, average rating: 2.92 in 270 reviews
(270, 17770)
(270, 1)
Movie #1288, 1287    10 Minute Solution: Pilates
Name: Name, dtype: object, average rating: 3.17 in 163 reviews
(163, 17770)
(163, 1)
Movie #1289, 1288    Look Who's Talking Too
Name: Name, dtype: object, average rating: 2.76 in 32832 reviews
(32832, 17770)
(32832, 1)
Movie #1290, 1289    Hitler's Lost Sub: Nova
Name: Name, dtype: object, average rating: 3.69 in 359 reviews
(359, 17770)
(359, 1)
Movie #1291, 1290    The Twilight Zone: Vol. 19
Name: Name, dtype: object, average rating: 4.14 in 3035 reviews
(3035, 17770)
(3035, 1)
Movie #1292, 1291    Ararat
Name: Name, dtype: object, average rating: 3.15 in 2710 reviews
(2710, 17770)
(2710, 1)
Movie #1293, 1292    Children of the Corn 4: The Gathering
Name: Name, dtype: object, average rating: 2.35 in 2008 reviews
(2008, 17770)
(2008, 1)
Movie #1294, 1293    The Gunman
Name: Name, dtype: object, average rating: 2.61 in 190 reviews
(190, 17770)
(190, 1)
Movie #1295, 1294    Strange Brew
Name: Name, dtype: object, average rating: 3.71 in 14500 reviews
(14500, 17770)
(14500, 1)

Movie #1296, 1295    No Ordinary Love
Name: Name, dtype: object, average rating: 2.57 in 1118 reviews
(1118, 17770)
(1118, 1)
Movie #1297, 1296    Agnes Browne
Name: Name, dtype: object, average rating: 3.44 in 3178 reviews
(3178, 17770)
(3178, 1)
Movie #1298, 1297    Hellraiser V: Inferno
Name: Name, dtype: object, average rating: 3.18 in 2543 reviews
(2543, 17770)
(2543, 1)
Movie #1299, 1298    Scooby-Doo Meets Batman
Name: Name, dtype: object, average rating: 3.22 in 2986 reviews
(2986, 17770)
(2986, 1)
Movie #1300, 1299    Return of the Dragon
Name: Name, dtype: object, average rating: 3.98 in 5755 reviews
(5755, 17770)
(5755, 1)
Movie #1301, 1300    Chasing Sleep
Name: Name, dtype: object, average rating: 2.66 in 370 reviews
(370, 17770)
(370, 1)
Movie #1302, 1301    The Indomitable Teddy Roosevelt
Name: Name, dtype: object, average rating: 3.24 in 176 reviews
(176, 17770)
(176, 1)
Movie #1303, 1302    Horse Crazy
Name: Name, dtype: object, average rating: 3.40 in 573 reviews
(573, 17770)
(573, 1)
Movie #1304, 1303    Moon Child
Name: Name, dtype: object, average rating: 3.19 in 266 reviews
(266, 17770)
(266, 1)
Movie #1305, 1304    Thirteen
Name: Name, dtype: object, average rating: 3.35 in 35026 reviews
(35026, 17770)
(35026, 1)
Movie #1306, 1305    Baby Einstein: Baby Monet: Discovering the Sea...
Name: Name, dtype: object, average rating: 3.88 in 665 reviews
(665, 17770)
(665, 1)
Movie #1307, 1306    S.W.A.T.
Name: Name, dtype: object, average rating: 3.31 in 121207 reviews
(121207, 17770)
(121207, 1)
Movie #1308, 1307    No Name on the Bullet
Name: Name, dtype: object, average rating: 3.12 in 117 reviews
(117, 17770)
(117, 1)
Movie #1309, 1308    Jammin' with the Blues Greats
Name: Name, dtype: object, average rating: 3.13 in 75 reviews
(75, 17770)
(75, 1)
Movie #1310, 1309    Revelation
Name: Name, dtype: object, average rating: 2.70 in 634 reviews
(634, 17770)
(634, 1)
Movie #1311, 1310    Platinum Comedy Series: Earthquake: About Got ...
Name: Name, dtype: object, average rating: 3.06 in 133 reviews
(133, 17770)
(133, 1)
Movie #1312, 1311    The Prisoner
Name: Name, dtype: object, average rating: 2.80 in 432 reviews
(432, 17770)
(432, 1)
Movie #1313, 1312    The Wiggles: Wiggle Time
Name: Name, dtype: object, average rating: 3.50 in 487 reviews
(487, 17770)
(487, 1)
Movie #1314, 1313    Presumed Innocent
Name: Name, dtype: object, average rating: 3.80 in 24605 reviews
(24605, 17770)
(24605, 1)
Movie #1315, 1314    Guns and Talks
Name: Name, dtype: object, average rating: 3.19 in 232 reviews
(232, 17770)
(232, 1)
Movie #1316, 1315    Voices of a Distant Star
Name: Name, dtype: object, average rating: 3.72 in 1272 reviews
(1272, 17770)
(1272, 1)
Movie #1317, 1316    King of Kings
Name: Name, dtype: object, average rating: 3.64 in 1429 reviews
(1429, 17770)
(1429, 1)
Movie #1318, 1317    Baby: Secret of the Lost Legend
Name: Name, dtype: object, average rating: 2.70 in 1330 reviews
(1330, 17770)
(1330, 1)
Movie #1319, 1318    Nomads
Name: Name, dtype: object, average rating: 2.65 in 471 reviews
(471, 17770)
(471, 1)
Movie #1320, 1319    Baby the Rain Must Fall
Name: Name, dtype: object, average rating: 2.98 in 171 reviews
(171, 17770)
(171, 1)
Movie #1321, 1320    Midori Days
Name: Name, dtype: object, average rating: 3.99 in 191 reviews
(191, 17770)
(191, 1)
Movie #1322, 1321    Yosemite: The World's Most Spectacular Valley
Name: Name, dtype: object, average rating: 2.66 in 116 reviews
(116, 17770)
(116, 1)
Movie #1323, 1322    Afterglow
Name: Name, dtype: object, average rating: 2.98 in 1083 reviews
(1083, 17770)
(1083, 1)
Movie #1324, 1323    The Professional
Name: Name, dtype: object, average rating: 4.04 in 45620 reviews
(45620, 17770)
(45620, 1)
Movie #1325, 1324    Por La Libre
Name: Name, dtype: object, average rating: 3.56 in 164 reviews
(164, 17770)
(164, 1)
Movie #1326, 1325    Madonna: Music
Name: Name, dtype: object, average rating: 3.67 in 97 reviews
(97, 17770)
(97, 1)
Movie #1327, 1326    You Only Live Once
Name: Name, dtype: object, average rating: 3.17 in 201 reviews
(201, 17770)
(201, 1)
Movie #1328, 1327    Stellaluna
Name: Name, dtype: object, average rating: 3.29 in 248 reviews
(248, 17770)
(248, 1)
Movie #1329, 1328    He Got Game
Name: Name, dtype: object, average rating: 3.42 in 7456 reviews
(7456, 17770)
(7456, 1)
Movie #1330, 1329    Extreme Engineering: Subways in America
Name: Name, dtype: object, average rating: 3.34 in 125 reviews
(125, 17770)
(125, 1)
Movie #1331, 1330    Happily Ever After
Name: Name, dtype: object, average rating: 2.87 in 112 reviews
(112, 17770)
(112, 1)
Movie #1332, 1331    Sherlock Holmes
Name: Name, dtype: object, average rating: 2.83 in 92 reviews
(92, 17770)
(92, 1)
Movie #1333, 1332    Mother's Day
Name: Name, dtype: object, average rating: 2.75 in 272 reviews
(272, 17770)
(272, 1)
Movie #1334, 1333    Freeway 2: Confessions of a Trickbaby
Name: Name, dtype: object, average rating: 2.54 in 154 reviews
(154, 17770)
(154, 1)
Movie #1335, 1334    Paul McCartney: Back in the U.S.
Name: Name, dtype: object, average rating: 3.86 in 974 reviews
(974, 17770)
(974, 1)
Movie #1336, 1335    Wolf
Name: Name, dtype: object, average rating: 3.07 in 9494 reviews
(9494, 17770)
(9494, 1)
Movie #1337, 1336    Voltage Fighter Gowcaizer
Name: Name, dtype: object, average rating: 3.02 in 108 reviews
(108, 17770)
(108, 1)
Movie #1338, 1337    The Patsy
Name: Name, dtype: object, average rating: 3.16 in 191 reviews
(191, 17770)
(191, 1)
Movie #1339, 1338    Fat Albert's Easter Special
Name: Name, dtype: object, average rating: 3.07 in 129 reviews
(129, 17770)
(129, 1)
Movie #1340, 1339    Strapped
Name: Name, dtype: object, average rating: 3.22 in 83 reviews
(83, 17770)
(83, 1)
Movie #1341, 1340    Bob Hope: The Ultimate Collection
Name: Name, dtype: object, average rating: 3.06 in 157 reviews
(157, 17770)
(157, 1)
Movie #1342, 1341    Bog Creatures
Name: Name, dtype: object, average rating: 1.80 in 131 reviews
(131, 17770)
(131, 1)
Movie #1343, 1342    Strange Planet
Name: Name, dtype: object, average rating: 2.83 in 131 reviews
(131, 17770)
(131, 1)
Movie #1344, 1343    Apollo 11: Men on the Moon
Name: Name, dtype: object, average rating: 2.73 in 250 reviews
(250, 17770)
(250, 1)
Movie #1345, 1344    Tierra
Name: Name, dtype: object, average rating: 2.95 in 130 reviews
(130, 17770)
(130, 1)
Movie #1346, 1345    The Gnome-Mobile
Name: Name, dtype: object, average rating: 3.65 in 1721 reviews
(1721, 17770)
(1721, 1)
Movie #1347, 1346    Angel Sanctuary
Name: Name, dtype: object, average rating: 3.31 in 809 reviews
(809, 17770)
(809, 1)
Movie #1348, 1347    The Last Stop
Name: Name, dtype: object, average rating: 2.52 in 195 reviews
(195, 17770)
(195, 1)
Movie #1349, 1348    Baby Human
Name: Name, dtype: object, average rating: 3.39 in 141 reviews
(141, 17770)
(141, 1)
Movie #1350, 1349    Midsomer Murders: Blue Herrings
Name: Name, dtype: object, average rating: 3.90 in 852 reviews
(852, 17770)
(852, 1)
Movie #1351, 1350    Yes: Symphonic Live
Name: Name, dtype: object, average rating: 3.74 in 245 reviews
(245, 17770)
(245, 1)
Movie #1352, 1351    Homeless to Harvard
Name: Name, dtype: object, average rating: 3.79 in 1144 reviews
(1144, 17770)
(1144, 1)
Movie #1353, 1352    Mon Oncle
Name: Name, dtype: object, average rating: 3.77 in 923 reviews
(923, 17770)
(923, 1)
Movie #1354, 1353    Targets
Name: Name, dtype: object, average rating: 3.29 in 304 reviews
(304, 17770)
(304, 1)
Movie #1355, 1354    Family Business: Season 2
Name: Name, dtype: object, average rating: 3.69 in 563 reviews
(563, 17770)
(563, 1)
Movie #1356, 1355    Too Close for Comfort: Season 1
Name: Name, dtype: object, average rating: 2.96 in 183 reviews
(183, 17770)
(183, 1)
Movie #1357, 1356    Stargate SG-1: Season 7
Name: Name, dtype: object, average rating: 4.38 in 6398 reviews
(6398, 17770)
(6398, 1)
Movie #1358, 1357    Empires: Martin Luther
Name: Name, dtype: object, average rating: 3.70 in 595 reviews
(595, 17770)
(595, 1)
Movie #1359, 1358    Funny Lady
Name: Name, dtype: object, average rating: 3.46 in 3976 reviews
(3976, 17770)
(3976, 1)
Movie #1360, 1359    Emmanuelle in Rio
Name: Name, dtype: object, average rating: 2.39 in 623 reviews

(623, 17770)
(623, 1)
Movie #1361, 1360    Play'd: A Hip-Hop Story
Name: Name, dtype: object, average rating: 2.79 in 153 reviews
(153, 17770)
(153, 1)
Movie #1362, 1361    NHL Stanley Cup 2003
Name: Name, dtype: object, average rating: 3.30 in 122 reviews
(122, 17770)
(122, 1)
Movie #1363, 1362    Leprechaun
Name: Name, dtype: object, average rating: 2.75 in 3287 reviews
(3287, 17770)
(3287, 1)
Movie #1364, 1363    Normal
Name: Name, dtype: object, average rating: 3.51 in 4411 reviews
(4411, 17770)
(4411, 1)
Movie #1365, 1364    Kurt & Courtney
Name: Name, dtype: object, average rating: 2.87 in 1846 reviews
(1846, 17770)
(1846, 1)
Movie #1366, 1365    Tempted
Name: Name, dtype: object, average rating: 2.82 in 537 reviews
(537, 17770)
(537, 1)
Movie #1367, 1366    The Piano
Name: Name, dtype: object, average rating: 3.60 in 24880 reviews
(24880, 17770)
(24880, 1)
Movie #1368, 1367    Ozzy Osbourne: Double O: Unauthorized
Name: Name, dtype: object, average rating: 2.34 in 79 reviews
(79, 17770)
(79, 1)
Movie #1369, 1368    Breeders
Name: Name, dtype: object, average rating: 2.09 in 188 reviews
(188, 17770)
(188, 1)
Movie #1370, 1369    Marathon Man
Name: Name, dtype: object, average rating: 3.79 in 14252 reviews
(14252, 17770)
(14252, 1)
Movie #1371, 1370    Death Machine
Name: Name, dtype: object, average rating: 2.51 in 187 reviews
(187, 17770)
(187, 1)
Movie #1372, 1371    Liberty Stands Still
Name: Name, dtype: object, average rating: 3.01 in 1770 reviews
(1770, 17770)
(1770, 1)
Movie #1373, 1372    The Program
Name: Name, dtype: object, average rating: 3.76 in 3240 reviews
(3240, 17770)
(3240, 1)
Movie #1374, 1373    Profile of a Serial Killer
Name: Name, dtype: object, average rating: 2.43 in 379 reviews
(379, 17770)
(379, 1)
Movie #1375, 1374    Food of Love
Name: Name, dtype: object, average rating: 3.33 in 1891 reviews
(1891, 17770)
(1891, 1)
Movie #1376, 1375    The Vicar of Dibley: 10th Anniversary Specials
Name: Name, dtype: object, average rating: 3.79 in 194 reviews
(194, 17770)
(194, 1)
Movie #1377, 1376    The Bat / House on Haunted Hill
Name: Name, dtype: object, average rating: 3.42 in 806 reviews
(806, 17770)
(806, 1)
Movie #1378, 1377    Breakthru Pilates Sculpt
Name: Name, dtype: object, average rating: 3.02 in 163 reviews
(163, 17770)
(163, 1)
Movie #1379, 1378    Dancing to New Orleans
Name: Name, dtype: object, average rating: 3.15 in 91 reviews
(91, 17770)
(91, 1)
Movie #1380, 1379    Mobile Suit Gundam: F91: The Motion Picture
Name: Name, dtype: object, average rating: 3.56 in 108 reviews
(108, 17770)
(108, 1)
Movie #1381, 1380    Mouth to Mouth
Name: Name, dtype: object, average rating: 3.07 in 603 reviews
(603, 17770)
(603, 1)
Movie #1382, 1381    Jet Li and the Legend of Wong Fei Hung: Unconq...
Name: Name, dtype: object, average rating: 2.16 in 96 reviews
(96, 17770)
(96, 1)
Movie #1383, 1382    God.com
Name: Name, dtype: object, average rating: 2.34 in 58 reviews
(58, 17770)
(58, 1)
Movie #1384, 1383    Walking Tall
Name: Name, dtype: object, average rating: 3.60 in 4214 reviews
(4214, 17770)
(4214, 1)
Movie #1385, 1384    Greaser's Palace
Name: Name, dtype: object, average rating: 2.90 in 107 reviews
(107, 17770)
(107, 1)
Movie #1386, 1385    Video Visits: China
Name: Name, dtype: object, average rating: 3.07 in 119 reviews
(119, 17770)
(119, 1)
Movie #1387, 1386    The Girl Next Door
Name: Name, dtype: object, average rating: 2.69 in 519 reviews
(519, 17770)
(519, 1)
Movie #1388, 1387    Spring Symphony
Name: Name, dtype: object, average rating: 2.77 in 149 reviews
(149, 17770)
(149, 1)
Movie #1389, 1388    Baby Neptune: Discovering Water
Name: Name, dtype: object, average rating: 3.92 in 1207 reviews
(1207, 17770)
(1207, 1)
Movie #1390, 1389    Ben Franklin
Name: Name, dtype: object, average rating: 3.72 in 102 reviews
(102, 17770)
(102, 1)
Movie #1391, 1390    Yanni: Live at the Acropolis
Name: Name, dtype: object, average rating: 3.37 in 675 reviews
(675, 17770)
(675, 1)
Movie #1392, 1391    Live From Baghdad
Name: Name, dtype: object, average rating: 3.41 in 3351 reviews
(3351, 17770)
(3351, 1)
Movie #1393, 1392    Mr. Murder
Name: Name, dtype: object, average rating: 2.77 in 245 reviews
(245, 17770)
(245, 1)
Movie #1394, 1393    Bringing Out the Dead
Name: Name, dtype: object, average rating: 2.93 in 13046 reviews
(13046, 17770)
(13046, 1)
Movie #1395, 1394    Charade
Name: Name, dtype: object, average rating: 4.10 in 6130 reviews
(6130, 17770)
(6130, 1)
Movie #1396, 1395    Kaleido Star
Name: Name, dtype: object, average rating: 3.93 in 254 reviews
(254, 17770)
(254, 1)
Movie #1397, 1396    Beethoven: The Sound and the Fury
Name: Name, dtype: object, average rating: 3.26 in 84 reviews
(84, 17770)
(84, 1)
Movie #1398, 1397    Dangerous Evidence: The Lori Jackson Story
Name: Name, dtype: object, average rating: 3.26 in 195 reviews
(195, 17770)
(195, 1)
Movie #1399, 1398    1984
Name: Name, dtype: object, average rating: 3.41 in 4852 reviews
(4852, 17770)
(4852, 1)
Movie #1400, 1399    Britney Spears: Britney in Hawaii: Live and More
Name: Name, dtype: object, average rating: 2.78 in 712 reviews
(712, 17770)
(712, 1)
Movie #1401, 1400    Passion Fish
Name: Name, dtype: object, average rating: 3.58 in 3975 reviews
(3975, 17770)
(3975, 1)
Movie #1402, 1401    Inspector Morse 28: Twilight of the Gods
Name: Name, dtype: object, average rating: 4.03 in 801 reviews
(801, 17770)
(801, 1)
Movie #1403, 1402    Komodo
Name: Name, dtype: object, average rating: 2.79 in 329 reviews
(329, 17770)
(329, 1)
Movie #1404, 1403    Ray Bradbury Theater
Name: Name, dtype: object, average rating: 2.87 in 120 reviews
(120, 17770)
(120, 1)
Movie #1405, 1404    Cleo from 5 to 7
Name: Name, dtype: object, average rating: 3.60 in 506 reviews
(506, 17770)
(506, 1)
Movie #1406, 1405    Hook
Name: Name, dtype: object, average rating: 3.41 in 74076 reviews
(74076, 17770)
(74076, 1)
Movie #1407, 1406    Orphans of the Storm
Name: Name, dtype: object, average rating: 3.11 in 203 reviews
(203, 17770)
(203, 1)
Movie #1408, 1407    The Limey
Name: Name, dtype: object, average rating: 3.37 in 11994 reviews
(11994, 17770)
(11994, 1)
Movie #1409, 1408    The O.C.: Season 1
Name: Name, dtype: object, average rating: 4.29 in 5266 reviews
(5266, 17770)
(5266, 1)
Movie #1410, 1409    Muhammad Ali: The Greatest 1964 - 74
Name: Name, dtype: object, average rating: 2.85 in 143 reviews
(143, 17770)
(143, 1)
Movie #1411, 1410    China: The Panda Adventure: IMAX
Name: Name, dtype: object, average rating: 2.97 in 77 reviews
(77, 17770)
(77, 1)
Movie #1412, 1411    Sordid Lives
Name: Name, dtype: object, average rating: 3.22 in 2929 reviews
(2929, 17770)
(2929, 1)
Movie #1413, 1412    The Life and Times of Hank Greenberg
Name: Name, dtype: object, average rating: 3.64 in 883 reviews
(883, 17770)
(883, 1)
Movie #1414, 1413    Manhood
Name: Name, dtype: object, average rating: 2.42 in 229 reviews
(229, 17770)
(229, 1)
Movie #1415, 1414    W.C. Fields: International House
Name: Name, dtype: object, average rating: 3.04 in 103 reviews
(103, 17770)
(103, 1)
Movie #1416, 1415    Beckett on Film
Name: Name, dtype: object, average rating: 3.62 in 55 reviews
(55, 17770)
(55, 1)
Movie #1417, 1416    Shakedown
Name: Name, dtype: object, average rating: 2.12 in 127 reviews
(127, 17770)
(127, 1)
Movie #1418, 1417    Inu-Yasha: The Movie 3: Swords of an Honorable...
Name: Name, dtype: object, average rating: 4.46 in 796 reviews
(796, 17770)
(796, 1)
Movie #1419, 1418    Madame Bovary
Name: Name, dtype: object, average rating: 2.96 in 111 reviews
(111, 17770)
(111, 1)
Movie #1420, 1419    Uncle Saddam
Name: Name, dtype: object, average rating: 2.93 in 531 reviews
(531, 17770)
(531, 1)
Movie #1421, 1420    My Dinner with Andre
Name: Name, dtype: object, average rating: 3.46 in 4180 reviews
(4180, 17770)
(4180, 1)
Movie #1422, 1421    Casino: 10th Anniversary Edition: Bonus Material
Name: Name, dtype: object, average rating: 4.04 in 116 reviews
(116, 17770)
(116, 1)
Movie #1423, 1422    Blind Date: Freaks & Weirdos Uncensored
Name: Name, dtype: object, average rating: 2.26 in 502 reviews
(502, 17770)
(502, 1)
Movie #1424, 1423    Beautiful Joe
Name: Name, dtype: object, average rating: 2.82 in 858 reviews

(858, 17770)
(858, 1)
Movie #1425, 1424    No Way Out
Name: Name, dtype: object, average rating: 3.70 in 18126 reviews
(18126, 17770)
(18126, 1)
Movie #1426, 1425    Go Fish
Name: Name, dtype: object, average rating: 2.73 in 1146 reviews
(1146, 17770)
(1146, 1)
Movie #1427, 1426    Sweepers
Name: Name, dtype: object, average rating: 2.54 in 225 reviews
(225, 17770)
(225, 1)
Movie #1428, 1427    The Recruit
Name: Name, dtype: object, average rating: 3.54 in 113674 reviews
(113674, 17770)
(113674, 1)
Movie #1429, 1428    The Halfway House: Special Edition (Unrated Di...
Name: Name, dtype: object, average rating: 2.21 in 95 reviews
(95, 17770)
(95, 1)
Movie #1430, 1429    The House Next Door
Name: Name, dtype: object, average rating: 2.41 in 186 reviews
(186, 17770)
(186, 1)
Movie #1431, 1430    Legalese
Name: Name, dtype: object, average rating: 2.95 in 151 reviews
(151, 17770)
(151, 1)
Movie #1432, 1431    Ride with the Devil
Name: Name, dtype: object, average rating: 3.13 in 2100 reviews
(2100, 17770)
(2100, 1)
Movie #1433, 1432    Casablanca: Bonus Material
Name: Name, dtype: object, average rating: 3.61 in 202 reviews
(202, 17770)
(202, 1)
Movie #1434, 1433    Are You Being Served? Again: The Complete Series
Name: Name, dtype: object, average rating: 3.87 in 784 reviews
(784, 17770)
(784, 1)
Movie #1435, 1434    Wallace & Gromit in Three Amazing Adventures
Name: Name, dtype: object, average rating: 4.09 in 18258 reviews
(18258, 17770)
(18258, 1)
Movie #1436, 1435    Seabiscuit: The Lost Documentary
Name: Name, dtype: object, average rating: 2.79 in 208 reviews
(208, 17770)
(208, 1)
Movie #1437, 1436    The Marx Brothers in a Nutshell
Name: Name, dtype: object, average rating: 3.30 in 115 reviews
(115, 17770)
(115, 1)
Movie #1438, 1437    Children of the Corn 666: Isaac's Return
Name: Name, dtype: object, average rating: 3.04 in 937 reviews
(937, 17770)
(937, 1)
Movie #1439, 1438    The Three Pickers
Name: Name, dtype: object, average rating: 3.63 in 105 reviews
(105, 17770)
(105, 1)
Movie #1440, 1439    Overhaulin': Season 1
Name: Name, dtype: object, average rating: 3.17 in 115 reviews
(115, 17770)
(115, 1)
Movie #1441, 1440    Stargate SG-1: Season 2
Name: Name, dtype: object, average rating: 4.28 in 7720 reviews
(7720, 17770)
(7720, 1)
Movie #1442, 1441    Sade: Life Promise Pride Love
Name: Name, dtype: object, average rating: 3.54 in 139 reviews
(139, 17770)
(139, 1)
Movie #1443, 1442    21 Jump Street: Season 2
Name: Name, dtype: object, average rating: 3.76 in 1376 reviews
(1376, 17770)
(1376, 1)
Movie #1444, 1443    Pride FC: The Return of the Warriors
Name: Name, dtype: object, average rating: 3.92 in 252 reviews
(252, 17770)
(252, 1)
Movie #1445, 1444    Street Fighter Alpha: Generations
Name: Name, dtype: object, average rating: 3.22 in 58 reviews
(58, 17770)
(58, 1)
Movie #1446, 1445    Waco: The Rules of Engagement
Name: Name, dtype: object, average rating: 3.77 in 900 reviews
(900, 17770)
(900, 1)
Movie #1447, 1446    Gangster No. 1
Name: Name, dtype: object, average rating: 3.03 in 1512 reviews
(1512, 17770)
(1512, 1)
Movie #1448, 1447    Blue Submarine 6
Name: Name, dtype: object, average rating: 3.27 in 503 reviews
(503, 17770)
(503, 1)
Movie #1449, 1448    The Gingko Bed
Name: Name, dtype: object, average rating: 2.28 in 149 reviews
(149, 17770)
(149, 1)
Movie #1450, 1449    Geronimo: An American Legend
Name: Name, dtype: object, average rating: 3.35 in 1925 reviews
(1925, 17770)
(1925, 1)
Movie #1451, 1450    The Big Bus
Name: Name, dtype: object, average rating: 2.65 in 349 reviews
(349, 17770)
(349, 1)
Movie #1452, 1451    Perfume
Name: Name, dtype: object, average rating: 2.04 in 303 reviews
(303, 17770)
(303, 1)
Movie #1453, 1452    Van Halen: Video Hits: Vol. 1
Name: Name, dtype: object, average rating: 3.42 in 423 reviews
(423, 17770)
(423, 1)
Movie #1454, 1453    Fangoria Blood Drive
Name: Name, dtype: object, average rating: 2.19 in 169 reviews
(169, 17770)
(169, 1)
Movie #1455, 1454    Belly of the Beast
Name: Name, dtype: object, average rating: 3.07 in 3859 reviews
(3859, 17770)
(3859, 1)
Movie #1456, 1455    Nina Takes a Lover
Name: Name, dtype: object, average rating: 2.66 in 184 reviews
(184, 17770)
(184, 1)
Movie #1457, 1456    The White Seal / A Cricket in Times Square
Name: Name, dtype: object, average rating: 3.09 in 115 reviews
(115, 17770)
(115, 1)
Movie #1458, 1457    Popeye
Name: Name, dtype: object, average rating: 3.03 in 192 reviews
(192, 17770)
(192, 1)
Movie #1459, 1458    Dark Asylum
Name: Name, dtype: object, average rating: 2.42 in 367 reviews
(367, 17770)
(367, 1)
Movie #1460, 1459    Soul of the Game
Name: Name, dtype: object, average rating: 3.58 in 1025 reviews
(1025, 17770)
(1025, 1)
Movie #1461, 1460    Gravion
Name: Name, dtype: object, average rating: 3.42 in 219 reviews
(219, 17770)
(219, 1)
Movie #1462, 1461    Funny Ladies of British Comedy
Name: Name, dtype: object, average rating: 3.08 in 359 reviews
(359, 17770)
(359, 1)
Movie #1463, 1462    Britannia Hospital
Name: Name, dtype: object, average rating: 2.24 in 120 reviews
(120, 17770)
(120, 1)
Movie #1464, 1463    Pistol Opera
Name: Name, dtype: object, average rating: 2.56 in 360 reviews
(360, 17770)
(360, 1)
Movie #1465, 1464    Hysteria: The Def Leppard Story
Name: Name, dtype: object, average rating: 3.39 in 216 reviews
(216, 17770)
(216, 1)
Movie #1466, 1465    Midnight Cowboy
Name: Name, dtype: object, average rating: 3.74 in 41355 reviews
(41355, 17770)
(41355, 1)
Movie #1467, 1466    Three Musketeers
Name: Name, dtype: object, average rating: 3.71 in 24089 reviews
(24089, 17770)
(24089, 1)
Movie #1468, 1467    The Diamond Arm
Name: Name, dtype: object, average rating: 3.72 in 292 reviews
(292, 17770)
(292, 1)
Movie #1469, 1468    Girls Can't Swim
Name: Name, dtype: object, average rating: 2.53 in 505 reviews
(505, 17770)
(505, 1)
Movie #1470, 1469    Bend It Like Beckham
Name: Name, dtype: object, average rating: 3.78 in 98696 reviews
(98696, 17770)
(98696, 1)
Movie #1471, 1470    Voices of Iraq
Name: Name, dtype: object, average rating: 3.39 in 2901 reviews
(2901, 17770)
(2901, 1)
Movie #1472, 1471    The Stink of Flesh
Name: Name, dtype: object, average rating: 2.24 in 160 reviews
(160, 17770)
(160, 1)
Movie #1473, 1472    Sesame Street: Learning About Letters
Name: Name, dtype: object, average rating: 3.48 in 306 reviews
(306, 17770)
(306, 1)
Movie #1474, 1473    Classic Country Comedy
Name: Name, dtype: object, average rating: 2.89 in 143 reviews
(143, 17770)
(143, 1)
Movie #1475, 1474    Brain Dead
Name: Name, dtype: object, average rating: 2.64 in 239 reviews
(239, 17770)
(239, 1)
Movie #1476, 1475    Six Feet Under: Season 4
Name: Name, dtype: object, average rating: 4.47 in 11829 reviews
(11829, 17770)
(11829, 1)
Movie #1477, 1476    Aradhana
Name: Name, dtype: object, average rating: 3.36 in 199 reviews
(199, 17770)
(199, 1)
Movie #1478, 1477    Colin's Sleazy Friends Rocks
Name: Name, dtype: object, average rating: 1.80 in 99 reviews
(99, 17770)
(99, 1)
Movie #1479, 1478    Man on the Train
Name: Name, dtype: object, average rating: 3.38 in 6599 reviews
(6599, 17770)
(6599, 1)
Movie #1480, 1479    Cold Summer of 1953
Name: Name, dtype: object, average rating: 3.75 in 170 reviews
(170, 17770)
(170, 1)
Movie #1481, 1480    Porn Star: The Legend of Ron Jeremy
Name: Name, dtype: object, average rating: 3.07 in 4660 reviews
(4660, 17770)
(4660, 1)
Movie #1482, 1481    Beyond Borders
Name: Name, dtype: object, average rating: 3.25 in 15992 reviews
(15992, 17770)
(15992, 1)
Movie #1483, 1482    Interstella 5555 (Daft Punk)
Name: Name, dtype: object, average rating: 3.80 in 173 reviews
(173, 17770)
(173, 1)
Movie #1484, 1483    Fiend Without a Face
Name: Name, dtype: object, average rating: 3.13 in 383 reviews
(383, 17770)
(383, 1)
Movie #1485, 1484    Leaving Metropolis
Name: Name, dtype: object, average rating: 3.32 in 1411 reviews
(1411, 17770)
(1411, 1)
Movie #1486, 1485    King Arthur: The Truth Behind the Legend
Name: Name, dtype: object, average rating: 2.45 in 192 reviews
(192, 17770)
(192, 1)
Movie #1487, 1486    Infernal Affairs III
Name: Name, dtype: object, average rating: 3.54 in 206 reviews
(206, 17770)
(206, 1)
Movie #1488, 1487    King of the Hill: Season 4
Name: Name, dtype: object, average rating: 3.87 in 1460 reviews

(1460, 17770)
(1460, 1)
Movie #1489, 1488    American Adobo
Name: Name, dtype: object, average rating: 2.83 in 479 reviews
(479, 17770)
(479, 1)
Movie #1490, 1489    Knight Hunters Eternity
Name: Name, dtype: object, average rating: 3.38 in 225 reviews
(225, 17770)
(225, 1)
Movie #1491, 1490    Dream Theater: Live at Budokan
Name: Name, dtype: object, average rating: 3.84 in 302 reviews
(302, 17770)
(302, 1)
Movie #1492, 1491    Rhinestone
Name: Name, dtype: object, average rating: 2.21 in 755 reviews
(755, 17770)
(755, 1)
Movie #1493, 1492    John Lee Hooker: Live in Montreal: Montreal Ja...
Name: Name, dtype: object, average rating: 3.12 in 135 reviews
(135, 17770)
(135, 1)
Movie #1494, 1493    Appalachian Journey: Yo-Yo Ma/Edgar Meyer/Mark...
Name: Name, dtype: object, average rating: 3.47 in 240 reviews
(240, 17770)
(240, 1)
Movie #1495, 1494    Alias: Season 1
Name: Name, dtype: object, average rating: 4.34 in 16683 reviews
(16683, 17770)
(16683, 1)
Movie #1496, 1495    Korn: Kornography: Unauthorized Biography
Name: Name, dtype: object, average rating: 2.37 in 82 reviews
(82, 17770)
(82, 1)
Movie #1497, 1496    Red Water
Name: Name, dtype: object, average rating: 2.71 in 411 reviews
(411, 17770)
(411, 1)
Movie #1498, 1497    Johnny Winter: Pieces and Bits
Name: Name, dtype: object, average rating: 2.96 in 91 reviews
(91, 17770)
(91, 1)
Movie #1499, 1498    FLCL
Name: Name, dtype: object, average rating: 4.36 in 912 reviews
(912, 17770)
(912, 1)
Movie #1500, 1499    Miss Marple: Collection 2
Name: Name, dtype: object, average rating: 4.02 in 1174 reviews
(1174, 17770)
(1174, 1)
Movie #1501, 1500    Forbidden Zone
Name: Name, dtype: object, average rating: 3.14 in 432 reviews
(432, 17770)
(432, 1)
Movie #1502, 1501    Superstar
Name: Name, dtype: object, average rating: 3.10 in 9650 reviews
(9650, 17770)
(9650, 1)
Movie #1503, 1502    The Boxer
Name: Name, dtype: object, average rating: 3.52 in 3352 reviews
(3352, 17770)
(3352, 1)
Movie #1504, 1503    Light of My Eyes
Name: Name, dtype: object, average rating: 3.01 in 219 reviews
(219, 17770)
(219, 1)
Movie #1505, 1504    Hamlet
Name: Name, dtype: object, average rating: 3.24 in 384 reviews
(384, 17770)
(384, 1)
Movie #1506, 1505    Paranoia Agent
Name: Name, dtype: object, average rating: 3.78 in 820 reviews
(820, 17770)
(820, 1)
Movie #1507, 1506    The Hunchback of Notre Dame
Name: Name, dtype: object, average rating: 3.48 in 1883 reviews
(1883, 17770)
(1883, 1)
Movie #1508, 1507    Hand Maid May
Name: Name, dtype: object, average rating: 3.82 in 258 reviews
(258, 17770)
(258, 1)
Movie #1509, 1508    National Lampoon's Van Wilder
Name: Name, dtype: object, average rating: 3.55 in 40153 reviews
(40153, 17770)
(40153, 1)
Movie #1510, 1509    Faith Hill: When the Lights Go Down
Name: Name, dtype: object, average rating: 3.19 in 401 reviews
(401, 17770)
(401, 1)
Movie #1511, 1510    On the Beach
Name: Name, dtype: object, average rating: 3.02 in 476 reviews
(476, 17770)
(476, 1)
Movie #1512, 1511    Blue's Clues: Blue's Room: Beyond Your Wildest...
Name: Name, dtype: object, average rating: 3.19 in 160 reviews
(160, 17770)
(160, 1)
Movie #1513, 1512    The Twilight Zone: Vol. 42
Name: Name, dtype: object, average rating: 4.19 in 2270 reviews
(2270, 17770)
(2270, 1)
Movie #1514, 1513    Amazon Women on the Moon
Name: Name, dtype: object, average rating: 3.15 in 2279 reviews
(2279, 17770)
(2279, 1)
Movie #1515, 1514    Jane Doe
Name: Name, dtype: object, average rating: 2.80 in 353 reviews
(353, 17770)
(353, 1)
Movie #1516, 1515    Peril
Name: Name, dtype: object, average rating: 2.23 in 146 reviews
(146, 17770)
(146, 1)
Movie #1517, 1516    Celebrities: Caught on Camera
Name: Name, dtype: object, average rating: 2.04 in 78 reviews
(78, 17770)
(78, 1)
Movie #1518, 1517    Casper
Name: Name, dtype: object, average rating: 3.59 in 10988 reviews
(10988, 17770)
(10988, 1)
Movie #1519, 1518    Inseminoid
Name: Name, dtype: object, average rating: 2.05 in 101 reviews
(101, 17770)
(101, 1)
Movie #1520, 1519    Suze Orman: The Laws of Money
Name: Name, dtype: object, average rating: 3.14 in 375 reviews
(375, 17770)
(375, 1)
Movie #1521, 1520    The Trouble With Harry
Name: Name, dtype: object, average rating: 3.61 in 4240 reviews
(4240, 17770)
(4240, 1)
Movie #1522, 1521    Teorema
Name: Name, dtype: object, average rating: 2.62 in 126 reviews
(126, 17770)
(126, 1)
Movie #1523, 1522    Dynasty: Season 1
Name: Name, dtype: object, average rating: 3.48 in 349 reviews
(349, 17770)
(349, 1)
Movie #1524, 1523    American Ninja
Name: Name, dtype: object, average rating: 3.05 in 1192 reviews
(1192, 17770)
(1192, 1)
Movie #1525, 1524    Monkeybone
Name: Name, dtype: object, average rating: 2.46 in 4648 reviews
(4648, 17770)
(4648, 1)
Movie #1526, 1525    The Pirate Movie
Name: Name, dtype: object, average rating: 3.34 in 1172 reviews
(1172, 17770)
(1172, 1)
Movie #1527, 1526    Hawaiian Paradise
Name: Name, dtype: object, average rating: 2.91 in 215 reviews
(215, 17770)
(215, 1)
Movie #1528, 1527    Radio Flyer
Name: Name, dtype: object, average rating: 3.84 in 4432 reviews
(4432, 17770)
(4432, 1)
Movie #1529, 1528    Hustle and Heat
Name: Name, dtype: object, average rating: 3.26 in 612 reviews
(612, 17770)
(612, 1)
Movie #1530, 1529    Rose Red
Name: Name, dtype: object, average rating: 3.74 in 8497 reviews
(8497, 17770)
(8497, 1)
Movie #1531, 1530    The Crucible
Name: Name, dtype: object, average rating: 3.35 in 930 reviews
(930, 17770)
(930, 1)
Movie #1532, 1531    Mo' Money
Name: Name, dtype: object, average rating: 2.79 in 9521 reviews
(9521, 17770)
(9521, 1)
Movie #1533, 1532    Darr
Name: Name, dtype: object, average rating: 3.33 in 303 reviews
(303, 17770)
(303, 1)
Movie #1534, 1533    Thomas & Friends: Thomas' Sodor Celebration
Name: Name, dtype: object, average rating: 3.41 in 145 reviews
(145, 17770)
(145, 1)
Movie #1535, 1534    Pooh's Heffalump Halloween Movie
Name: Name, dtype: object, average rating: 3.86 in 636 reviews
(636, 17770)
(636, 1)
Movie #1536, 1535    Fresh Horses
Name: Name, dtype: object, average rating: 2.36 in 403 reviews
(403, 17770)
(403, 1)
Movie #1537, 1536    Yes Nurse! No Nurse!
Name: Name, dtype: object, average rating: 2.96 in 144 reviews
(144, 17770)
(144, 1)
Movie #1538, 1537    Century of the Dragon
Name: Name, dtype: object, average rating: 3.16 in 192 reviews
(192, 17770)
(192, 1)
Movie #1539, 1538    Taboo: Season 1
Name: Name, dtype: object, average rating: 2.89 in 266 reviews
(266, 17770)
(266, 1)
Movie #1540, 1539    The Devil's Rain
Name: Name, dtype: object, average rating: 2.38 in 294 reviews
(294, 17770)
(294, 1)
Movie #1541, 1540    Battle Queen 2020
Name: Name, dtype: object, average rating: 1.93 in 287 reviews
(287, 17770)
(287, 1)
Movie #1542, 1541    Sleepless in Seattle
Name: Name, dtype: object, average rating: 3.76 in 114997 reviews
(114997, 17770)
(114997, 1)
Movie #1543, 1542    Nick of Time
Name: Name, dtype: object, average rating: 3.34 in 8817 reviews
(8817, 17770)
(8817, 1)
Movie #1544, 1543    The Duchess & The Dirtwater Fox
Name: Name, dtype: object, average rating: 2.97 in 197 reviews
(197, 17770)
(197, 1)
Movie #1545, 1544    The Dimension Travelers
Name: Name, dtype: object, average rating: 2.38 in 128 reviews
(128, 17770)
(128, 1)
Movie #1546, 1545    Second Nature
Name: Name, dtype: object, average rating: 2.85 in 357 reviews
(357, 17770)
(357, 1)
Movie #1547, 1546    The Women
Name: Name, dtype: object, average rating: 3.95 in 4083 reviews
(4083, 17770)
(4083, 1)
Movie #1548, 1547    The Shanghai Affairs
Name: Name, dtype: object, average rating: 2.54 in 76 reviews
(76, 17770)
(76, 1)
Movie #1549, 1548    Deja Vu
Name: Name, dtype: object, average rating: 2.99 in 384 reviews
(384, 17770)
(384, 1)
Movie #1550, 1549    Call Me: The Rise and Fall of Heidi Fleiss
Name: Name, dtype: object, average rating: 2.92 in 718 reviews
(718, 17770)
(718, 1)
Movie #1551, 1550    Spider-Man 2: Bonus Material
Name: Name, dtype: object, average rating: 3.54 in 526 reviews
(526, 17770)
(526, 1)
Movie #1552, 1551    Black Adder
Name: Name, dtype: object, average rating: 3.71 in 4258 reviews
(4258, 17770)
(4258, 1)
Movie #1553, 1552    Persuasion
Name: Name, dtype: object, average rating: 3.85 in 6258 reviews

(6258, 17770)
(6258, 1)
Movie #1554, 1553    The 5th Musketeer
Name: Name, dtype: object, average rating: 2.70 in 103 reviews
(103, 17770)
(103, 1)
Movie #1555, 1554    The Little Fugitive
Name: Name, dtype: object, average rating: 3.16 in 185 reviews
(185, 17770)
(185, 1)
Movie #1556, 1555    A Farewell to Arms
Name: Name, dtype: object, average rating: 3.20 in 1045 reviews
(1045, 17770)
(1045, 1)
Movie #1557, 1556    Dolls
Name: Name, dtype: object, average rating: 3.05 in 428 reviews
(428, 17770)
(428, 1)
Movie #1558, 1557    Rocky V
Name: Name, dtype: object, average rating: 3.03 in 8170 reviews
(8170, 17770)
(8170, 1)
Movie #1559, 1558    AFI's 100 Years
Name: Name, dtype: object, average rating: 3.27 in 361 reviews
(361, 17770)
(361, 1)
Movie #1560, 1559    Disney Princess Stories: Vol. 1: A Gift From t...
Name: Name, dtype: object, average rating: 3.33 in 643 reviews
(643, 17770)
(643, 1)
Movie #1561, 1560    American Wedding
Name: Name, dtype: object, average rating: 3.48 in 61019 reviews
(61019, 17770)
(61019, 1)
Movie #1562, 1561    Chupacabra Terror
Name: Name, dtype: object, average rating: 2.35 in 303 reviews
(303, 17770)
(303, 1)
Movie #1563, 1562    To Grandmother's House We Go
Name: Name, dtype: object, average rating: 3.73 in 641 reviews
(641, 17770)
(641, 1)
Movie #1564, 1563    The Rare Breed
Name: Name, dtype: object, average rating: 3.67 in 735 reviews
(735, 17770)
(735, 1)
Movie #1565, 1564    Sarah Brightman Special: Harem: A Desert Fantasy
Name: Name, dtype: object, average rating: 3.44 in 250 reviews
(250, 17770)
(250, 1)
Movie #1566, 1565    Once a Thief
Name: Name, dtype: object, average rating: 2.73 in 252 reviews
(252, 17770)
(252, 1)
Movie #1567, 1566    Time Masters
Name: Name, dtype: object, average rating: 2.70 in 99 reviews
(99, 17770)
(99, 1)
Movie #1568, 1567    In the City
Name: Name, dtype: object, average rating: 2.58 in 154 reviews
(154, 17770)
(154, 1)
Movie #1569, 1568    The Bogus Witch Project
Name: Name, dtype: object, average rating: 1.50 in 223 reviews
(223, 17770)
(223, 1)
Movie #1570, 1569    School's Out
Name: Name, dtype: object, average rating: 2.05 in 88 reviews
(88, 17770)
(88, 1)
Movie #1571, 1570    Poltergeist
Name: Name, dtype: object, average rating: 3.83 in 40841 reviews
(40841, 17770)
(40841, 1)
Movie #1572, 1571    Doctor Who: Carnival of Monsters
Name: Name, dtype: object, average rating: 3.66 in 834 reviews
(834, 17770)
(834, 1)
Movie #1573, 1572    The Omega Code
Name: Name, dtype: object, average rating: 2.69 in 1729 reviews
(1729, 17770)
(1729, 1)
Movie #1574, 1573    Dr. Goldfoot and the Bikini Machine
Name: Name, dtype: object, average rating: 2.52 in 278 reviews
(278, 17770)
(278, 1)
Movie #1575, 1574    Muddy Waters Can't Be Satisfied
Name: Name, dtype: object, average rating: 3.64 in 320 reviews
(320, 17770)
(320, 1)
Movie #1576, 1575    Phir Milenge
Name: Name, dtype: object, average rating: 3.38 in 252 reviews
(252, 17770)
(252, 1)
Movie #1577, 1576    National Geographic: Predators at War
Name: Name, dtype: object, average rating: 3.37 in 93 reviews
(93, 17770)
(93, 1)
Movie #1578, 1577    Nine Months
Name: Name, dtype: object, average rating: 3.20 in 18542 reviews
(18542, 17770)
(18542, 1)
Movie #1579, 1578    Shaolin Ulysses: Kung Fu Monks in America
Name: Name, dtype: object, average rating: 2.87 in 506 reviews
(506, 17770)
(506, 1)
Movie #1580, 1579    City on Fire
Name: Name, dtype: object, average rating: 3.08 in 857 reviews
(857, 17770)
(857, 1)
Movie #1581, 1580    Twilight of the Golds
Name: Name, dtype: object, average rating: 3.40 in 1200 reviews
(1200, 17770)
(1200, 1)
Movie #1582, 1581    Stephen King's It!
Name: Name, dtype: object, average rating: 3.56 in 11341 reviews
(11341, 17770)
(11341, 1)
Movie #1583, 1582    Moog
Name: Name, dtype: object, average rating: 3.24 in 212 reviews
(212, 17770)
(212, 1)
Movie #1584, 1583    Rammstein: Live Aus Berlin
Name: Name, dtype: object, average rating: 3.79 in 145 reviews
(145, 17770)
(145, 1)
Movie #1585, 1584    Joy Ride
Name: Name, dtype: object, average rating: 3.35 in 21359 reviews
(21359, 17770)
(21359, 1)
Movie #1586, 1585    Marihuana / Assassin of Youth / Reefer Madness
Name: Name, dtype: object, average rating: 2.76 in 420 reviews
(420, 17770)
(420, 1)
Movie #1587, 1586    Harakiri
Name: Name, dtype: object, average rating: 4.37 in 146 reviews
(146, 17770)
(146, 1)
Movie #1588, 1587    Revolutionary Girl Utena
Name: Name, dtype: object, average rating: 3.47 in 422 reviews
(422, 17770)
(422, 1)
Movie #1589, 1588    Shoot to Kill
Name: Name, dtype: object, average rating: 3.60 in 3033 reviews
(3033, 17770)
(3033, 1)
Movie #1590, 1589    Life as a House
Name: Name, dtype: object, average rating: 3.93 in 42933 reviews
(42933, 17770)
(42933, 1)
Movie #1591, 1590    Count Duckula: Season 1
Name: Name, dtype: object, average rating: 3.03 in 59 reviews
(59, 17770)
(59, 1)
Movie #1592, 1591    Once Upon a Crime
Name: Name, dtype: object, average rating: 3.06 in 406 reviews
(406, 17770)
(406, 1)
Movie #1593, 1592    P.D. James: Cover Her Face
Name: Name, dtype: object, average rating: 3.81 in 672 reviews
(672, 17770)
(672, 1)
Movie #1594, 1593    Damn the Defiant
Name: Name, dtype: object, average rating: 3.04 in 2414 reviews
(2414, 17770)
(2414, 1)
Movie #1595, 1594    The Third Man
Name: Name, dtype: object, average rating: 3.98 in 17111 reviews
(17111, 17770)
(17111, 1)
Movie #1596, 1595    The High and the Mighty
Name: Name, dtype: object, average rating: 3.76 in 1007 reviews
(1007, 17770)
(1007, 1)
Movie #1597, 1596    Cracking the Code of Life: Nova
Name: Name, dtype: object, average rating: 3.62 in 230 reviews
(230, 17770)
(230, 1)
Movie #1598, 1597    Manito
Name: Name, dtype: object, average rating: 2.70 in 907 reviews
(907, 17770)
(907, 1)
Movie #1599, 1598    Fantasia 2000
Name: Name, dtype: object, average rating: 3.56 in 11478 reviews
(11478, 17770)
(11478, 1)
Movie #1600, 1599    Poison Ivy 2
Name: Name, dtype: object, average rating: 2.92 in 2744 reviews
(2744, 17770)
(2744, 1)
Movie #1601, 1600    J.R.R. Tolkien and the Birth of The Lord of th...
Name: Name, dtype: object, average rating: 2.97 in 235 reviews
(235, 17770)
(235, 1)
Movie #1602, 1601    Dungeons & Dragons
Name: Name, dtype: object, average rating: 2.63 in 5797 reviews
(5797, 17770)
(5797, 1)
Movie #1603, 1602    Eaten Alive
Name: Name, dtype: object, average rating: 2.48 in 124 reviews
(124, 17770)
(124, 1)
Movie #1604, 1603    Tae Guk Gi: The Brotherhood of War
Name: Name, dtype: object, average rating: 3.93 in 2436 reviews
(2436, 17770)
(2436, 1)
Movie #1605, 1604    The River
Name: Name, dtype: object, average rating: 2.85 in 208 reviews
(208, 17770)
(208, 1)
Movie #1606, 1605    Til There Was You
Name: Name, dtype: object, average rating: 3.07 in 1607 reviews
(1607, 17770)
(1607, 1)
Movie #1607, 1606    Superbabies: Baby Geniuses 2
Name: Name, dtype: object, average rating: 2.85 in 2983 reviews
(2983, 17770)
(2983, 1)
Movie #1608, 1607    Silverlake Life: The View From Here: 10th Anni...
Name: Name, dtype: object, average rating: 3.24 in 372 reviews
(372, 17770)
(372, 1)
Movie #1609, 1608    Hunter: Season 1
Name: Name, dtype: object, average rating: 3.30 in 234 reviews
(234, 17770)
(234, 1)
Movie #1610, 1609    Get Real
Name: Name, dtype: object, average rating: 3.81 in 4639 reviews
(4639, 17770)
(4639, 1)
Movie #1611, 1610    Dead Kennedys: DMPO's On Broadway
Name: Name, dtype: object, average rating: 3.31 in 224 reviews
(224, 17770)
(224, 1)
Movie #1612, 1611    Tony Rome
Name: Name, dtype: object, average rating: 3.04 in 233 reviews
(233, 17770)
(233, 1)
Movie #1613, 1612    Very Natural Thing
Name: Name, dtype: object, average rating: 2.79 in 1251 reviews
(1251, 17770)
(1251, 1)
Movie #1614, 1613    First Degree
Name: Name, dtype: object, average rating: 2.03 in 106 reviews
(106, 17770)
(106, 1)
Movie #1615, 1614    The American President
Name: Name, dtype: object, average rating: 3.81 in 59137 reviews
(59137, 17770)
(59137, 1)
Movie #1616, 1615    The Flintstones: Season 2
Name: Name, dtype: object, average rating: 3.97 in 902 reviews
(902, 17770)
(902, 1)
Movie #1617, 1616    Renegade
Name: Name, dtype: object, average rating: 2.37 in 652 reviews

(652, 17770)
(652, 1)
Movie #1618, 1617    Nausicaa of the Valley of the Wind
Name: Name, dtype: object, average rating: 4.19 in 6674 reviews
(6674, 17770)
(6674, 1)
Movie #1619, 1618    The Journey of Natty Gann
Name: Name, dtype: object, average rating: 3.76 in 1044 reviews
(1044, 17770)
(1044, 1)
Movie #1620, 1619    The Saddle Club: The First Adventure
Name: Name, dtype: object, average rating: 3.41 in 318 reviews
(318, 17770)
(318, 1)
Movie #1621, 1620    Richard Kern: Hardcore Collection
Name: Name, dtype: object, average rating: 2.34 in 181 reviews
(181, 17770)
(181, 1)
Movie #1622, 1621    Zhou Yu's Train
Name: Name, dtype: object, average rating: 2.89 in 875 reviews
(875, 17770)
(875, 1)
Movie #1623, 1622    Pokemon Advanced
Name: Name, dtype: object, average rating: 3.45 in 253 reviews
(253, 17770)
(253, 1)
Movie #1624, 1623    The Minion
Name: Name, dtype: object, average rating: 2.46 in 127 reviews
(127, 17770)
(127, 1)
Movie #1625, 1624    Aliens: Collector's Edition
Name: Name, dtype: object, average rating: 4.14 in 43518 reviews
(43518, 17770)
(43518, 1)
Movie #1626, 1625    Suze Orman: 9 Steps to Financial Freedom
Name: Name, dtype: object, average rating: 3.21 in 243 reviews
(243, 17770)
(243, 1)
Movie #1627, 1626    The Shop Around the Corner
Name: Name, dtype: object, average rating: 3.80 in 4543 reviews
(4543, 17770)
(4543, 1)
Movie #1628, 1627    The Barchester Chronicles
Name: Name, dtype: object, average rating: 3.55 in 398 reviews
(398, 17770)
(398, 1)
Movie #1629, 1628    Sesame Street: 1-2-3
Name: Name, dtype: object, average rating: 3.51 in 816 reviews
(816, 17770)
(816, 1)
Movie #1630, 1629    The New Avengers: Season 1
Name: Name, dtype: object, average rating: 3.04 in 217 reviews
(217, 17770)
(217, 1)
Movie #1631, 1630    On a Clear Day You Can See Forever
Name: Name, dtype: object, average rating: 3.60 in 1123 reviews
(1123, 17770)
(1123, 1)
Movie #1632, 1631    Mean Creek
Name: Name, dtype: object, average rating: 3.09 in 13289 reviews
(13289, 17770)
(13289, 1)
Movie #1633, 1632    The Serpent and the Rainbow
Name: Name, dtype: object, average rating: 3.41 in 7194 reviews
(7194, 17770)
(7194, 1)
Movie #1634, 1633    Snowball Express
Name: Name, dtype: object, average rating: 3.67 in 792 reviews
(792, 17770)
(792, 1)
Movie #1635, 1634    Striking Resemblance
Name: Name, dtype: object, average rating: 2.42 in 101 reviews
(101, 17770)
(101, 1)
Movie #1636, 1635    The Lady and the Highwayman
Name: Name, dtype: object, average rating: 2.08 in 241 reviews
(241, 17770)
(241, 1)
Movie #1637, 1636    Trapped
Name: Name, dtype: object, average rating: 3.52 in 18446 reviews
(18446, 17770)
(18446, 1)
Movie #1638, 1637    The Fortune Cookie
Name: Name, dtype: object, average rating: 3.34 in 2065 reviews
(2065, 17770)
(2065, 1)
Movie #1639, 1638    Battle Athletes: Vol. 1: On Your Mark
Name: Name, dtype: object, average rating: 3.23 in 324 reviews
(324, 17770)
(324, 1)
Movie #1640, 1639    Stakes
Name: Name, dtype: object, average rating: 1.76 in 101 reviews
(101, 17770)
(101, 1)
Movie #1641, 1640    Revenge
Name: Name, dtype: object, average rating: 2.87 in 180 reviews
(180, 17770)
(180, 1)
Movie #1642, 1641    Casino: 10th Anniversary Edition
Name: Name, dtype: object, average rating: 4.03 in 38378 reviews
(38378, 17770)
(38378, 1)
Movie #1643, 1642    Rules: Pyaar Ka Superhit Formula
Name: Name, dtype: object, average rating: 3.09 in 153 reviews
(153, 17770)
(153, 1)
Movie #1644, 1643    Tom Dowd and the Language of Music
Name: Name, dtype: object, average rating: 4.07 in 855 reviews
(855, 17770)
(855, 1)
Movie #1645, 1644    The In-Laws
Name: Name, dtype: object, average rating: 3.23 in 22793 reviews
(22793, 17770)
(22793, 1)
Movie #1646, 1645    The Dead Zone
Name: Name, dtype: object, average rating: 3.65 in 9279 reviews
(9279, 17770)
(9279, 1)
Movie #1647, 1646    Eric Clapton: One More Car
Name: Name, dtype: object, average rating: 3.91 in 905 reviews
(905, 17770)
(905, 1)
Movie #1648, 1647    The Death of the Incredible Hulk
Name: Name, dtype: object, average rating: 3.15 in 651 reviews
(651, 17770)
(651, 1)
Movie #1649, 1648    Shalimar
Name: Name, dtype: object, average rating: 2.38 in 80 reviews
(80, 17770)
(80, 1)
Movie #1650, 1649    Nine to Five
Name: Name, dtype: object, average rating: 3.49 in 52470 reviews
(52470, 17770)
(52470, 1)
Movie #1651, 1650    The People That Time Forgot
Name: Name, dtype: object, average rating: 2.87 in 331 reviews
(331, 17770)
(331, 1)
Movie #1652, 1651    The Twilight Zone: Vol. 37
Name: Name, dtype: object, average rating: 4.14 in 2236 reviews
(2236, 17770)
(2236, 1)
Movie #1653, 1652    Spike & Mike's Sick & Twisted Festival of Anim...
Name: Name, dtype: object, average rating: 2.76 in 145 reviews
(145, 17770)
(145, 1)
Movie #1654, 1653    I Love You
Name: Name, dtype: object, average rating: 2.76 in 1011 reviews
(1011, 17770)
(1011, 1)
Movie #1655, 1654    Talk Radio
Name: Name, dtype: object, average rating: 3.33 in 2582 reviews
(2582, 17770)
(2582, 1)
Movie #1656, 1655    Two Girls and a Guy
Name: Name, dtype: object, average rating: 2.72 in 2603 reviews
(2603, 17770)
(2603, 1)
Movie #1657, 1656    Forbidden Games
Name: Name, dtype: object, average rating: 2.43 in 187 reviews
(187, 17770)
(187, 1)
Movie #1658, 1657    Yes
Name: Name, dtype: object, average rating: 3.94 in 1061 reviews
(1061, 17770)
(1061, 1)
Movie #1659, 1658    Grumpy Old Men
Name: Name, dtype: object, average rating: 3.68 in 42046 reviews
(42046, 17770)
(42046, 1)
Movie #1660, 1659    SpongeBob SquarePants: Season 2
Name: Name, dtype: object, average rating: 4.12 in 3047 reviews
(3047, 17770)
(3047, 1)
Movie #1661, 1660    The Bad News Bears
Name: Name, dtype: object, average rating: 3.54 in 19085 reviews
(19085, 17770)
(19085, 1)
Movie #1662, 1661    Beat the Devil
Name: Name, dtype: object, average rating: 2.98 in 141 reviews
(141, 17770)
(141, 1)
Movie #1663, 1662    Hearst Castle: Building the Dream
Name: Name, dtype: object, average rating: 2.68 in 149 reviews
(149, 17770)
(149, 1)
Movie #1664, 1663    The King of Queens: Season 2
Name: Name, dtype: object, average rating: 3.94 in 2258 reviews
(2258, 17770)
(2258, 1)
Movie #1665, 1664    Orgazmo
Name: Name, dtype: object, average rating: 3.32 in 8371 reviews
(8371, 17770)
(8371, 1)
Movie #1666, 1665    The Brady Bunch Movie
Name: Name, dtype: object, average rating: 3.00 in 4018 reviews
(4018, 17770)
(4018, 1)
Movie #1667, 1666    Best of Travels in Europe with Rick Steves: Fr...
Name: Name, dtype: object, average rating: 3.34 in 593 reviews
(593, 17770)
(593, 1)
Movie #1668, 1667    Friday the 13th: Part 3
Name: Name, dtype: object, average rating: 3.34 in 5275 reviews
(5275, 17770)
(5275, 1)
Movie #1669, 1668    Slayer: Still Reigning
Name: Name, dtype: object, average rating: 3.83 in 281 reviews
(281, 17770)
(281, 1)
Movie #1670, 1669    Schlock!: The Secret History of American Movies
Name: Name, dtype: object, average rating: 3.13 in 175 reviews
(175, 17770)
(175, 1)
Movie #1671, 1670    El Grito
Name: Name, dtype: object, average rating: 2.32 in 79 reviews
(79, 17770)
(79, 1)
Movie #1672, 1671    Mujhse Dosti Karoge
Name: Name, dtype: object, average rating: 3.49 in 346 reviews
(346, 17770)
(346, 1)
Movie #1673, 1672    Defending Your Life
Name: Name, dtype: object, average rating: 3.44 in 7925 reviews
(7925, 17770)
(7925, 1)
Movie #1674, 1673    Kiss Me
Name: Name, dtype: object, average rating: 3.42 in 662 reviews
(662, 17770)
(662, 1)
Movie #1675, 1674    Oasis: There and Then
Name: Name, dtype: object, average rating: 3.36 in 144 reviews
(144, 17770)
(144, 1)
Movie #1676, 1675    MTV Cribs: Hip-Hop
Name: Name, dtype: object, average rating: 3.10 in 354 reviews
(354, 17770)
(354, 1)
Movie #1677, 1676    The Sadist
Name: Name, dtype: object, average rating: 2.39 in 101 reviews
(101, 17770)
(101, 1)
Movie #1678, 1677    Let It Ride
Name: Name, dtype: object, average rating: 3.50 in 987 reviews
(987, 17770)
(987, 1)
Movie #1679, 1678    The Clash: Westway to the World
Name: Name, dtype: object, average rating: 3.89 in 934 reviews
(934, 17770)
(934, 1)
Movie #1680, 1679    Into the Perilous Night: PTU
Name: Name, dtype: object, average rating: 3.05 in 147 reviews

(147, 17770)
(147, 1)
Movie #1681, 1680    The Tesseract
Name: Name, dtype: object, average rating: 2.54 in 214 reviews
(214, 17770)
(214, 1)
Movie #1682, 1681    Absolute Power
Name: Name, dtype: object, average rating: 3.69 in 25961 reviews
(25961, 17770)
(25961, 1)
Movie #1683, 1682    The Lion King: Circle of Life: Sing-Along Songs
Name: Name, dtype: object, average rating: 3.01 in 686 reviews
(686, 17770)
(686, 1)
Movie #1684, 1683    What Alice Found
Name: Name, dtype: object, average rating: 2.76 in 571 reviews
(571, 17770)
(571, 1)
Movie #1685, 1684    First Option
Name: Name, dtype: object, average rating: 2.50 in 74 reviews
(74, 17770)
(74, 1)
Movie #1686, 1685    Riding the Rails: American Experience
Name: Name, dtype: object, average rating: 3.62 in 551 reviews
(551, 17770)
(551, 1)
Movie #1687, 1686    Eloise at the Plaza
Name: Name, dtype: object, average rating: 3.46 in 1579 reviews
(1579, 17770)
(1579, 1)
Movie #1688, 1687    To Sleep With a Vampire
Name: Name, dtype: object, average rating: 2.28 in 122 reviews
(122, 17770)
(122, 1)
Movie #1689, 1688    Concert for George
Name: Name, dtype: object, average rating: 3.97 in 2666 reviews
(2666, 17770)
(2666, 1)
Movie #1690, 1689    Savage Garden: Superstars and Cannonballs
Name: Name, dtype: object, average rating: 3.31 in 97 reviews
(97, 17770)
(97, 1)
Movie #1691, 1690    Lupin the 3rd
Name: Name, dtype: object, average rating: 3.57 in 472 reviews
(472, 17770)
(472, 1)
Movie #1692, 1691    Lonesome Dove
Name: Name, dtype: object, average rating: 4.14 in 9610 reviews
(9610, 17770)
(9610, 1)
Movie #1693, 1692    Sphere
Name: Name, dtype: object, average rating: 3.00 in 12425 reviews
(12425, 17770)
(12425, 1)
Movie #1694, 1693    A Lesson Before Dying
Name: Name, dtype: object, average rating: 3.64 in 2452 reviews
(2452, 17770)
(2452, 1)
Movie #1695, 1694    Target
Name: Name, dtype: object, average rating: 2.97 in 254 reviews
(254, 17770)
(254, 1)
Movie #1696, 1695    Backstreet Boys: Backstreet Stories
Name: Name, dtype: object, average rating: 2.11 in 100 reviews
(100, 17770)
(100, 1)
Movie #1697, 1696    Wire in the Blood: The Mermaids Singing
Name: Name, dtype: object, average rating: 3.86 in 815 reviews
(815, 17770)
(815, 1)
Movie #1698, 1697    Escape from Alaska
Name: Name, dtype: object, average rating: 2.94 in 109 reviews
(109, 17770)
(109, 1)
Movie #1699, 1698    How the West Was Fun
Name: Name, dtype: object, average rating: 3.47 in 781 reviews
(781, 17770)
(781, 1)
Movie #1700, 1699    Bottle Rocket
Name: Name, dtype: object, average rating: 3.58 in 27449 reviews
(27449, 17770)
(27449, 1)
Movie #1701, 1700    Out-of-Sync
Name: Name, dtype: object, average rating: 2.67 in 150 reviews
(150, 17770)
(150, 1)
Movie #1702, 1701    Superstar: The Life and Times of Andy Warhol
Name: Name, dtype: object, average rating: 3.04 in 481 reviews
(481, 17770)
(481, 1)
Movie #1703, 1702    Ever After: A Cinderella Story
Name: Name, dtype: object, average rating: 3.83 in 48190 reviews
(48190, 17770)
(48190, 1)
Movie #1704, 1703    The Three Musketeers
Name: Name, dtype: object, average rating: 3.75 in 4312 reviews
(4312, 17770)
(4312, 1)
Movie #1705, 1704    Agatha Christie's Marple: Series 1
Name: Name, dtype: object, average rating: 3.68 in 269 reviews
(269, 17770)
(269, 1)
Movie #1706, 1705    Strings
Name: Name, dtype: object, average rating: 2.98 in 92 reviews
(92, 17770)
(92, 1)
Movie #1707, 1706    Outfoxed: Rupert Murdoch's War on Journalism
Name: Name, dtype: object, average rating: 3.80 in 11218 reviews
(11218, 17770)
(11218, 1)
Movie #1708, 1707    Modern Times
Name: Name, dtype: object, average rating: 3.95 in 7460 reviews
(7460, 17770)
(7460, 1)
Movie #1709, 1708    Clash of the Titans
Name: Name, dtype: object, average rating: 3.67 in 20036 reviews
(20036, 17770)
(20036, 1)
Movie #1710, 1709    Dora the Explorer: Super Babies
Name: Name, dtype: object, average rating: 3.79 in 572 reviews
(572, 17770)
(572, 1)
Movie #1711, 1710    13 Moons
Name: Name, dtype: object, average rating: 2.58 in 431 reviews
(431, 17770)
(431, 1)
Movie #1712, 1711    Chronos: Special Edition
Name: Name, dtype: object, average rating: 3.23 in 438 reviews
(438, 17770)
(438, 1)
Movie #1713, 1712    Patlabor: The Mobile Police: Original Series
Name: Name, dtype: object, average rating: 3.49 in 290 reviews
(290, 17770)
(290, 1)
Movie #1714, 1713    Jodi No. 1
Name: Name, dtype: object, average rating: 2.84 in 92 reviews
(92, 17770)
(92, 1)
Movie #1715, 1714    Confessions of an American Bride
Name: Name, dtype: object, average rating: 2.89 in 473 reviews
(473, 17770)
(473, 1)
Movie #1716, 1715    The Hound of the Baskervilles
Name: Name, dtype: object, average rating: 2.99 in 304 reviews
(304, 17770)
(304, 1)
Movie #1717, 1716    Bear in the Big Blue House: Heroes of Woodland...
Name: Name, dtype: object, average rating: 3.50 in 316 reviews
(316, 17770)
(316, 1)
Movie #1718, 1717    Clifford
Name: Name, dtype: object, average rating: 3.13 in 504 reviews
(504, 17770)
(504, 1)
Movie #1719, 1718    The Life Aquatic with Steve Zissou
Name: Name, dtype: object, average rating: 3.08 in 58364 reviews
(58364, 17770)
(58364, 1)
Movie #1720, 1719    Tony Bennett's Wonderful World: Live in San Fr...
Name: Name, dtype: object, average rating: 3.65 in 185 reviews
(185, 17770)
(185, 1)
Movie #1721, 1720    Waking Up in Reno
Name: Name, dtype: object, average rating: 2.97 in 3974 reviews
(3974, 17770)
(3974, 1)
Movie #1722, 1721    Henry V
Name: Name, dtype: object, average rating: 3.52 in 1864 reviews
(1864, 17770)
(1864, 1)
Movie #1723, 1722    Spiders
Name: Name, dtype: object, average rating: 2.44 in 557 reviews
(557, 17770)
(557, 1)
Movie #1724, 1723    The Real McCoys
Name: Name, dtype: object, average rating: 2.93 in 207 reviews
(207, 17770)
(207, 1)
Movie #1725, 1724    Ben & Arthur
Name: Name, dtype: object, average rating: 1.52 in 655 reviews
(655, 17770)
(655, 1)
Movie #1726, 1725    Travellers and Magicians
Name: Name, dtype: object, average rating: 3.36 in 300 reviews
(300, 17770)
(300, 1)
Movie #1727, 1726    Adored: Diary of a Porn Star
Name: Name, dtype: object, average rating: 2.84 in 863 reviews
(863, 17770)
(863, 1)
Movie #1728, 1727    Married... with Children: The Most Outrageous ...
Name: Name, dtype: object, average rating: 3.81 in 4139 reviews
(4139, 17770)
(4139, 1)
Movie #1729, 1728    Roughnecks: The Starship Troopers Chronicles: ...
Name: Name, dtype: object, average rating: 3.55 in 754 reviews
(754, 17770)
(754, 1)
Movie #1730, 1729    Dragon Ball: Piccolo Jr. Saga: Part 1
Name: Name, dtype: object, average rating: 4.00 in 809 reviews
(809, 17770)
(809, 1)
Movie #1731, 1730    Jackie Chan: Who is He?
Name: Name, dtype: object, average rating: 2.67 in 195 reviews
(195, 17770)
(195, 1)
Movie #1732, 1731    Reform School Girls
Name: Name, dtype: object, average rating: 2.55 in 312 reviews
(312, 17770)
(312, 1)
Movie #1733, 1732    Tom and Jerry: The Magic Ring
Name: Name, dtype: object, average rating: 3.47 in 905 reviews
(905, 17770)
(905, 1)
Movie #1734, 1733    Young Black Stallion
Name: Name, dtype: object, average rating: 3.28 in 2476 reviews
(2476, 17770)
(2476, 1)
Movie #1735, 1734    Amarcord
Name: Name, dtype: object, average rating: 3.64 in 4115 reviews
(4115, 17770)
(4115, 1)
Movie #1736, 1735    One Man's Justice
Name: Name, dtype: object, average rating: 2.88 in 115 reviews
(115, 17770)
(115, 1)
Movie #1737, 1736    Burn Up Excess: Vol. 3: Under the Gun
Name: Name, dtype: object, average rating: 3.48 in 405 reviews
(405, 17770)
(405, 1)
Movie #1738, 1737    You I Love
Name: Name, dtype: object, average rating: 2.89 in 275 reviews
(275, 17770)
(275, 1)
Movie #1739, 1738    The Importance of Being Earnest
Name: Name, dtype: object, average rating: 3.60 in 1657 reviews
(1657, 17770)
(1657, 1)
Movie #1740, 1739    Say Nothing
Name: Name, dtype: object, average rating: 2.73 in 254 reviews
(254, 17770)
(254, 1)
Movie #1741, 1740    Cowboy Bebop Remix
Name: Name, dtype: object, average rating: 3.91 in 10605 reviews
(10605, 17770)
(10605, 1)
Movie #1742, 1741    High Life
Name: Name, dtype: object, average rating: 3.37 in 153 reviews
(153, 17770)
(153, 1)
Movie #1743, 1742    The Warriors
Name: Name, dtype: object, average rating: 3.80 in 8588 reviews

(8588, 17770)
(8588, 1)
Movie #1744, 1743    Beverly Hills Cop
Name: Name, dtype: object, average rating: 3.82 in 73004 reviews
(73004, 17770)
(73004, 1)
Movie #1745, 1744    Love Me
Name: Name, dtype: object, average rating: 3.01 in 309 reviews
(309, 17770)
(309, 1)
Movie #1746, 1745    Bob Roberts
Name: Name, dtype: object, average rating: 3.41 in 11039 reviews
(11039, 17770)
(11039, 1)
Movie #1747, 1746    Hello Down There
Name: Name, dtype: object, average rating: 3.27 in 129 reviews
(129, 17770)
(129, 1)
Movie #1748, 1747    Happily Ever After: Fairy Tales for Every Child
Name: Name, dtype: object, average rating: 3.15 in 407 reviews
(407, 17770)
(407, 1)
Movie #1749, 1748    Angel and the Badman
Name: Name, dtype: object, average rating: 3.39 in 1319 reviews
(1319, 17770)
(1319, 1)
Movie #1750, 1749    Beast From Haunted Cave/The Brain That Wouldn'...
Name: Name, dtype: object, average rating: 2.40 in 114 reviews
(114, 17770)
(114, 1)
Movie #1751, 1750    L'Ennui
Name: Name, dtype: object, average rating: 2.61 in 416 reviews
(416, 17770)
(416, 1)
Movie #1752, 1751    It's Me
Name: Name, dtype: object, average rating: 2.88 in 104 reviews
(104, 17770)
(104, 1)
Movie #1753, 1752    Making Marines
Name: Name, dtype: object, average rating: 3.47 in 116 reviews
(116, 17770)
(116, 1)
Movie #1754, 1753    Sixteen Candles
Name: Name, dtype: object, average rating: 3.99 in 65363 reviews
(65363, 17770)
(65363, 1)
Movie #1755, 1754    Prom Night III / Prom Night IV: Double Feature
Name: Name, dtype: object, average rating: 2.49 in 153 reviews
(153, 17770)
(153, 1)
Movie #1756, 1755    Murder on the Orient Express
Name: Name, dtype: object, average rating: 3.74 in 4785 reviews
(4785, 17770)
(4785, 1)
Movie #1757, 1756    The Lord of the Rings
Name: Name, dtype: object, average rating: 3.48 in 4729 reviews
(4729, 17770)
(4729, 1)
Movie #1758, 1757    Thomas & Friends: Hooray for Thomas
Name: Name, dtype: object, average rating: 3.39 in 184 reviews
(184, 17770)
(184, 1)
Movie #1759, 1758    Into the Woods
Name: Name, dtype: object, average rating: 3.90 in 3015 reviews
(3015, 17770)
(3015, 1)
Movie #1760, 1759    Switch
Name: Name, dtype: object, average rating: 3.12 in 2471 reviews
(2471, 17770)
(2471, 1)
Movie #1761, 1760    Lamhe
Name: Name, dtype: object, average rating: 3.51 in 238 reviews
(238, 17770)
(238, 1)
Movie #1762, 1761    Lazytown: New Superhero
Name: Name, dtype: object, average rating: 3.28 in 202 reviews
(202, 17770)
(202, 1)
Movie #1763, 1762    Diary of Lust
Name: Name, dtype: object, average rating: 2.21 in 138 reviews
(138, 17770)
(138, 1)
Movie #1764, 1763    Finest Hour: The Battle of Britain
Name: Name, dtype: object, average rating: 3.43 in 94 reviews
(94, 17770)
(94, 1)
Movie #1765, 1764    First Kid
Name: Name, dtype: object, average rating: 3.59 in 3566 reviews
(3566, 17770)
(3566, 1)
Movie #1766, 1765    All Creatures Great and Small: Series 1
Name: Name, dtype: object, average rating: 3.94 in 2327 reviews
(2327, 17770)
(2327, 1)
Movie #1767, 1766    The Gold Rush: Bonus Material
Name: Name, dtype: object, average rating: 3.92 in 96 reviews
(96, 17770)
(96, 1)
Movie #1768, 1767    Hellraiser: Hellworld
Name: Name, dtype: object, average rating: 2.97 in 1691 reviews
(1691, 17770)
(1691, 1)
Movie #1769, 1768    The Incredible Hulk Returns
Name: Name, dtype: object, average rating: 3.07 in 802 reviews
(802, 17770)
(802, 1)
Movie #1770, 1769    Trainspotting
Name: Name, dtype: object, average rating: 3.89 in 24446 reviews
(24446, 17770)
(24446, 1)
Movie #1771, 1770    A Dirty Shame
Name: Name, dtype: object, average rating: 2.61 in 8042 reviews
(8042, 17770)
(8042, 1)
Movie #1772, 1771    Flipper's New Adventure
Name: Name, dtype: object, average rating: 3.03 in 104 reviews
(104, 17770)
(104, 1)
Movie #1773, 1772    Do You Believe in Miracles?
Name: Name, dtype: object, average rating: 3.91 in 1243 reviews
(1243, 17770)
(1243, 1)
Movie #1774, 1773    Once Upon a Time When We Were Colored
Name: Name, dtype: object, average rating: 3.62 in 521 reviews
(521, 17770)
(521, 1)
Movie #1775, 1774    Dario Argento Collection: Vol. 1: Phenomena
Name: Name, dtype: object, average rating: 3.09 in 1114 reviews
(1114, 17770)
(1114, 1)
Movie #1776, 1775    Digimon: The Movie
Name: Name, dtype: object, average rating: 3.21 in 708 reviews
(708, 17770)
(708, 1)
Variance score mean: 0.16
Variance score mode: -0.02
MSE mean: 0.97
MSE mode: 1.18

In [141]:
movie_results_dict = {}
for id in range(10, 15):
    movie_id = id
    num_reviews = ratings_small[:,movie_id].count_nonzero()
    movie_name = movie_titles[movie_titles['ID'] == movie_id]['Name']
    print ('Movie #%s, %s, average rating: %.2f in %i reviews' % (
        movie_id,
        movie_name,
        np.sum(ratings_small[:,movie_id]) / num_reviews,
        int(num_reviews)
    ))

    start = time.time()
    filter_by = np.ravel((ratings_small[:,movie_id] != 0.0).toarray())
    filtered_ratings = ratings_small[filter_by,:]

    movie_mask = np.ravel(np.full((filtered_ratings.shape[1], 1), True))
    movie_mask[movie_id] = False
    X = filtered_ratings[:,movie_mask]
    y = filtered_ratings[:,movie_id].toarray()
    svd = TruncatedSVD(n_components = np.max([np.min(X.shape)-1, 1]), algorithm="arpack", random_state=0)
    Z = svd.fit_transform(X)
    #Z[Z == 0] = 3.6
    
    
    X_train, X_test, y_train, y_test = train_test_split(Z, y, test_size=0.2, random_state=0)
    print(Z.shape)
    print(y.shape)
    
    
    
    finish = time.time()
    data_time = (finish - start)
    #print 'finished choosing data in %.2f seconds' % data
    for i, name in zip([X_train, X_test, y_train, y_test], ['X_train', 'X_test', 'y_train', 'y_test']):
        print (name, ':', i.shape, '\t',)
    print()
    
    # Run the regression on the film
    start = time.time()
    regr = LinearRegression()
    regr.fit(X_train, y_train)

    y_pred_reg = regr.predict(X_test)

    #print 'Coefficients: \n', regr.coef_
    #print "Mean squared error: %.2f" % mean_squared_error(y_test, y_pred)
    print('No Clustering')
    print('Variance score: %.2f' % r2_score(y_test, y_pred_reg))
    print()
    finish = time.time()
    regr_time = finish - start
   # print ('finished regression in %.2f seconds' % regr_time)
   # print()
    movie_results_dict[id] = {
        'name': str(movie_titles[movie_titles['ID'] == movie_id]['Name']),
        'regr_time': regr_time,
        'data_time': data_time,
        'regr': regr,
        'mse': mean_squared_error(y_test, y_pred_reg),
        'r2': r2_score(y_test, y_pred_reg)
    }
    
    kmeans = KMeans(n_clusters = np.max([int(X_train.shape[0]/50)+1, 3]) , random_state=0, algorithm="full")
    kmeans.fit(X_train)
    cluster_members = kmeans.labels_
    pred_clusters = kmeans.predict(X_test)
    
    y_pred_avg_km = []
    y_pred_rand_km = []
    y_pred_clus_km = []
    y_pred_mode_km = []
    for k in range(len(pred_clusters)):
        person = pred_clusters[k]
        lookalike_y = y_train[np.where(cluster_members==person)]
        y_pred_avg_km.append([np.mean(lookalike_y)])
        y_pred_rand_km.append([np.random.choice(lookalike_y.flatten())])
        y_pred_mode_km.append(stats.mode(lookalike_y)[0][0])
        
        lookalike_x = X_train[np.where(cluster_members==person)]
        regr = LinearRegression()
        regr.fit(lookalike_x, lookalike_y)
        y_pred_clus_km.append(regr.predict(X_test[k].reshape(1, -1))[0])
        
    
    y_pred_avg_km = np.asmatrix(y_pred_avg_km)
    y_pred_mode_km = np.asmatrix(y_pred_mode_km)
    y_pred_rand_km = np.asmatrix(y_pred_rand_km)
    y_pred_clus_km = np.asmatrix(y_pred_clus_km)
    
    print('KMeans Clustering')
    print('Variance score mean: %.2f' % r2_score(y_test, y_pred_avg_km))
    print('Variance score mode: %.2f' % r2_score(y_test, y_pred_mode_km))
    print('Variance score random: %.2f' % r2_score(y_test, y_pred_rand_km))
    print('Variance score regress: %.2f' % r2_score(y_test, y_pred_clus_km))
    print()
    
    dbscan = DBSCAN()
    dbscan.fit(X_train)
    cluster_members = dbscan.labels_
    pred_clusters = dbscan.fit_predict(X_test)
    
    y_pred_avg_db = []
    y_pred_mode_db = []
    y_pred_rand_db = []
    y_pred_clus_db = []
    
    for k in range(len(pred_clusters)):
        person = pred_clusters[k]
        lookalike_y = y_train[np.where(cluster_members==person)]
        y_pred_avg_db.append([np.mean(lookalike_y)])
        y_pred_mode_db.append(stats.mode(lookalike_y)[0][0])
        y_pred_rand_db.append([np.random.choice(lookalike_y.flatten())])
        
        lookalike_x = X_train[np.where(cluster_members==person)]
        regr = LinearRegression()
        regr.fit(lookalike_x, lookalike_y)
        y_pred_clus_db.append(regr.predict(X_test[k].reshape(1, -1))[0])
        
    
    y_pred_avg_db = np.asmatrix(y_pred_avg_db)
    y_pred_mode_db = np.asmatrix(y_pred_mode_db)
    y_pred_rand_db = np.asmatrix(y_pred_rand_db)
    y_pred_clus_db = np.asmatrix(y_pred_clus_db)
    
    print('DBSCAN Clustering')
    print('Variance score mean: %.2f' % r2_score(y_test, y_pred_avg_db))
    print('Variance score mode: %.2f' % r2_score(y_test, y_pred_mode_db))
    print('Variance score random: %.2f' % r2_score(y_test, y_pred_rand_db))
    print('Variance score regress: %.2f' % r2_score(y_test, y_pred_clus_db))
    print()
    
    
    spect = SpectralClustering(n_clusters = np.max([int(X_train.shape[0]/50)+1, 3]) , random_state=0)
    spect.fit(X_train)
    cluster_members = spect.labels_
    pred_clusters = spect.fit_predict(X_test)
    
    y_pred_avg_sc = []
    y_pred_mode_sc = []
    y_pred_rand_sc = []
    y_pred_clus_sc = []
    
    for k in range(len(pred_clusters)):
        person = pred_clusters[k]
        lookalike_y = y_train[np.where(cluster_members==person)]
        y_pred_avg_sc.append([np.mean(lookalike_y)])
        y_pred_mode_sc.append(stats.mode(lookalike_y)[0][0])
        y_pred_rand_sc.append([np.random.choice(lookalike_y.flatten())])
        
        lookalike_x = X_train[np.where(cluster_members==person)]
        regr = LinearRegression()
        regr.fit(lookalike_x, lookalike_y)
        y_pred_clus_sc.append(regr.predict(X_test[k].reshape(1, -1))[0])
        
    
    y_pred_avg_sc = np.asmatrix(y_pred_avg_sc)
    y_pred_mode_sc = np.asmatrix(y_pred_mode_sc)
    y_pred_rand_sc = np.asmatrix(y_pred_rand_sc)
    y_pred_clus_sc = np.asmatrix(y_pred_clus_sc)
    
    print('Spectral Clustering')
    print('Variance score mean: %.2f' % r2_score(y_test, y_pred_avg_sc))
    print('Variance score mode: %.2f' % r2_score(y_test, y_pred_mode_sc))
    print('Variance score random: %.2f' % r2_score(y_test, y_pred_rand_sc))
    print('Variance score regress: %.2f' % r2_score(y_test, y_pred_clus_sc))
    print()
    
    agg = AgglomerativeClustering(n_clusters = np.max([int(X_train.shape[0]/50)+1, 3]))
    agg.fit(X_train)
    cluster_members = agg.labels_
    pred_clusters = agg.fit_predict(X_test)
    
    y_pred_avg_ac = []
    y_pred_mode_ac = []
    y_pred_rand_ac = []
    y_pred_clus_ac = []
    
    for k in range(len(pred_clusters)):
        person = pred_clusters[k]
        lookalike_y = y_train[np.where(cluster_members==person)]
        y_pred_avg_ac.append([np.mean(lookalike_y)])
        y_pred_mode_ac.append(stats.mode(lookalike_y)[0][0])
        y_pred_rand_ac.append([np.random.choice(lookalike_y.flatten())])
        
        lookalike_x = X_train[np.where(cluster_members==person)]
        regr = LinearRegression()
        regr.fit(lookalike_x, lookalike_y)
        y_pred_clus_ac.append(regr.predict(X_test[k].reshape(1, -1))[0])
        
    
    y_pred_avg_ac = np.asmatrix(y_pred_avg_ac)
    y_pred_mode_ac = np.asmatrix(y_pred_mode_ac)
    y_pred_rand_ac = np.asmatrix(y_pred_rand_ac)
    y_pred_clus_ac = np.asmatrix(y_pred_clus_ac)
    
    print('Agglomerative Clustering')
    print('Variance score mean: %.2f' % r2_score(y_test, y_pred_avg_ac))
    print('Variance score mode: %.2f' % r2_score(y_test, y_pred_mode_ac))
    print('Variance score random: %.2f' % r2_score(y_test, y_pred_rand_ac))
    print('Variance score regress: %.2f' % r2_score(y_test, y_pred_clus_ac))
    print()

Movie #10, 9    Fighter
Name: Name, dtype: object, average rating: 3.18 in 249 reviews
(249, 248)
(249, 1)
X_train : (199, 248)
X_test : (50, 248)
y_train : (199, 1)
y_test : (50, 1)

No Clustering
Variance score: 0.07

KMeans Clustering
Variance score mean: 0.01
Variance score mode: -0.01
Variance score random: -0.71
Variance score regress: 0.15

DBSCAN Clustering
Variance score mean: -0.01
Variance score mode: -0.05
Variance score random: -0.68
Variance score regress: 0.07

Spectral Clustering
Variance score mean: -0.08
Variance score mode: -0.26
Variance score random: -1.80
Variance score regress: 0.11

Agglomerative Clustering
Variance score mean: -0.86
Variance score mode: -1.94
Variance score random: -1.15
Variance score regress: -1.57

Movie #11, 10    Full Frame: Documentary Shorts
Name: Name, dtype: object, average rating: 3.03 in 198 reviews

/Users/Cat/anaconda3/lib/python3.6/site-packages/sklearn/manifold/spectral_embedding_.py:234: UserWarning: Graph is not fully connected, spectral embedding may not work as expected.
  warnings.warn("Graph is not fully connected, spectral embedding"

(198, 197)
(198, 1)
X_train : (158, 197)
X_test : (40, 197)
y_train : (158, 1)
y_test : (40, 1)

No Clustering
Variance score: -0.34

KMeans Clustering
Variance score mean: -0.23
Variance score mode: -0.21
Variance score random: -0.82
Variance score regress: -0.44

DBSCAN Clustering
Variance score mean: -0.18
Variance score mode: -0.13
Variance score random: -0.71
Variance score regress: -0.34

Spectral Clustering
Variance score mean: -0.19
Variance score mode: -0.21
Variance score random: -1.45
Variance score regress: -0.32

/Users/Cat/anaconda3/lib/python3.6/site-packages/sklearn/manifold/spectral_embedding_.py:234: UserWarning: Graph is not fully connected, spectral embedding may not work as expected.
  warnings.warn("Graph is not fully connected, spectral embedding"

Agglomerative Clustering
Variance score mean: -0.26
Variance score mode: -0.21
Variance score random: -0.66
Variance score regress: -0.14

Movie #12, 11    My Favorite Brunette
Name: Name, dtype: object, average rating: 3.42 in 546 reviews
(546, 545)
(546, 1)
X_train : (436, 545)
X_test : (110, 545)
y_train : (436, 1)
y_test : (110, 1)

No Clustering
Variance score: -11.52

KMeans Clustering
Variance score mean: -0.05
Variance score mode: -0.26
Variance score random: -0.47
Variance score regress: -1.00

DBSCAN Clustering
Variance score mean: -0.00
Variance score mode: -0.15
Variance score random: -1.02
Variance score regress: -11.52

/Users/Cat/anaconda3/lib/python3.6/site-packages/sklearn/manifold/spectral_embedding_.py:234: UserWarning: Graph is not fully connected, spectral embedding may not work as expected.
  warnings.warn("Graph is not fully connected, spectral embedding"

Spectral Clustering
Variance score mean: -0.43
Variance score mode: -0.60
Variance score random: -1.21
Variance score regress: -1.05

Agglomerative Clustering
Variance score mean: -0.05
Variance score mode: -0.09
Variance score random: -0.54
Variance score regress: -0.16

Movie #13, 12    Lord of the Rings: The Return of the King: Ext...
Name: Name, dtype: object, average rating: 4.55 in 125 reviews
(125, 124)
(125, 1)
X_train : (100, 124)
X_test : (25, 124)
y_train : (100, 1)
y_test : (25, 1)

No Clustering
Variance score: -2.51

KMeans Clustering
Variance score mean: 0.03
Variance score mode: -0.66
Variance score random: -1.34
Variance score regress: -0.20

DBSCAN Clustering
Variance score mean: -0.02
Variance score mode: -0.66
Variance score random: -0.46
Variance score regress: -2.51

/Users/Cat/anaconda3/lib/python3.6/site-packages/sklearn/manifold/spectral_embedding_.py:234: UserWarning: Graph is not fully connected, spectral embedding may not work as expected.
  warnings.warn("Graph is not fully connected, spectral embedding"

Spectral Clustering
Variance score mean: -0.02
Variance score mode: -0.66
Variance score random: -1.54
Variance score regress: -0.31

Agglomerative Clustering
Variance score mean: 0.06
Variance score mode: -0.66
Variance score random: -1.34
Variance score regress: -0.11

Movie #14, 13    Nature: Antarctica
Name: Name, dtype: object, average rating: 3.03 in 118 reviews
(118, 117)
(118, 1)
X_train : (94, 117)
X_test : (24, 117)
y_train : (94, 1)
y_test : (24, 1)

No Clustering
Variance score: -2073.74

KMeans Clustering
Variance score mean: -0.01
Variance score mode: -0.21
Variance score random: -1.16
Variance score regress: -801.08

DBSCAN Clustering
Variance score mean: -0.00
Variance score mode: -0.00
Variance score random: -0.87
Variance score regress: -2073.74

Spectral Clustering
Variance score mean: -0.09
Variance score mode: -0.00
Variance score random: -0.80
Variance score regress: -13.29

Agglomerative Clustering
Variance score mean: -0.84
Variance score mode: -2.16
Variance score random: -1.28
Variance score regress: -820.43

/Users/Cat/anaconda3/lib/python3.6/site-packages/sklearn/manifold/spectral_embedding_.py:234: UserWarning: Graph is not fully connected, spectral embedding may not work as expected.
  warnings.warn("Graph is not fully connected, spectral embedding"

In [26]:
movie_results_dict[3]

{'data_time': 1.1898272037506104,
 'mse': 1.6863325,
 'name': '2    Character\nName: Name, dtype: object',
 'r2': -0.74125852269030212,
 'regr': LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False),
 'regr_time': 4.725301027297974}

In [22]:
review_nums = []
for i in range(17700):
    num_reviews = ratings_small[:,i].count_nonzero()
    review_nums.append((i, num_reviews, np.sum(ratings_small[:,i]) / num_reviews))

/Users/Cat/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in true_divide
  after removing the cwd from sys.path.

In [24]:
s = sorted(review_nums, key=lambda x: x[2])
for movie_id, num, avg_review in s[-20:]:
    print ('%s\t%s\t%s' % (num, avg_review, movie_by_id[movie_id]))

681	4.5389133627	Fruits Basket (2001)
17292	4.54256303493	The Simpsons: Season 5 (1993)
92470	4.54370065967	Star Wars: Episode V: The Empire Strikes Back (1980)
134284	4.54512078878	Lord of the Rings: The Return of the King (2003)
125	4.552	Lord of the Rings: The Return of the King: Extended Edition: Bonus Material (2003)
1883	4.55443441317	Inu-Yasha (2000)
8426	4.58129598861	The Simpsons: Season 6 (1994)
6621	4.58238936717	Arrested Development: Season 2 (2004)
220	4.58636363636	Ghost in the Shell: Stand Alone Complex: 2nd Gig (2005)
1238	4.59208400646	Veronica Mars: Season 1 (2004)
139660	4.59338393241	The Shawshank Redemption: Special Edition (1994)
89	4.59550561798	Tenchi Muyo! Ryo Ohki (1995)
25	4.6	Trailer Park Boys: Season 4 (2003)
75	4.6	Trailer Park Boys: Season 3 (2003)
1633	4.60502143295	Fullmetal Alchemist (2004)
1747	4.63880938752	Battlestar Galactica: Season 1 (2004)
7249	4.67098910195	Lost: Season 1 (2004)
74912	4.70261106365	Lord of the Rings: The Two Towers: Extended Edition (2002)
73422	4.71661082509	The Lord of the Rings: The Fellowship of the Ring: Extended Edition (2001)
73335	4.72326992568	Lord of the Rings: The Return of the King: Extended Edition (2003)